<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h6 class="widget-title">委员会用户管理</h6>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('tableysxm')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>
			<div class="widget-box" style="border:none">
				&nbsp;&nbsp;&nbsp;<a  href="javascript:void(0);"class="btn btn-primary btn-xs"  id=""
							title="添加委员会用户"
									data-mode="page" data-title="添加委员会用户"
									data-url="${ctxPath!}/pt/PtBasUserList/toAddUser"
									data-width="50%"
									data-height="80%"
									data-formatter="createhy">
					<i  class="ace-icon fa fa-plus-circle bigger-130"></i>
						新增
				</a>
				<a  href="javascript:void(0);" class="btn btn-primary btn-xs"  id="editUser">
					<i class="ace-icon fa fa-pencil-square"></i>
					修改信息</a>
				<a  href="javascript:void(0);"
						 class="btn btn-primary btn-xs"
							onclick="quit();"
							id="delSelected"  >
					<i class="ace-icon fa fa-remove bigger-130"></i>
					<span>退出委员会</span>
				</a>
				<a  class="btn btn-primary btn-xs" style="width: 80px;" id="up" onclick="up()" href="javascript:void(0);">&nbsp;&nbsp;<i class="fa  fa-level-up ">
					升序</i>&nbsp;&nbsp;&nbsp;</a>
				<a  class="btn btn-primary btn-xs" style="width: 80px;" id="down" onclick="down()" href="javascript:void(0);">&nbsp;&nbsp;<i class="fa  fa-level-down">
					降序</i>&nbsp;&nbsp;&nbsp;</a>
			</div>
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
					<form action="" method="post" id="form1">
						<table id="tableysxm"></table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#tableysxm").bootstrapTable({
			inconSize : 'sm',
			height:300,
			clickToSelect : true,
			url : '${ctxPath!}/pt/PtBasUserList/showList',
			striped : true,
			columns : [ 
			{	field:"chk", 
				radio : true
			},{ field : "puid",
				title : '序号',
				formatter : function(value, row, index) {
				return index + 1;
			}},{
				field : "orderCode",
				title : '排序号',
				sortable : true
			},{
				field : "realName",
				title : '用户姓名',
				sortable : true
			},{
				field : "rolename",
				title : '角色',
				sortable : true
			},{
				field : "post",
				title : '职务',
				sortable : true
			},{ 
				field : "orgname",
				title : '所在部门',
				sortable : true
			}]
		});
		
	});
	//退出委员会
	function quit(){
		var radio = $("#tableysxm").bootstrapTable('getSelections');
		if(radio==""){
			layer.msg('<span class="red bigger-120">请先选择要退出委员会的用户！</span>');
		}else{	
	layer.confirm("你确定要退出委员会吗？",function(){
			for(var i=0;i<radio.length;i++){
				var row = radio[i];
				 $.post("${ctxPath!}/pt/PtBasUserList/deleteById",
						 {'puid':row.puid},
	function(result){
					 if(result.code==1){
						 layer.msg("退出委员会成功",1,1);
						 $("#tableysxm").bootstrapTable('refresh');
					}else{
						layer.msg('<span class="red bigger-120">退出委员会失败</span>',2);
					}
				 },"json");
			}
			layer.close();
		});
		}
	} 
	
	//升序
	function up(){
		 var all = $('#tableysxm').bootstrapTable("getData");
		 var rows = $('#tableysxm').bootstrapTable("getSelections");
		 if(rows.length <= 0){
			 layer.msg('<span class="red bigger-120">请先选择数据</span>');
		 }
		 var obj = rows[0];
		 if(obj.orderCode != all[0].orderCode){//选中的排序号
			 var index1,index2;
			 var data1,data2;
			 var ids = [];
			 for(var i = 0; i<all.length; i++){//遍历所有的数据
				 if(all[i].orderCode == obj.orderCode){
					 ids.push(all[i-1].orderCode);//前一个
					 ids.push(obj.orderCode);//当前的
					 
					 index1 = i-1;//前一个位置索引
					 data1 = all[i];//后一个数据
					 
					 index2 = i;//当前位置索引
					 data2 = all[i-1];//前一个数据
				 }
			 }
			 var row=rows[0];
			 $.post("${ctxPath!}/pt/PtBasUserList/ascOrder",
					 {'puid':row.puid,'prepuid':all[index1].puid,'orderCode':row.orderCode,'preorderCode':all[index1].orderCode},
					function(result){
				 		if(result.code==1){
					 		//layer.msg("删除成功",1,1);
							 //$("#tableysxm").bootstrapTable('refresh');
							 var a=data2.orderCode;
			 				var b=data1.orderCode;
			 				$('#tableysxm').bootstrapTable('remove', {field: 'orderCode', values: ids});//先删除触发的两行
			 				data1.orderCode=a;
			 				data2.orderCode=b;
							$('#tableysxm').bootstrapTable('insertRow', {index: index1, row: data1});//插入第一行
							$('#tableysxm').bootstrapTable('insertRow', {index: index2, row: data2});//插入第二行 
						}else{
							layer.msg("操作失败",2);
						}
					 },"json");
			 var select = $('#tableysxm').bootstrapTable("getSelections");
			 var id = select[0].orderCode;
			/*  if(id == all[0].orderCode){
				 $("#up").removeClass("btn-purple");
				 $("#up").addClass(".disabled");
			 }else{
				 $("#up").removeClass(".disabled");
				 $("#up").addClass("btn-purple");
			 }
			 if(id == all[all.length-1].orderCode){
				 $("#down").removeClass("btn-purple");
				 $("#down").addClass(".disabled");
			 }else{
				 $("#down").removeClass(".disabled");
				 $("#down").addClass("btn-purple");
			 } */
			 
		 }
	}
	
	//降序
	function down(){
		 var all = $('#tableysxm').bootstrapTable("getData");
		 var rows = $('#tableysxm').bootstrapTable("getSelections");
		 if(rows.length <= 0){
			 layer.msg('<span class="red bigger-120">请先选择数据</span>');
		 }
		 var obj = rows[0];
		 if(obj.orderCode != all[all.length-1].orderCode){
			 var index1,index2;
			 var data1,data2;
			 var ids = [];
			 for(var i = 0; i<all.length; i++){
				 
				 if(all[i].orderCode == obj.orderCode){
					 ids.push(obj.orderCode);
					 ids.push(all[i+1].orderCode);
					 
					 index1 = i;
					 data1 = all[i+1];
					 
					 index2 = i+1;
					 data2 = all[i];
				 }
			 }
			 
			 var row=rows[0];
			 $.post("${ctxPath!}/pt/PtBasUserList/desOrder",
					 {'puid':row.puid,'nextpuid':all[index2].puid,'orderCode':row.orderCode,'nextorderCode':all[index2].orderCode},
					function(result){
				 		if(result.code==1){
					 		//layer.msg("删除成功",1,1);
							 //$("#tableysxm").bootstrapTable('refresh');
				 			 var a=data1.orderCode;
							 var b=data2.orderCode;
							 $('#tableysxm').bootstrapTable('remove', {field: 'orderCode', values: ids});
							 data1.orderCode = b;
							 data2.orderCode = a;
							 $('#tableysxm').bootstrapTable('insertRow', {index: index1, row: data1});
							 $('#tableysxm').bootstrapTable('insertRow', {index: index2, row: data2});
						}else{
							layer.msg('<span class="red bigger-120">操作失败</span>',2);
						}
					 },"json");
			 var select = $('#tableysxm').bootstrapTable("getSelections");
			 var id = select[0].orderCode;
			 /* if(id == 1){
				 $("#up").removeClass("btn-purple");
				 $("#up").addClass(".disabled");
			 }else{
				 $("#up").removeClass(".disabled");
				 $("#up").addClass("btn-purple");
			 }
			 if(id == all.length){
				 $("#down").removeClass("btn-purple");
				 $("#down").addClass(".disabled");
			 }else{
				 $("#down").removeClass(".disabled");
				 $("#down").addClass("btn-purple");
			 } */
		 }
	}
	
	//修改委员用户
	$("#editUser").click(function(){
		var rows = $('#tableysxm').bootstrapTable("getSelections");
		if(rows.length==0){
			layer.msg('<span class="red bigger-120">请选择要操作的数据</span>');
			return;
		}else if(rows.length>1){
			layer.msg('<span class="red bigger-120">请选择一条数据进行操作</span>');
			return;
		}else{
			var row = rows[0];
			var params = {
				mode : 'page',
				width : '50%',
				height : '60%',
				url : "${ctxPath!}/pt/PtBasUserList/toEditUser",
				title:'修改用户信息',
				data:{puid:row.puid}
			};
			$.cuslayer(params);
		}
	});
</script>