<div class="layer">
  <form id="codeform" class="codeform" method="post" action="${ctxPath!}/pt/bascode/saveBasCode">
    <input type="hidden" value="${id}" name="id" />
    <table class="EditTable" width="100%">
    		<tbody>
    		<tr class="FormData">   			
    						
			</tr>
    			<tr class="FormData">
				<td class="CaptionTD">编码:</td>
				<td class="DataTD width-100" colspan="3"><input  type="text" name="ecode" datatype="/^[A-Za-z0-9_]+$/g" nullmsg="请输入编码！" 	errormsg="请输入英文字符或者数字编码信息" ajaxurl="" value="" />
				</td>
			</tr>
    		
			<tr class="FormData">
				<td class="CaptionTD">编码名称:</td>
				<td class="DataTD width-100" colspan="3"><input  type="text" name="name" datatype="*" nullmsg="请输入编码名称！" 	ajaxurl="" value="" />
				</td>
			</tr>
	

			<tr class="FormData">
				<td class="CaptionTD ">是否启用:</td>
				<td class="" colspan="1">
							<input id="sysFlag"  name="sysFlag" type="checkbox" value="0" checked/>启用							
				</td>
			</tr>
			
		
			<tr>
			<td> 
			</td>
			</tr>
			</tbody>
		
    </table>
   			<div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
		<input type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form" value="确定"/>&nbsp;&nbsp;
		<input class="btn btn-primary btn-sm bigger-110" id="model-save-cancel" value="取消"/>
		</div>
  </form>   
</div>


<!-- <div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
	<input type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form" >确定</span>&nbsp;&nbsp;
	<span class="btn btn-primary btn-sm bigger-110" id="model-save-cancel">
		取消
	</span>
</div> -->
<script type="text/javascript">


$(function(){
 
 	//方法一;
	$("#codeform").Validform({
		ajaxPost:true,
		tiptype : 4,
        beforeSubmit:function(curform){
            var loadi = layer.load(5,2);
            $("#codeform").data('loadi',loadi);
        },
        tiptype : function(msg, o, cssctl) {
            if (!o.obj.is("form")) {
                if (o.type != 2) {
                    tip.errorTip(msg,o.obj);
                }
            }
        },
        tipSweep : true,
		callback:function(data){
			layer.close($("#codeform").data('loadi'));
			if(data.code=="1"){
				layer.msg(data.msg, 1, 1,function(){
					//query();
					//var treeNodes = [{"id":1, "pId":0, "name":"test1"}];
				});
				layer.closeAll('page'); 
				refreshParentNode(0);
				$("#tableCode").bootstrapTable('refresh');
				//location.reload();
			}else{
				layer.msg(data.msg,3,1);
			}
		}
	});
       
    $("#model-save-cancel").click(function(){
        layer.close(layer.index);
    });
});

</script>

