@charset "utf-8";
/*全局颜色*/
.color_all{ background:#167e77;}
/*全局文字标题颜色*/
.color_all_font{ color:#167e77;}

/*现场审计主页标题条*/
.all_scene{ border-top:2px solid #87cac5;}

/*现场审计主页分类标题颜色*/
.all_class_tit{ background:#d6e7e6;}

/*全局按钮颜色*/
.color_all_but{background:#167e77; border:1px solid #004944;}

/*用户退出按钮*/
.user_out {
	height: 55px;
	width: 150px;
	float: right;
	margin-right: 70px;
	margin-top: 12px;
}
.user_out a{width:85px; height:28px; float:right; margin:23px 0px 0px 0px; color:#005852;background:#99c5c2; border:1px solid #167e77; outline:1px solid #99c5c2; text-align:center; line-height:24px; font-size:12px;}
.user_out a:hover{ color:#fff;background:#0a5954; border:1px solid #3ab2aa; outline:1px solid #0a5954;text-decoration: none;}
/*顶部收回背景颜色*/
.top_bt{background: #d6e7e6 url(../images/up.png) center 2px no-repeat;}
.top_bt_down{background: #d6e7e6 url(../images/down.png) center 2px no-repeat;}
/*左侧收回背景颜色*/
.left_bt{background: #d6e7e6 url(../images/left.png) center 50% no-repeat;}
/*左侧一级选项背景颜色*/
.left_c{background:#167e77 url(../images/left_icon.png)7px 7px no-repeat;}