<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.bascodegroup.dao.BasCodeGroupMapper" >
  <resultMap id="BaseResultMap" type="com.krm.voteplateform.web.bascodegroup.model.BasCodeGroup" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code_group_name" property="codeGroupName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="NUMERIC" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
     <result column="PEF_PASS" property="pefPass" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID,code_group_name,parent_id,state,del_flag,create_time,create_by,update_time,update_by,PEF_PASS
  </sql>
  
  <insert id="saveBasCodeGroup" parameterType="com.krm.voteplateform.web.bascodegroup.model.BasCodeGroup">
  	insert into ${code}_code_group (ID,code_group_name,parent_id,state,del_flag,create_time,create_by,update_time,update_by,PEF_PASS) 
  	values (
  	#{id,jdbcType=VARCHAR}
  	,
  	
  	#{codeGroupName,jdbcType=VARCHAR}
  	,
  	
  	#{parentId,jdbcType=VARCHAR}
  	,
  	
  	#{state,jdbcType=NUMERIC}
  	,
  	
  	#{delFlag,jdbcType=VARCHAR}
  	,
  	
  	#{createTime}
  	,
  	
  	#{createBy,jdbcType=VARCHAR}
  	,
  	
  	#{updateTime}
  	,
  	
  	#{updateBy,jdbcType=VARCHAR}
  	,
  	#{PEF_PASS,jdbcType=VARCHAR}
  	)
  </insert>
  
  
  <select id="selectAlls" parameterType="String" resultType="com.krm.voteplateform.web.bascodegroup.model.BasCodeGroup">
  	select <include refid="Base_Column_List"/> from ${code}_BAS_CODE_GROUP  where del_flag='0' order by update_time,create_time desc
  </select>
  
   <select id="findById" resultMap="BaseResultMap" parameterType="String">
  	select <include refid="Base_Column_List"/> from ${code}_BAS_CODE_GROUP where del_flag='0' and id=#{id}
  </select>
  
  <select id="findBasCodeGroupList" resultType="java.util.Map" parameterType="java.util.Map">
 		select  ID,code_group_name,parent_id,state,del_flag from  #{tableName}_BAS_CODE_GROUP 
		<where>
				<if test="state !=null and   state  != ''  and  state != 'null'">
  				and STATE=#{state,jdbcType=VARCHAR}
  				</if>
  				<if test="delFlag !=null and delFlag !='' and delFlag !='null'">
  				and DEL_FLAG=#{delFlag,jdbcType=VARCHAR}
  				</if>
  				<if test="codeGroupName !=null and codeGroupName !='' and codeGroupName !='null'">
  				and CODE_GROUP_NAME=#{codeGroupName,jdbcType=VARCHAR}
  				</if>
		</where>
  </select>

</mapper>