<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.resource.dao.BaseResourceMapper">

	<sql id="BaseColumnList">
		RESOURCE_CODE,ID,TYPE,PARENTID,SYS_TEXT,COMM_TEXT,URL,AUTO_GEN_FLAG,TEMP_ID,TEMP_NAME,ENABLE_FLAG,DEL_FLAG,CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY,PARENT_IDS
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{type},#{parentid},#{resourceCode},#{sysText},
		#{commText},#{url},#{autoGenFlag},#{tempId},#{tempName},#{enableFlag},#{delFlag},#{createTime},
		#{createBy}, #{updateTime},#{updateBy},#{parentIds}
	</sql>
	
	<select id="listResource" resultType="java.util.Map" parameterType="java.util.Map">
		select
		<include refid="BaseColumnList" />
		from #{tableName}_bas_resource
		<where>
			TYPE = 1 and DEL_FLAG = 0
		</where>
	</select>
	
		<select id="listMenuResource" resultType="java.util.Map" parameterType="java.util.Map">
		select
		distinct(br.ID),br.RESOURCE_CODE,br.TYPE,br.PARENTID,br.SYS_TEXT,br.COMM_TEXT,br.URL,br.ENABLE_FLAG,br.DEL_FLAG,br.CREATE_TIME,br.CREATE_BY,br.UPDATE_TIME,br.UPDATE_BY
		,br.AUTO_GEN_FLAG,br.TEMP_ID,br.TEMP_NAME
		from #{tableName}_bas_resource br,#{tableName}_bas_menu_list_conf bm
		<where>
			bm.RESID = br.ID and bm.DEL_FLAG = 0 and bm.USE_FLAG= 1
			and br.DEL_FLAG = 0 
			order by  br.ID 
		</where>
	</select>
	
	<select id="getObject" parameterType="java.util.Map"  resultType="com.krm.voteplateform.web.resource.model.BasResource">
		select
		<include refid="BaseColumnList" />
		from #{code}_bas_resource
		<where>
			ID = #{id}
		</where>
	</select>
	
	<update id="update" parameterType="com.krm.voteplateform.web.resource.model.BasResource">
		update #{code}_bas_resource 
		set COMM_TEXT=#{commText}
		where ID=#{id}
	</update>
	
	<select id="getAllResources" resultType="com.krm.voteplateform.web.resource.model.BasResource" parameterType="java.util.Map">
		select ID,PARENTID,SYS_TEXT,COMM_TEXT
		from #{tableName}_BAS_RESOURCE
		where ENABLE_FLAG=0 and DEL_FLAG=0
	</select>
	
	<select id="getResourceById" parameterType="java.util.Map" resultType="java.util.Map">
		select <include refid="BaseColumnList" />
		from #{tableName}_BAS_RESOURCE where ID='${id}'
	</select>
	
	<select id="findAllMode" parameterType="java.util.Map" resultType="java.util.Map">
		select ID,NAME from PT_VOTE_PAGE_TEMPLET where TYPE=#{type}
	</select>
	
	<update id="update2" parameterType="java.util.Map">
		update #{tableName}_bas_resource 
		set COMM_TEXT=#{b.commText,jdbcType=VARCHAR},TEMP_ID=#{b.tempId,jdbcType=VARCHAR},TEMP_NAME=#{b.tempName,jdbcType=VARCHAR}
		where ID=#{b.id}
	</update>
	
	<select id="findUserResourceByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ID,COMM_TEXT,URL,PARENTID,PARENT_IDS FROM ${tableName}_BAS_RESOURCE 
		WHERE id in(
					SELECT RESID FROM PT_COMMISSION_FUNCTION 
					WHERE CRID in(
								SELECT CRID FROM PT_COMMISSION_USER_ROLE 
								WHERE PUID='${puid}' and CODE='${tableName}'
				 				) and CODE='${tableName}'
				 ) and PARENTID!=0 AND ENABLE_FLAG=0
		start with  PARENTID=#{parentid,jdbcType=VARCHAR} connect by prior id = PARENTID order by level,RE_ORDER
	</select>
	
	<select id="hasChilds" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from ${code}_BAS_RESOURCE where PARENTID='${id}' AND ENABLE_FLAG=0
	</select>
	
	<select id="listChilds" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ID,COMM_TEXT,URL,PARENTID,PARENT_IDS FROM ${code}_BAS_RESOURCE
		where PARENTID='${id}' AND ENABLE_FLAG=0
	</select>
	
	<select id="getParenTMenu" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ID,COMM_TEXT,URL,PARENTID,PARENT_IDS FROM ${code}_BAS_RESOURCE
		where ID=#{parentid}
	</select>
	
	<select id="listSyStemMenu" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT <include refid="BaseColumnList" /> FROM ${code}_BAS_RESOURCE
		where PARENTID=#{id} AND ENABLE_FLAG=0
		union
		SELECT <include refid="BaseColumnList" /> FROM ${code}_BAS_RESOURCE  
		where id=#{id}  AND ENABLE_FLAG=0
	</select>
	
	<select id="getParentidByType" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT <include refid="BaseColumnList" /> FROM ${tableName}_BAS_RESOURCE
		where PARENTID='0' AND TYPE=#{type}
	</select>
</mapper>
