<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.function.dao.PtBasFunConfMapper" >
	<sql id="BaseColumnList">
		ID,MLCID,FUNCTION_CODE,FUNCTION_NAME,TYPE,
		SYS_TEXT,COMMTEXT,BIND_EVENT_OR_URL,USE_FLAG,DEL_FLAG,
		CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY,SKIP_CLASS_METHOD,
		TEMP_ID,TEMP_NAME,DOUBLE_CLICK_FLAG,ICON
	</sql>

	<sql id="BaseColumnValueList">
		#{id,jdbcType=VARCHAR},#{mlcid,jdbcType=VARCHAR},#{functionCode,jdbcType=VARCHAR},
		#{functionName,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{sysText,jdbcType=VARCHAR},
		#{commtext,jdbcType=VARCHAR},#{bindEventOrUrl,jdbcType=VARCHAR},#{useFlag,jdbcType=VARCHAR},
		#{delFlag,jdbcType=VARCHAR},#{craeteTime,jdbcType=TIMESTAMP},#{createBy,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},
		#{tempId,jdbcType=VARCHAR},#{tempName,jdbcType=VARCHAR}
	</sql>
	<insert id="savafunction">
		insert into #{tableName}_BAS_FUN_CONF 
		(ID,MLCID,FUNCTION_CODE,FUNCTION_NAME,TYPE,
		SYS_TEXT,COMMTEXT,BIND_EVENT_OR_URL,USE_FLAG,DEL_FLAG,
		CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY)
		values 
		(
		#{id,jdbcType=VARCHAR},
		#{mlcid,jdbcType=VARCHAR},
		#{functionCode,jdbcType=VARCHAR},
		#{functionName,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{sysText,jdbcType=VARCHAR},
		#{commtext,jdbcType=VARCHAR},
		#{bindEventOrUrl,jdbcType=VARCHAR},
		#{useFlag,jdbcType=VARCHAR},
		#{delFlag,jdbcType=VARCHAR},
		#{craeteTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 根据每条数据ID，查询修改后的名称-->
	<select id="savedate" resultType="com.krm.voteplateform.web.function.model.BasFunConf" parameterType="java.util.Map">
		select
		<include refid="BaseColumnList" />
		from #{tableName}_BAS_FUN_CONF
		<where>
			ID=#{id}
		</where>
	</select>
	<select id="selectSysFunctionCode" resultType="java.lang.Integer">
		select count(1)
		from ${tableName}_BAS_FUN_CONF
		<where>
			DEL_FLAG = 0
			and FUNCTION_CODE=#{functionCode}
		</where>
	</select>
	
	 <select id="showadd" resultType="java.util.Map">
		select f.*,t.NAME as displayName
		from ${code1}_BAS_FUN_CONF f
		left join PT_VOTE_PAGE_TEMPLET t on t.ID = f.TEMP_ID
		<where>
		f.DEL_FLAG = 0 AND f.Mlcid = #{Mlcid}
		</where>
	</select>
	<select id="selectCommtext" resultType="com.krm.voteplateform.web.function.model.BasFunConf" parameterType="java.util.Map">
		select
		<include refid="BaseColumnList" />
		from #{tableName}_BAS_FUN_CONF
		<where>
			ID=#{id}
		</where>
	</select>
	<insert id="savetwodate" parameterType="com.krm.voteplateform.web.function.dao.PtBasFunConfMapper">
		insert into ${code}_BAS_FUN_CONF 
		(ID,MLCID,FUNCTION_CODE,FUNCTION_NAME,TYPE,
		 SYS_TEXT,COMMTEXT,USE_FLAG,DEL_FLAG)
		values 
		(
		#{id,jdbcType=VARCHAR},
		#{mlcid,jdbcType=VARCHAR},
		#{functionCode,jdbcType=VARCHAR},
		#{functionName,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{sysText,jdbcType=VARCHAR},
		#{commtext,jdbcType=VARCHAR},
		#{useFlag,jdbcType=VARCHAR},
		#{delFlag,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="getOneBasFunConf" resultType="com.krm.voteplateform.web.function.model.BasFunConf" parameterType="java.util.Map">
		select 	
		<include refid="BaseColumnList" />
		from #{tableName}_BAS_FUN_CONF 
		<where>
				DEL_FLAG = 0
				and 
			    USE_FLAG= 1
			<if test="functionCode !=null and functionCode !='' and functionCode !='null'">
  				and FUNCTION_CODE=#{functionCode,jdbcType=VARCHAR}
  			</if>
		</where>
	</select>
	
	<!-- 确定弹出窗高度 -->
	<select id="findBtnBasFunConf" resultType="java.util.Map" parameterType='java.util.Map'>
		select
			  ta.ID,ta.MLCID,ta.FUNCTION_CODE,ta.FUNCTION_NAME,ta.TYPE,
    ta.SYS_TEXT,ta.COMMTEXT,ta.BIND_EVENT_OR_URL,ta.USE_FLAG,ta.DEL_FLAG,
    ta.CREATE_TIME,ta.CREATE_BY,ta.UPDATE_TIME,ta.UPDATE_BY,  ta.skip_class_method,
       ta.temp_id,ta.temp_name,ta.double_click_flag,ta.icon,tb.OTID,tb.TYPE,tb.VAL
    from ${tableName}_BAS_FUN_CONF ta, #{tableName}_bas_cus_conf tb
		<where>
		ta.FUNCTION_CODE=tb.OTID(+)
		and
		ta.DEL_FLAG = 0 
		and 
		ta.USE_FLAG = 1

		<if test="mlcid !=null and mlcid !='' and mlcid !='null'">
  				and ta.MLCID=#{mlcid,jdbcType=VARCHAR}
  		</if>
  		order by ta.FUNCTION_CODE
		</where>
	</select>
	
		<!-- 查找弹出框信息 -->
		<select id="findBtnBasFunConfWind" resultType="java.util.Map" parameterType='java.util.Map'>
		select
			distinct(ta.ID),ta.MLCID,ta.FUNCTION_CODE,ta.FUNCTION_NAME,ta.TYPE,
		ta.SYS_TEXT,ta.COMMTEXT,ta.BIND_EVENT_OR_URL,ta.USE_FLAG,ta.DEL_FLAG,
		ta.CREATE_TIME,ta.CREATE_BY,ta.UPDATE_TIME,ta.UPDATE_BY,ta.DOUBLE_CLICK_FLAG
		from ${tableName}_BAS_FUN_CONF ta, ${tableName}_BAS_MENU_WIN_CONF tb
		<where>
   		ta.function_code = tb.function_code
     	and 
     	ta.DEL_FLAG = 0 
		and 
		ta.USE_FLAG = 1
     	and 
      	tb.DEL_FLAG = 0 
		and 
		tb.USE_FLAG =0
		<if test="mlcid !=null and mlcid !='' and mlcid !='null'">
  				and ta.MLCID=#{mlcid,jdbcType=VARCHAR}
  		</if>
		</where>
	</select>
	<select id="showpull" resultType="java.util.Map" parameterType="java.util.Map">
		select
			ID,NAME
		from PT_VOTE_PAGE_TEMPLET
		 <where>
		TYPE=02 
		</where> 
	</select>
	<select id="selectName" resultType="java.lang.String" parameterType="java.lang.String">
		select
			FILE_NAME
		from PT_VOTE_PAGE_TEMPLET
		 <where>
		ID=#{tempId}
		</where> 
	</select>
	

</mapper>