<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.basProExDetail.dao.BasProExDetailMapper">

	<!-- 项目扩展明细表 -->
	<sql id="BasProExDetailColumnList">
		ID, EXTEND_GROUP_ID, PROJECT_ID,
		STR1, STR2, STR3, STR4, STR5, STR6, STR7, STR8, STR9, STR10,
	 	NO1, NO2, NO3, NO4, NO5, NO6, NO7, NO8, 
	  	DATECOL1, DATECOL2, DATECOL3, DATECOL4, DATECOL5, DATECOL6, DATECOL7, DATECOL8, DATECOL9, DATECOL10, 
	  	CODENAME1_ID, CODENAME2_ID, CODENAME3_ID, CODENAME4_ID,
	  	CODENAME5_ID, CODENAME6_ID, CODENAME7_ID, CODENAME8_ID, CODENAME9_ID,
	  	CODENAME10_ID, CODENAME1_NAME, CODENAME2_NAME, CODENAME3_NAME,
	  	CODENAME4_NAME, CODENAME5_NAME, CODENAME6_NAME, CODENAME7_NAME,
	 	CODENAME8_NAME, CODENAME9_NAME, CODENAME10_NAME, DEL_FLAG, 
	  	to_char(CREATE_TIME,'YYYY-MM-DD HH24:MI:SS') as CREATE_TIME, CREATE_BY, CREATE_NAME, CREATE_IP, 
	  	to_char(UPDATE_TIME,'YYYY-MM-DD HH24:MI:SS') as UPDATE_TIME, UPDATE_BY, UPDATE_NAME, UPDATE_IP
	</sql>
	<!-- 项目扩展明细表 -->
	<sql id="BasProExDetailColumnValueList">
		#{id},#{extendGroupId},#{projectId},#{str1},#{str2},#{str3},#{str4},#{str5},#{str6},#{str7},#{str8},
		#{str9},#{str10},#{no1},#{no2},#{no3},#{no4},#{no5},#{no6},#{no7},#{no8},#{datecol1},
		#{datecol2},#{datecol3},#{datecol4},#{datecol5},#{datecol6},#{datecol7},#{datecol8},#{datecol9},#{datecol10},#{codename1Id},#{codename2Id},
		#{codename3Id},#{codename4Id},#{codename5Id},#{codename6Id},#{codename7Id},#{codename8Id},#{codename9Id},#{codename10Id},#{codename1Name},#{codename2Name},#{codename3Name},
		#{codename4Name},#{codename5Name},#{codename6Name},#{codename7Name},#{codename8Name},#{codename9Name},#{codename10Name},#{delFlag},#{createTime},#{createBy},#{createName},
		#{createIp},#{updateTime},#{updateBy},#{updateName},#{updateIp}
	</sql>
	
	
	<delete id="deleteBasProExDetail" parameterType="java.util.Map">
		delete from #{tableName}_BAS_PRO_EX_DETAIL
		<where>
			EXTEND_GROUP_ID=#{extendGroupId} and 
			PROJECT_ID=#{projectId}
		</where>
	
	</delete>
	
	

</mapper>
