<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.login.dao.LoginMapper">

	<!-- 查询是否为管理员 -->
	<select id="isAdmin" resultType="java.lang.Integer"  parameterType="java.util.Map">
		SELECT 
			COUNT(1) AS COUNT
		 FROM 
		 	PT_MANAGER_USER 
		 WHERE 
		 	USER_NAME = #{loginName} AND LOGIN_PASSWORD = #{passWord}
	</select>
	
	<!-- 查询是否为委员会用户 -->
	<select id="isCommUser" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT 
			COUNT(1) AS COUNT
		FROM
			PT_PLATEFORM_USER A,PT_PLATEFORM_USER_PASS B
		WHERE
					  A.ID = B.ID
			AND A.USER_NAME = #{loginName} 
			AND B.LOGIN_PASSWORD = #{passWord}
	</select>
	
	<!-- 根据用户名称查询委员会列表 -->
	<select id="selectCommByUser" resultType="com.krm.voteplateform.web.login.model.LoginUser" parameterType="java.util.Map">
		SELECT
			C.CODE,
			B.ID,
			A.USER_NAME,
			B.REAL_NAME,
			A.VIEW_FLAG,
			B.POST,
			B.PORG_ID,
			C.SYS_TITLE,
			C.STATE,
			C.LOGO
		FROM
			PT_COMMISSION_USER A,
			PT_PLATEFORM_USER B,
			PT_COMMISSION C
		WHERE
					A.PUID = B.ID
			AND	A.STATE = '0'
			AND A.CODE = C.CODE
			AND C.DEL_FLAG='0'
			AND A.USER_NAME = #{loginName}
		ORDER BY C.STATE DESC,C.UPDATE_TIME ASC
	</select>
	
	<!-- 根据用户名查询管理员用户 -->
	<select id="selectByUserName" resultType="com.krm.voteplateform.web.login.model.LoginUser"  parameterType="String">
		SELECT 
			ID,USER_NAME,REAL_NAME,SUPER_FLAG
		FROM
			PT_MANAGER_USER
		WHERE 
			USER_NAME = #{loginName}
	</select>
	
</mapper>
