<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.authorityrole.dao.PtAuthorityRoleMapper">

	<sql id="BaseColumnList">
		ID,CODE,AUTH_ID,CRID
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{code},#{authId},#{crid}
	</sql>
	
	<select id="" parameterType="java.util.Map" resultType="java.util.Map">
	</select>
</mapper>
