<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.ptcommissionuser.dao.PtBasUserMapper">
	<sql id="BaseColumnList">
		CODE,PUID,USER_NAME,VIEW_FLAG,ORDER_CODE,STATE
	</sql>

	<sql id="BaseColumnValueList">
		#{code},#{puid},#{userName},#{viewFlag},#{orderCode},
		#{state}
	</sql>

	<select id="selectdate" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
				p1.PUID,p1.ORDER_CODE,p2.REAL_NAME,p3.ROLENAME,p2.post,p5.ORGNAME
        FROM    
         		pt_commission_user p1
                left join pt_plateform_user p2 on p1.puid=p2.id
                left join pt_commission_user_role p4 on p1.puid=p4.puid and p1.code=p4.code
                left join pt_commission_role p3 on p4.crid=p3.crid and p1.code=p3.code
                left join PT_commission_ORG p5 on p2.PORG_ID=p5.PORGID and p1.code=p5.code
         <where>
         		p1.code=#{TableName} 
                AND P1.STATE=0 
              ORDER BY P1.ORDER_CODE ASC
		 </where>
		
	</select>
	
	<select id="findCommisionUserInfoByIds" resultType="java.util.Map" parameterType="java.util.Map">
		 select distinct(pcu.PUID),pcu.CODE,pcu.USER_NAME,pcu.VIEW_FLAG,pcu.STATE,pcu.ORDER_CODE,
      	ptu.post,ptu.email,ptu.real_name,pco.porgid,pco.orgname,pcur.crid,pcr.code,pcr.role_category,pcr.rolename from PT_COMMISSION_USER pcu,PT_PLATEFORM_USER ptu,
    	PT_COMMISSION_ORG pco,PT_COMMISSION_USER_ROLE pcur,PT_COMMISSION_ROLE pcr 
			<where>
				pcu.STATE=0
				and pcu.puid=ptu.id
       			and ptu.porg_id=pco.porgid
        		and pcur.puid=pcu.puid
			  	and pcur.crid=pcr.crid
			  	
				<if test="userId !=null and   userId != ''  and  userId != 'null'">
  				and pcu.PUID=#{userId,jdbcType=VARCHAR}
  				</if>
  				<if test="code !=null and   code != ''  and  code != 'null'">
  				and pcu.CODE=#{code,jdbcType=VARCHAR}
  				</if>
  				<if test="code !=null and   code != ''  and  code != 'null'">
  				and pcur.code=#{code,jdbcType=VARCHAR}
  				</if>
  				<if test="realName !=null and   realName != ''  and  realName != 'null'">
  				and ptu.real_name like '%' || #{realName} ||'%'
  				</if>
  				<if test="porgid !=null and   porgid != ''  and  porgid != 'null'">
  				and pco.porgid=#{porgid,jdbcType=VARCHAR}
  				</if>
  				ORDER BY pcu.ORDER_CODE ASC	
			</where>
	</select>	
	<!-- 反射查询主持人信息 -->
	<select id="findHostUserIds" resultType="java.util.Map" parameterType="java.util.Map">
		 select distinct(pcu.PUID),pcu.CODE,pcu.PUID as ECODE,pcu.USER_NAME,pcu.VIEW_FLAG,pcu.STATE,pcu.ORDER_CODE,
      	ptu.post,ptu.email,ptu.real_name as MAP_NAME,pco.porgid,pco.orgname,pcur.crid,pcr.role_category,pcr.rolename from PT_COMMISSION_USER pcu,PT_PLATEFORM_USER ptu,
    	PT_COMMISSION_ORG pco,PT_COMMISSION_USER_ROLE pcur,PT_COMMISSION_ROLE pcr 
			<where>
				pcu.STATE=0
				and pcu.puid=ptu.id
       			and ptu.porg_id=pco.porgid
        		and pcur.puid=pcu.puid
			  	and pcur.crid=pcr.crid
				<if test="userId !=null and   userId != ''  and  userId != 'null'">
  				and pcu.PUID=#{userId,jdbcType=VARCHAR}
  				</if>
  				<if test="code !=null and   code != ''  and  code != 'null'">
  				and pcu.CODE=#{code,jdbcType=VARCHAR}
  				</if>
  				<if test="realName !=null and   realName != ''  and  realName != 'null'">
  				and ptu.real_name like '%' || #{realName} ||'%'
  				</if>
  				<if test="porgid !=null and   porgid != ''  and  porgid != 'null'">
  				and pco.porgid=#{porgid,jdbcType=VARCHAR}
  				</if>
  				<if test="roleCategory !=null and   roleCategory != ''  and  roleCategory != 'null'">
  				and pcr.role_category=#{roleCategory,jdbcType=VARCHAR}
  				</if>
  				ORDER BY pcu.ORDER_CODE ASC	
			</where>
	</select>	
	
		<select id="findCommisionVoteAuths" resultType="java.util.Map" parameterType="java.util.Map">
    	SELECT  pcu.CODE,pcu.PUID,pcu.USER_NAME,pcu.VIEW_FLAG,pcu.STATE,pcu.ORDER_CODE,pa.AUTH_NAME 
    	FROM PT_COMMISSION_USER  pcu, 
	    	PT_COMMISSION_USER_ROLE pcur,
	    	PT_AUTHORITY_ROLE par,
	    	PT_AUTHORITY pa								
			<where>
				 pcu.STATE = 0 
   				and pcur.puid = pcu.puid
   				and pcur.crid = par.crid 
   				and par.auth_id=pa.id
				<if test="userId !=null and   userId != ''  and  userId != 'null'">
  				and pcu.PUID=#{userId,jdbcType=VARCHAR}
  				</if>
  				<if test="code !=null and   code != ''  and  code != 'null'">
  				and pcu.CODE=#{code,jdbcType=VARCHAR}
  				</if>		
			</where>
		</select>
		
		<select id="findMaxOrfer" parameterType="java.util.Map" resultType="com.krm.voteplateform.web.ptcommissionuser.model.PtCommissionUser">
			select <include refid="BaseColumnList"/> from PT_COMMISSION_USER where ORDER_CODE=
				(
					select max(ORDER_CODE) from PT_COMMISSION_USER where CODE='${code}' AND ORDER_CODE  &lt; ${order} and STATE='0'
				) and CODE='${code}'
		</select>
		
		<select id="findMinOrder" parameterType="java.util.Map" resultType="com.krm.voteplateform.web.ptcommissionuser.model.PtCommissionUser">
			select <include refid="BaseColumnList"/> from PT_COMMISSION_USER where ORDER_CODE=
				(
					select MIN(ORDER_CODE) from PT_COMMISSION_USER where CODE='${code}' AND ORDER_CODE  &gt; ${order} and STATE='0'
				) and CODE='${code}'
		</select>
	
	<update id="updateUserOrder" parameterType="com.krm.voteplateform.web.ptcommissionuser.model.PtCommissionUser">
		update PT_COMMISSION_USER set ORDER_CODE=${orderCode}
		where CODE=#{code} and PUID=#{puid}
	</update>
	
	<select id="getUserById" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT
				 P1.USER_NAME,
				 P1.ORDER_CODE,
				 P1.STATE,
        		 P5.CRID ,
           		 P1.PUID,
           		 P5.ID,
           		 P2.REAL_NAME
           		 
        FROM 
         		 PT_COMMISSION_USER  P1
        		 LEFT JOIN PT_COMMISSION_USER_ROLE P5 ON P1.PUID = P5.PUID AND P5.CODE=P1.CODE
        		 LEFT JOIN PT_PLATEFORM_USER P2 ON P1.PUID=P2.ID
				WHERE P1.CODE=#{code} AND P1.PUID=#{puid}
	</select>
	
	<update id="saveUserUpdate" parameterType="com.krm.voteplateform.web.ptcommissionuser.model.PtCommissionUser">
		update PT_COMMISSION_USER set USER_NAME=#{userName}
		where CODE=#{code} and PUID=#{puid}
	</update>
	
	<select id="getMaxOrder" parameterType="java.lang.String" resultType="java.lang.Integer">
		select NVL(max(ORDER_CODE), 0) from PT_COMMISSION_USER where CODE=#{code}
	</select>
	
	<insert id="addUsers" parameterType="com.krm.voteplateform.web.ptcommissionuser.model.PtCommissionUser">
		insert into PT_COMMISSION_USER (CODE,PUID,USER_NAME,VIEW_FLAG,STATE,ORDER_CODE) VALUES(#{code},#{puid},#{userName},#{viewFlag},#{state},#{orderCode})
	</insert>
	
	<select id="existUser" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from PT_COMMISSION_USER
		where CODE=#{code} and PUID=#{puid}
	</select>
	
	<select id="getUserPassword" parameterType="String" resultType="java.util.Map">
		select ID,LOGIN_PASSWORD from PT_PLATEFORM_USER_PASS where ID=#{puid}
	</select>
	
	<update id="updateUserPassword" parameterType="com.krm.voteplateform.web.plateformuserpass.PtPlateformUserPass">
		update PT_PLATEFORM_USER_PASS set ID=#{id,jdbcType=VARCHAR}
		<if test="loginPassword!=null and loginPassword!='' ">
			,LOGIN_PASSWORD=#{loginPassword}
		</if>
		where ID=#{id,jdbcType=VARCHAR}
	</update>
	
	<update id="updateUserRole" parameterType="com.krm.voteplateform.web.ptuserrole.model.PtCommissionUserRole">
		update PT_COMMISSION_USER_ROLE set CRID=#{crid,jdbcType=VARCHAR}
		where ID=#{id,jdbcType=VARCHAR}
	</update>
	
	<update id="updateUserState" parameterType="com.krm.voteplateform.web.ptcommissionuser.model.PtCommissionUser">
		update PT_COMMISSION_USER set STATE=#{state,jdbcType=VARCHAR},ORDER_CODE=#{orderCode,jdbcType=INTEGER}
		where CODE=#{code} and PUID=#{puid}
	</update>	
</mapper>
