<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.ptuserrole.dao.PtCommissionUserRoleMapper">

	<sql id="BaseColumnList">
		ID,CODE,PUID,CRID
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{code},#{puid},#{crid}
	</sql>
	
	<select id="findAllUser" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT ur.id,u.USER_NAME,o.ORGNAME,u.POST 
		from PT_COMMISSION_USER_ROLE ur,PT_PLATEFORM_USER u,PT_PLATEFORM_ORG o 
		WHERE upper(UR.code)=upper('${code}') AND U.id=UR.PUID AND o.id =u.PORG_ID and UR.CRID='1'
	</select>
	
	<select id="getUserRoleById" parameterType="java.util.Map" resultType="java.util.Map">
		select <include refid="BaseColumnList"/> from PT_COMMISSION_USER_ROLE
		where PUID=#{puid} and CODE=#{code}
	</select>
	
</mapper>
