<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.ptoutsysrelation.dao.PtOutSysRelationMapper">

	<sql id="BaseColumnList">
		ID,CODE,RELATION_CODE,NOTIFY_ADDR,to_char(UPDATE_TIME,'YYYY-MM-DD HH24:MI:SS') as
		UPDATE_TIME,RELATION_NAME
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{code},#{relationCode},#{notifyAddr},#{updateTime},#{relationName}
	</sql>
	
	<select id="getRelationList" resultType="java.util.Map">
		select OS.ID,OS.CODE,OS.RELATION_CODE,OS.RELATION_NAME,OS.NOTIFY_ADDR,to_char(OS.UPDATE_TIME,'YYYY-MM-DD HH24:MI:SS') as
		UPDATE_TIME,CN.SYS_TITLE from PT_OUT_SYS_RELATION os LEFT JOIN  PT_COMMISSION cn ON 
		OS.CODE=CN.CODE ORDER BY OS.UPDATE_TIME DESC
	</select>
	
	<select id="getRelationMap" resultType="java.util.Map" parameterType="String">
		select <include refid="BaseColumnList"/> from PT_OUT_SYS_RELATION
		where ID=#{id}
	</select>
	
	<select id="selectVotesCode" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select
			count(1) as count
		from 
			PT_OUT_SYS_RELATION
		where 
			CODE=#{code} and RELATION_CODE=#{relationCode}
	</select>
</mapper>
