<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.plateformorg.dao.PtPlateformOrgMapper">

	<sql id="BaseColumnList">
		ID,PARENT_ID,ORGNAME,SORT,CODE,ORGTYPE
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{parentId},#{orgname},#{sort},#{code},#{orgtype}
	</sql>
	
	<select id="listOrg" resultType="java.util.Map" parameterType="java.lang.String">
		select <include refid="BaseColumnList"/> from PT_PLATEFORM_ORG
	</select>
	
	<select id="toPtOrgList" resultType="java.util.Map" parameterType="java.lang.String">
		select <include refid="BaseColumnList"/> from PT_PLATEFORM_ORG o 
		WHERE o.ID NOT IN(SELECT PORGID FROM PT_COMMISSION_ORG WHERE CODE=#{code})
	</select>
	
	<select id="getPtPlateformOrgById" parameterType="java.lang.String" resultType="com.krm.voteplateform.web.plateformorg.model.PtPlateformOrg">
		select <include refid="BaseColumnList"/> from PT_PLATEFORM_ORG
		where ID=#{id}
	</select>
	
</mapper>
