<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.plateformuser.dao.PtPlateformUserMapper">

	<sql id="BaseColumnList">
		ID,PORG_ID,USER_NAME,POST,EMAIL,PHONE,REAL_NAME
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{porgId},#{userName},#{post},#{email},#{phone},#{realName}
	</sql>
	
	<select id="getUserByOrgId" resultType="java.util.Map" parameterType="java.lang.String">
		select <include refid="BaseColumnList"/> from PT_PLATEFORM_USER
		<if test="id!=null and id!='' ">
			where PORG_ID='${id}'
		</if>
	</select>
	
	<select id="toPtUserList" resultType="java.util.Map" parameterType="java.util.Map">
		select u.ID,u.REAL_NAME,u.USER_NAME,u.POST,o.ORGNAME from PT_PLATEFORM_USER u LEFT  JOIN PT_PLATEFORM_ORG o ON o.id=u.PORG_ID
		WHERE u.ID NOT IN(SELECT PUID FROM PT_COMMISSION_USER WHERE CODE=#{code} AND STATE='0' )
	</select>
	
	<select id="toPtUserListByCondition" resultType="java.util.Map" parameterType="java.util.Map">
		select u.ID,u.REAL_NAME,u.USER_NAME,u.POST,o.ORGNAME from PT_PLATEFORM_USER u LEFT  JOIN PT_PLATEFORM_ORG o ON o.id=u.PORG_ID
		WHERE u.ID NOT IN(SELECT PUID FROM PT_COMMISSION_USER WHERE CODE=#{code} AND STATE='0')
		<if test="organId!=null and organId!=''">
			and o.ID=#{organId}
		</if>
		<if test="userName!=null and userName!=''">
			and u.REAL_NAME like '%'||#{userName}||'%'  
		</if>
	</select>
	
	<select id="getPtUserById" resultType="com.krm.voteplateform.web.plateformuser.model.PtPlateformUser" parameterType="java.lang.String">
		select <include refid="BaseColumnList"/> from PT_PLATEFORM_USER
		where ID=#{puid}
	</select>
	
</mapper>
