<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.task.dao.PtSysTaskInfoMapper">

	<resultMap id="BaseResultMap"
		type="com.krm.voteplateform.web.task.model.PtSysTaskInfo">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="taskName" column="TASK_NAME" jdbcType="VARCHAR" />
		<result property="taskExplain" column="TASK_EXPLAIN" jdbcType="VARCHAR" />
		<result property="relyTask" column="RELY_TASK" jdbcType="VARCHAR" />
		<result property="taskRuneDate" column="TASK_RUNE_DATE"
			jdbcType="VARCHAR" />
		<result property="taskRuneTime" column="TASK_RUNE_TIME"
			jdbcType="VARCHAR" />
		<result property="taskStatus" column="TASK_STATUS" jdbcType="VARCHAR" />
		<result property="taskType" column="TASK_TYPE" jdbcType="VARCHAR" />
		<result property="taskBody" column="TASK_BODY" jdbcType="VARCHAR" />
		<result property="taskResource" column="TASK_RESOURCE"
			jdbcType="DECIMAL" />
		<result property="taskMethod" column="TASK_METHOD" jdbcType="VARCHAR" />
		<result property="taskDate" column="TASK_DATE" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="BaseColumnList">
		ID,TASK_NAME,TASK_EXPLAIN,RELY_TASK,TASK_RUNE_DATE,
		TASK_RUNE_TIME,TASK_STATUS,TASK_TYPE,TASK_BODY,TASK_RESOURCE,
		TASK_METHOD,TASK_DATE
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{taskName},#{taskExplain},#{relyTask},#{taskRuneDate},
		#{taskRuneTime},#{taskStatus},#{taskType},#{taskBody},#{taskResource},
		#{taskMethod}, #{taskDate}
	</sql>

	<sql id="TableClause">PT_SYS_TASK_INFO</sql>

	<sql id="WhereClause4Id">
		<where>
			ID = #{id}
		</where>
	</sql>

	<update id="updateById" parameterType="com.krm.voteplateform.web.task.model.PtSysTaskInfo">
		update
		<include refid="TableClause" />
		<set>
			TASK_NAME=#{taskName},
			TASK_EXPLAIN=#{taskExplain},
			RELY_TASK=#{relyTask},
			TASK_RUNE_DATE=#{taskRuneDate},
			TASK_RUNE_TIME=#{taskRuneTime},
			TASK_STATUS=#{taskStatus},
			TASK_TYPE=#{taskType},
			TASK_BODY=#{taskBody},
			TASK_RESOURCE=#{taskResource},
			TASK_METHOD=#{taskMethod},
			TASK_DATE=#{taskDate}
		</set>
		<include refid="WhereClause4Id" />
	</update>

	<update id="updateByIdSelective" parameterType="com.krm.voteplateform.web.task.model.PtSysTaskInfo">
		update
		<include refid="TableClause" />
		<set>
			<if test="taskName!=null">TASK_NAME=#{taskName},</if>
			<if test="taskExplain!=null">TASK_EXPLAIN=#{taskExplain},</if>
			<if test="relyTask!=null">RELY_TASK=#{relyTask},</if>
			<if test="taskRuneDate!=null">TASK_RUNE_DATE=#{taskRuneDate},</if>
			<if test="taskRuneTime!=null">TASK_RUNE_TIME=#{taskRuneTime},</if>
			<if test="taskStatus!=null">TASK_STATUS=#{taskStatus},</if>
			<if test="taskType!=null">TASK_TYPE=#{taskType},</if>
			<if test="taskBody!=null">TASK_BODY=#{taskBody},</if>
			<if test="taskResource!=null">TASK_RESOURCE=#{taskResource},</if>
			<if test="taskMethod!=null">TASK_METHOD=#{taskMethod},</if>
			<if test="taskDate!=null">TASK_DATE=#{taskDate},</if>
		</set>
		<include refid="WhereClause4Id" />
	</update>


	<delete id="deleteById" parameterType="string">
		delete from
		<include refid="TableClause" />
		<include refid="WhereClause4Id" />
	</delete>

	<!-- 查询区别可用任务 -->
	<select id="queryALLList" resultMap="BaseResultMap">
		select
		<include refid="BaseColumnList" />
		from
		<include refid="TableClause" />
		where TASK_STATUS='1' and ID in (
		select task_id from PT_SYS_TASK_LOG t
		where t.task_run_status in ('2','3','9','10','11'))
	</select>

	<select id="queryNoChanageTaskList" resultMap="BaseResultMap"
		parameterType="com.krm.voteplateform.web.task.model.PtSysTaskInfo">
		select
		<include refid="BaseColumnList" />
		from
		<include refid="TableClause" />
		where TASK_STATUS='1'
		and ID not in (select task_id from PT_SYS_TASK_LOG
		where
		TASK_RUN_DATE=#{taskDate} or TASK_RUN_STATUS in('4','3','2','1','6','11'))
	</select>
	
	<select id="getAllTaskList" resultType="java.util.HashMap">
		select
		tf.*,tl.task_run_date,tl.task_run_time,tl.task_run_status,tl.task_run_log_path,tl.task_date
		from PT_SYS_TASK_INFO tf left join PT_SYS_TASK_LOG tl on tf.id=tl.task_id
		and tf.task_rune_date=tl.task_date where tf.task_status='1' ORDER BY
		TO_NUMBER(TF.ID) ASC
	</select>
</mapper>
