<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.task.dao.PtSysTaskLogMapper">

	<resultMap id="BaseResultMap" type="com.krm.voteplateform.web.task.model.PtSysTaskLog">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="taskId" column="TASK_ID" jdbcType="VARCHAR" />
		<result property="taskRunDate" column="TASK_RUN_DATE" jdbcType="VARCHAR" />
		<result property="taskRunTime" column="TASK_RUN_TIME" jdbcType="VARCHAR" />
		<result property="taskRunNum" column="TASK_RUN_NUM" jdbcType="DECIMAL" />
		<result property="taskRunStatus" column="TASK_RUN_STATUS" jdbcType="VARCHAR" />
		<result property="taskRunLogPath" column="TASK_RUN_LOG_PATH" jdbcType="VARCHAR" />
		<result property="taskDate" column="TASK_DATE" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="BaseColumnList">
		ID,TASK_ID,TASK_RUN_DATE,TASK_RUN_TIME,TASK_RUN_NUM,
		TASK_RUN_STATUS,TASK_RUN_LOG_PATH,TASK_DATE
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{taskId},#{taskRunDate},#{taskRunTime},#{taskRunNum},
		#{taskRunStatus},#{taskRunLogPath},#{taskDate}
	</sql>

	<sql id="TableClause"> PT_SYS_TASK_LOG </sql>

	<sql id="WhereClause4Id">
		<where>
			ID = #{id}
		</where>
	</sql>
	
	<sql id="SelectById">
		select
		<include refid="BaseColumnList" />
		from
		<include refid="TableClause" />
		<include refid="WhereClause4Id" />
	</sql>
	
	<insert id="insert" parameterType="com.krm.voteplateform.web.task.model.PtSysTaskLog">
		insert into
		<include refid="TableClause" />
		(
		<include refid="BaseColumnList" />
		) values (
		<include refid="BaseColumnValueList" />
		)
	</insert>

	<select id="getTaskLogbyTaskid" parameterType="com.krm.voteplateform.web.task.model.PtSysTaskLog"
		resultMap="BaseResultMap">
		select
		<include refid="BaseColumnList" />
		from
		<include refid="TableClause" />
		<where>
			1=1
			and TASK_ID in (${taskId})
			and TASK_DATE=#{taskDate}
			ORDER BY TASK_RUN_DATE DESC,TASK_RUN_TIME DESC
		</where>
	</select>
	<update id="updateSysTaskLogStatus" parameterType="com.krm.voteplateform.web.task.model.PtSysTaskLog">
		update
		<include refid="TableClause" />
		<set>
			TASK_RUN_STATUS=#{taskRunStatus},TASK_RUN_LOG_PATH=#{taskRunLogPath}
		</set>
		<where>
			TASK_ID in(#{taskId}) and TASK_DATE=#{taskDate}
		</where>
	</update>
	<insert id="backupsSysTaskLog" parameterType="com.krm.voteplateform.web.task.model.PtSysTaskLog">
		insert into PT_SYS_TASK_LOG_BAK select * from PT_SYS_TASK_LOG where TASK_ID
		=#{taskId} and ( TASK_DATE=#{taskDate} or
		TASK_RUN_DATE=#{taskRunDate})
	</insert>
	<delete id="deleteSysTaskLog" parameterType="com.krm.voteplateform.web.task.model.PtSysTaskLog">
		delete from PT_SYS_TASK_LOG where TASK_ID =#{taskId}
		and( TASK_DATE=#{taskDate} or TASK_RUN_DATE=#{taskRunDate})
	</delete>
	<update id="deleteSysTaskLog1" parameterType="com.krm.voteplateform.web.task.model.PtSysTaskLog">
		delete from PT_SYS_TASK_LOG where TASK_ID =#{taskId} and TASK_DATE=#{taskDate}
	</update>
</mapper>
