<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.ptvoterestmpl.dao.PtVoteResTmplMapper" >
  <resultMap id="BaseResultMap" type="com.krm.voteplateform.web.ptvoterestmpl.model.PtVoteResTmpl" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="COMMSSION_NAME" property="commssionName" jdbcType="VARCHAR" />
    <result column="SUGG_SHOW_FLAG" property="suggShowFlag" jdbcType="VARCHAR" />
    <result column="DEPT_SHOW_FLAG" property="deptShowFlag" jdbcType="VARCHAR" />
    <result column="SIGN_SHOW_FLAG" property="signShowFlag" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime"  />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID,CODE,COMMSSION_NAME,SUGG_SHOW_FLAG,DEPT_SHOW_FLAG,SIGN_SHOW_FLAG,DEL_FLAG,CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY
  </sql>
  
  <insert id="savePtVoteResTmpl" parameterType="com.krm.voteplateform.web.ptvoterestmpl.model.PtVoteResTmpl">
  	insert into pt_vote_res_tmpl (ID,CODE,COMMSSION_NAME,SUGG_SHOW_FLAG,DEPT_SHOW_FLAG,SIGN_SHOW_FLAG,DEL_FLAG,CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY) 
  	values (
  	#{id,jdbcType=VARCHAR}
  	,
  	
  	#{code,jdbcType=VARCHAR}
  	,
  	
  	#{commssionName,jdbcType=VARCHAR}
  	,
  	
  	#{suggShowFlag,jdbcType=VARCHAR}
  	,
  	
  	#{deptShowFlag,jdbcType=VARCHAR}
  	,
  	
  	#{signShowFlag,jdbcType=VARCHAR}
  	,
  	
  	#{delFlag,jdbcType=VARCHAR}
  	,
  	
  	#{createTime}
  	,
  	
  	#{createBy,jdbcType=VARCHAR}
  	,
  	
  	#{updateTime}
  	,
  	
  	#{updateBy,jdbcType=VARCHAR}
  	
  	)
  </insert>
  
 
  
  <delete id="deletePtVoteResTmpl" parameterType="com.krm.voteplateform.web.ptvoterestmpl.model.PtVoteResTmpl">
  	delete from pt_vote_res_tmpl where id=#{id,jdbcType=VARCHAR}
  </delete>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="String">
  	select <include refid="Base_Column_List"/> from pt_vote_res_tmpl where id=#{id}
  </select>
  <update id="saveUpdate2" parameterType="com.krm.voteplateform.web.ptvoterestmpl.model.PtVoteResTmpl">
  	update pt_vote_res_tmpl set 
  		SUGG_SHOW_FLAG=#{suggShowFlag,jdbcType=VARCHAR},DEPT_SHOW_FLAG=#{deptShowFlag,jdbcType=VARCHAR},
  		SIGN_SHOW_FLAG=#{signShowFlag,jdbcType=VARCHAR},COMMSSION_NAME=#{commssionName,jdbcType=VARCHAR},
  		UPDATE_TIME=#{updateTime},UPDATE_BY=#{updateBy}		
  		<where>
  			ID = #{id}
  		</where>
  </update>
  
 
  <select id="findByCode" resultType="com.krm.voteplateform.web.ptvoterestmpl.model.PtVoteResTmpl" parameterType="java.util.Map">
  	select <include refid="Base_Column_List"/> from pt_vote_res_tmpl where code= '${tableName}'
  </select>
</mapper>