<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.voteplan.dao.PtVotePlanMapper">

	<sql id="BaseColumnList">
		ID,VOTE_PLAN_NAME,VOTE_PLAN_SUMMARY,ADOPT_FORMULA,ADOPT_FORMULA_MARK,AGAIN_FORMULA,
		AGAIN_FORMULA_MARK,STATE,DEL_FLAG,CREATE_TIME,CREATE_BY,UPDATE_TIME,UPDATE_BY
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{votePlanName},#{votePlanSummary},#{adoptFormula},#{adoptFormulaMark},
		#{againFormula},#{againFormulaMark},#{state},#{delFlag},#{createTime},
		#{createBy}, #{updateTime},#{updateBy}
	</sql>
	
	<select id="listAll" resultType="java.util.Map">
		select
		<include refid="BaseColumnList" />
		from pt_vote_plan
		<where>
			DEL_FLAG = 0
			<if test="state !=null and   state  != ''  and  state != 'null'">
  				and STATE=#{state,jdbcType=VARCHAR}
  				</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.krm.voteplateform.web.voteplan.model.PtVotePlan">
		insert into pt_vote_plan(
		<include refid="BaseColumnList" />
		)values(
		<include refid="BaseColumnValueList" />
		)
	</insert>
	
	<select id="recordCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from PT_COMMISSION where VOTE_PLAN_ID='${votePlanid}'
	</select>
	
</mapper>
