<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.ptvotematterconf.dao.PtVoteMatterConfMapper" >
  <resultMap id="BaseResultMap" type="com.krm.voteplateform.web.ptvotematterconf.model.PtVoteMatterConf" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="PLATEFORM_TEXT" property="plateformText" jdbcType="VARCHAR" />
    <result column="COMMITTEE_TEXT" property="committeeText" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="VAL" property="val" jdbcType="VARCHAR" />
    <result column="ENABLE" property="enable" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID,CODE,PLATEFORM_TEXT,COMMITTEE_TEXT,TYPE,VAL,ENABLE
  </sql>
  
  <insert id="savePtVoteMatterConf" parameterType="com.krm.voteplateform.web.ptvotematterconf.model.PtVoteMatterConf">
  	insert into pt_vote_matter_conf (ID,CODE,PLATEFORM_TEXT,COMMITTEE_TEXT,TYPE,VAL,ENABLE) 
  	values (
  	#{id,jdbcType=VARCHAR}
  	,
  	
  	#{code,jdbcType=VARCHAR}
  	,
  	
  	#{plateformText,jdbcType=VARCHAR}
  	,
  	
  	#{committeeText,jdbcType=VARCHAR}
  	,
  	
  	#{type,jdbcType=VARCHAR}
  	,
  	
  	#{val,jdbcType=VARCHAR}
  	,
  	
  	#{enable,jdbcType=VARCHAR}
  	
  	)
  </insert>
  
  <!-- 批量插入 -->
    <insert id="insertBatchs" parameterType="java.util.List">
        insert into pt_vote_matter_conf
        select A.* from(
        <foreach collection="list" item="item" index="index"
            separator="UNION All">
            SELECT
            #{item.id},
            #{item.code},
            #{item.plateformText},
            #{item.committeeText},
             #{item.type},
             #{item.val},
             #{item.enable}
            from dual 
             </foreach>
        ) A
 
    </insert>
    
 	   <select id="findBtnInfoList" resultType="java.util.Map" parameterType="java.util.Map">
		select 	
		   ID,CODE,PLATEFORM_TEXT,COMMITTEE_TEXT,TYPE,VAL,ENABLE
		   from  PT_VOTE_MATTER_CONF
		<where>
				TYPE = #{type,jdbcType=VARCHAR}  AND CODE = #{code,jdbcType=VARCHAR}
				AND ENABLE='0'
		</where>
	</select>
 
    <select id="showadd" resultType="java.util.Map" parameterType="java.util.Map">
		select 	
		  *
		from   PT_VOTE_MATTER_CONF
		<where>
				TYPE='01'  AND CODE = #{code}
				<if test="enable != null and enable != ''">
			    	and enable =  #{enable}
				</if>
		</where>
	</select>
    <select id="showResultadd" resultType="java.util.Map" parameterType="java.util.Map">
		select 	
		  *
		from   PT_VOTE_MATTER_CONF
		<where>
				TYPE='02'  AND CODE = #{code}
				<if test="enable != null and enable != ''">
			    	and enable =  #{enable}
				</if>
				<if test="val != null and val != ''">
			    	and val =  #{val}
				</if>
		</where>
	</select>
    <select id="selectUpdate" resultType="com.krm.voteplateform.web.ptvotematterconf.model.PtVoteMatterConf" parameterType="java.util.Map">
		select 	
		  ID,CODE,COMMITTEE_TEXT,ENABLE
		from   PT_VOTE_MATTER_CONF
		<where>
				ID = '${id}'
		</where>
	</select>
	<update id="lastSave" parameterType="java.util.Map">
		update PT_VOTE_MATTER_CONF 
		set 
			COMMITTEE_TEXT = #{committeeText,jdbcType=VARCHAR},
			ENABLE = #{enable,jdbcType=VARCHAR}
		where ID=#{id}
	</update>
	<select id="selecontmind" resultType="java.util.Map" parameterType="java.util.Map">
		select 	
		  		count(1) as count
		from   PT_VOTE_MATTER_CONF
		<where>
				type ='01' and enable='0' and code = #{code}  and val = #{val}
		</where>
	</select>
 
 
</mapper>