<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.sys.dao.SysDicMapper">

	<sql id="BaseColumnList">
		ID,EN_NAME,CN_NAME,DATA_TYPE,DATA_LENGTH,PRECISION,MAP_CN_NAME,MAP_PRECISION,NULL_FLAG,CATEGORY,PLATE_FLAG,SORT,
		DEL_FLAG,to_char(CREATE_TIME,'YYYY-MM-DD HH24:MI:SS') as CREATE_TIME,
		CREATE_BY,to_char(UPDATE_TIME,'YYYY-MM-DD HH24:MI:SS') as UPDATE_TIME,UPDATE_BY,STATE
	</sql>

	<sql id="BaseColumnValueList">
		#{id},#{enName},#{cnName},#{dataType},#{dateLenget},
		#{precision},#{mapCnName},#{mapPrecision},#{nullFlag},#{category},
		#{plateFlag}, #{sort},#{delFlag},#{createTime}
		,#{createBy},#{updateTime},#{updateBy},{state}
	</sql>
	<!-- 根据字典类型，code动态 查询来同类型的字典页面-->
	<select id="findSysList" resultType="java.util.Map" parameterType="java.util.Map">
		select
		<include refid="BaseColumnList" />
		from #{tableName}_BAS_DICT
		<where>
			CATEGORY=#{category} and DEL_FLAG='0'
			<if test="dataType!=null and dataType!='' ">
				and	DATA_TYPE!=#{dataType}
			</if>
		</where>
	</select>
	<!-- 根据每条数据ID，查询出每条数据的映射名称-->
	<select id="selectDicFields" resultType="com.krm.voteplateform.web.sys.model.BasDict" parameterType="java.util.Map">
		select
		<include refid="BaseColumnList" />
		from #{tableName}_BAS_DICT
		<where>
			ID=#{id}
		</where>
	</select>
	<!-- 根据每条数据ID，修改出每条数据的映射名称-->
	<update id="updateFields" parameterType="java.util.Map">
		update ${tableName}_BAS_DICT SET MAP_CN_NAME=#{mapCnName}
		<where>
			ID=#{id}
		</where>
	</update>
	
	<!-- 根据字典类型，下拉-->
	<select id="findSelectSysList" resultType="java.util.Map" parameterType="java.util.Map">
		select
		<include refid="BaseColumnList" />
		from #{tableName}_BAS_DICT
		<where>
				<if test="category !=null and   category != ''  and  category != 'null'">
  				and CATEGORY=#{category,jdbcType=VARCHAR}
  				</if>
				<if test="state !=null and   state  != ''  and  state != 'null'">
  				and STATE=#{state,jdbcType=VARCHAR}
  				</if>
  				<if test="delFlag !=null and delFlag !='' and delFlag !='null'">
  				and DEL_FLAG=#{delFlag,jdbcType=VARCHAR}
  				</if>
		</where>
	</select>
</mapper>
