<div id="sidebar" class="sidebar responsive  sidebar-fixed">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
		
		$(function(){
			$("ul[toIndex=1] li a").each(function(i) {
				if (this.hasAttribute("toUrl")) {
					var url = $(this).attr("toUrl");
					if(url.indexOf('?')>-1){
						url+="&r="+Math.random();
					}else{
						url+="?r="+Math.random();
					}
					$(this).click(function(){
						$.ajax({
							url : "${ctxPath!}/"+url,
							dataType : "html",
							async : false,
							success : function(data) {
								$("#fill-main-content").html(data);
							}
						});
					});
				}
			});
		});
	</script>

	<ul class="nav nav-list" id="sidebar-menu" toIndex="1">
		<li data-level="1">
		<!-- #/ajax/pt/ptSysDic/getSysDicList -->
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">配置数据字典</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="javascript:void(0)" haschild="false" toUrl="pt/ptSysDic/toDicType?category=02"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">编辑项目字典 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				
			<!-- 	<li data-level="2">
					<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/ptSysDic/toDicType?category=03"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">编辑项目申请分类明细字典 </span>
					</a> 
					<b class="arrow"></b>
				</li> -->
				<li data-level="2">
					<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/ptSysDic/toDicType?category=04"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">编辑项目附件字典 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0);" id="sys_dict" haschild="false" toUrl="pt/ptSysDic/toDicType?category=05"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">编辑项目到会人员字典</span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
				<!-- toUrl="pt/ptSysDic/toDicType?category='07'" -->
					<a href="javascript:void(0);" id="sys_dict" haschild="false"  toUrl="pt/dicExp/sysDicExp?category=07"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">编辑项目扩展明细字典 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0);" id="sys_dict" haschild="false" toUrl="pt/ptSysDic/toDicType?category=01"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">编辑会议字典 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0);" id="sys_dict" haschild="false" toUrl="pt/ptSysDic/toDicType?category=06"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">编辑会议到会人员字典</span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0)" id="sys_code" haschild="false" toUrl="pt/bascodegroup/listBasCodeGroup"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">编辑代码字典表 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				</ul> 
			</li>
		<li data-level="1">
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端待审项目界面</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
							<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端待审项目列表界面</span>
					</a>
					<b class="arrow"></b>
						<ul class="submenu nav-hide" >
							<li data-level="3">    
							   
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menulist/listMuenAll?resid=2"> 
								<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">项目列表</span>
							</a>
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg011"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/FunConfMapper/sysDic_function?Mlcid=2"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端待审项目新建窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">   
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1101&resid=2"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg012"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							</li>
							<li data-level="3"> 
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1101"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能</span>
							</a>
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端待审项目编辑窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">		
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1102&resid=2"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg013"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">		
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1102"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能</span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端待审项目详细窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">     
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1104&resid=2"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">    
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1104"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能</span> 
							</a>
							
							</li>
						</ul>
				</li>
			</ul> 
		</li>	
		
		<li data-level="1">
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端已审项目界面</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
							<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端已审项目列表界面</span>
					</a>
					<b class="arrow"></b>
						<ul class="submenu nav-hide" >
							<li data-level="3">              
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menulist/listMuenAll?resid=3"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">项目列表 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg021"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/FunConfMapper/sysDic_function?Mlcid=3"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端已审项目详细窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">			
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1204&resid=3"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">  
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1204"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<!--  -->
							<span class="menu-text">操作功能</span>
							</a>
							
							</li>
						</ul>
				</li>
			</ul> 
		</li>	
		
		<li data-level="1">
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端会议准备界面</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
							<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">会议准备项目列表界面</span>
					</a>
					<b class="arrow"></b>
						<ul class="submenu nav-hide" >
							<li data-level="3">           
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menulist/listMuenAll?resid=4"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">项目列表 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg031"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3"> 
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/FunConfMapper/sysDic_function?Mlcid=4"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">				
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端新建会议窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">				
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1301&resid=4"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg032"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">			 
							
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1301"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能</span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端会议属性窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">			 
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1302&resid=4"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg033"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">		
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1302"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能</span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端会议准备项目编辑窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">				
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1307&resid=4"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg034"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">			
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1307"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
					
					
				</li>
			</ul> 
		</li>	
		
		<li data-level="1">
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端当前会议界面</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
							<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">当前会议项目列表界面</span>
					</a>
					<b class="arrow"></b>
						<ul class="submenu nav-hide" >
							<li data-level="3">            
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menulist/listMuenAll?resid=5"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">项目列表 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg041"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/FunConfMapper/sysDic_function?Mlcid=5"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>				
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端会议信息窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1406&resid=5"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg043"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">		
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1402"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端当前会议项目编辑窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">				
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1402&resid=5"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg042"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">		
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1402"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端当前项目详细信息窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">				
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1408&resid=5"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg044"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">			
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1408"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
					
					
				</li>
			</ul> 
		</li>	
		
		
		<li data-level="1">
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端完成会议</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
							<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">完成会议项目列表界面</span>
					</a>
					<b class="arrow"></b>
						<ul class="submenu nav-hide" >
							<li data-level="3">            
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menulist/listMuenAll?resid=6"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">项目列表 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg051"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/FunConfMapper/sysDic_function?Mlcid=6"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>				
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端完成会议信息窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1501&resid=6"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg053"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">		
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1501">  
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">秘书端完成会议补录会议纪要窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">				
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun1502&resid=6"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg052"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">		
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun1502">  
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
			</ul> 
		</li>
		
		
<!--------------------------------------------------委员端当前会议界面 ---------------------------------------------------------------------->	
		<li data-level="1">
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员端当前会议界面</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
							<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员端当前会议项目列表界面</span>
					</a>
					<b class="arrow"></b>
						<ul class="submenu nav-hide" >
							<li data-level="3">            
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menulist/listMuenAll?resid=8"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">项目列表 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg111"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/FunConfMapper/sysDic_function?Mlcid=8"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员端会议信息窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">				
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun2101&resid=8"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<!-- <li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg052"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li> -->
							<li data-level="3">		
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconftable/lodefunction?functionCode=fun2101">  
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
			</ul> 
		</li>
		
		
		<!--------------------------------------------------委员端历史会议界面 ---------------------------------------------------------------------->	
		<li data-level="1">
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员端历史会议界面</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
							<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员端历史会议项目列表界面</span>
					</a>
					<b class="arrow"></b>
						<ul class="submenu nav-hide" >
							<li data-level="3">            
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menulist/listMuenAll?resid=9"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">项目列表 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg121"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li>
							<li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/FunConfMapper/sysDic_function?Mlcid=9"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">操作功能 </span>
							</a>
							
							</li>
						</ul>
				</li>
				<li data-level="2">
					<a href="" id="" class="dropdown-toggle" haschild="true">
						<i class="menu-icon fa fa-asterisk"></i>
						<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员端会议信息窗体</span>
					</a>
					<b class="arrow"></b>
					<ul class="submenu nav-hide" >
							<li data-level="3">				
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/menuwinconf/tomenuWin?functionCode=fun2201&resid=9"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">窗体内容 </span>
							</a>
							
							</li>
							<!-- <li data-level="3">
								<a href="javascript:void(0);" id="" haschild="false" toUrl="pt/basMessage/toBasMessage?massCode=msg052"> 
							<i class="menu-icon fa fa-cogs"></i> 
							<span class="menu-text">提示信息 </span>
							</a>
							
							</li> -->
						</ul>
				</li>
			</ul> 
		</li>
		
				
<!----------------------------------------委员会菜单管理------------------------------>
		<li data-level="1">
			<a href="javascript:void(0);" id="menu_analysis" class="dropdown-toggle" haschild="false" toUrl="pt/ptresource/toMenuList">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员会菜单管理</span>
			</a>
			<!-- <b class="arrow"></b> -->
			<!-- <ul class="submenu nav-hide" >
							<li data-level="2">
								<a href="javascript:void(0);" id="sys_dict" haschild="false" toUrl="pt/ptresource/toMenuList"> 
									<i class="menu-icon fa fa-list"></i> 
									<span class="menu-text">委员会菜单管理 </span>
								</a> 
								<b class="arrow"></b>
							</li>
						</ul> --> 
				</li>

<!----------------------------------------委员会管理员管理------------------------------>
		<li data-level="1">
			<a href="javascript:void(0);" id="menu_analysis" class="dropdown-toggle" haschild="false" toUrl="pt/userRole/toAdminList">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员会管理员管理</span>
			</a>
			<!-- <b class="arrow"></b>
			<ul class="submenu nav-hide" >
							<li data-level="2">
								<a href="javascript:void(0);" id="sys_dict" haschild="false" toUrl="pt/userRole/toAdminList"> 
									<i class="menu-icon fa fa-list"></i> 
									<span class="menu-text">委员会管理员管理 </span>
								</a> 
								<b class="arrow"></b>
							</li>
						</ul>  -->
				</li>
<!-- 委员会投票情况界面 -->
		<li data-level="1">
			<a href="" id="menu_analysis" class="dropdown-toggle" haschild="false">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">委员会投票意见管理</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
							<li data-level="2">
								<a href="javascript:void(0);" id="sys_dict" haschild="false" toUrl="pt/votematterconf/toMenuList"> 
									<i class="menu-icon fa fa-list"></i> 
									<span class="menu-text">委员会投票意见管理 </span>
								</a> 
								<b class="arrow"></b>
							</li>
							<li data-level="2">
								<a href="javascript:void(0);" id="sys_dict" haschild="false" toUrl="pt/votematterconf/toResultMenuList"> 
									<i class="menu-icon fa fa-list"></i> 
									<span class="menu-text">委员会投票结果 </span>
								</a> 
								<b class="arrow"></b>
							</li>
						</ul> 
				</li>
<!-- 委员会投票情况界面 -->

<!-- -----------------------------测试数据----------------------------------------------- -->


<li data-level="1">
		<!-- #/ajax/pt/ptSysDic/getSysDicList -->
			<a href="" id="" class="dropdown-toggle" haschild="true">
				<i class="menu-icon fa fa-asterisk"></i>
				<span class="menu-text"  style="vertical-align: middle;font-size:12px;margin-left: 5px;height: 34px;">测试</span>
			</a>
			<b class="arrow"></b>
			<ul class="submenu nav-hide" >
				<li data-level="2">
					<a href="javascript:void(0)" haschild="false" toUrl="ptsystems/toIndex/menu2"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">未审项目列表 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0)" haschild="false" toUrl="ptsystems/toIndex/menu3"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">已审项目列表 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0)" haschild="false" toUrl="ptsystems/toIndex/menu4"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">当前会议 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0)" haschild="false" toUrl="ptsystems/toIndex/menu6"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">完成会议 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0)" id="sys_code" haschild="false" toUrl="ptsystems/toIndex/menu8"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">委员会当前会议 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				<li data-level="2">
					<a href="javascript:void(0)" id="sys_code" haschild="false" toUrl="ptsystems/toIndex/menu9"> 
						<i class="menu-icon fa fa-cogs"></i> 
						<span class="menu-text">委员端历史会议 </span>
					</a> 
					<b class="arrow"></b>
				</li>
				</ul> 
			</li>

	
	</ul>
	<!-- nav-list -->
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>

