<div class="layer">
	<div class='row'>
    <div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h6 class="widget-title">添加的议题</h6>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2"> <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
				 <input type="hidden" value="${mettingId!}" Id="mettingId"/>
			</div>
			 <form name="plateform" id="plateform" class="" method="post" action="">
				<table id="addItemsTable">
					
				</table>
			</form>
		</div>
	</div>
	</div>
		<div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
					<input type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form" value="确定"/>&nbsp;&nbsp;
					<input type="button" class="btn btn-primary btn-sm bigger-110" id="model-save-cancel" value="取消"/>
				</div>
 </div>

<script type="text/javascript">

$(function(){

	$("#addItemsTable").bootstrapTable({
		inconSize : 'sm',
		url:'${ctxPath!}/ptsystems/menu2List',
		striped : true,
		height:375,
		columns : [ {
			checkbox : true
		}, {
			field : "projectId",
			title : '序号',
			formatter : function(value, row, index) {
				return index + 1;
			}
		}, {
			field : "projectTitle",
			title : '评审项目名称',
			sortable : true
		},{
			field : "specProCode",
			title : '项目代号',
			sortable : true
		}]
	});
	
	
	
});

var index = layer.index;
$("#model-save-cancel").click(function(){
layer.close(index);
});

$('#model-save-form').click(function(){
	var mettingId = $("#mettingId").val();
	var rows = $("#addItemsTable").bootstrapTable('getSelections');
	if(rows.length==0){
		layer.alert("请选择数据!");
	}else{
		 var rowsTemp = new Array();
		for(var i=0; i<rows.length; i++ ){
			var row = rows[i];
			var ids = {};
			ids["projectId"]=row.projectId;
			rowsTemp.push(ids);
		}
		 var newIds = JSON.stringify(rowsTemp);
		 //alert(newIds);
		// console.log(newIds);
		 $.post("${ctxPath!}/ptsystems/menu4/fun1306",{'projectId':newIds,'mettingId':mettingId},function(result){
				if(result.code==1){
					layer.msg('修改成功!', 1, 1,function(){
					$("#resList").bootstrapTable('refresh');
					
                 });	
				}else{
					layer.msg("修改失败!");
				}
				layer.closeAll();
			},"json");  
		 
	}	
}); 


</script>


