<style>
.xubox_layer .xubox_formArea {
	width: 300px;
	height: 300px;
	line-height: 20px;
}


</style>
<script type="text/javascript" src="${ctxPath!}/static/layer/extend/layer.ext.js"></script>
<div class="layer" style="background:url(${ctxPath!}/static/images/tu2.jpg) no-repeat;  height:100%; background-color: #e5ddda; " >
	<div>
	<div style="height:30px;"></div>
	
	<div style="text-align:center; padding-top:8px;margin-bottom:40px;">
	@for(voteMatterConf in voteMatterConfList!){
			<!-- 同意 -->
			@if(voteMatterConf.val=="01"){
				<input id="passVal" type="hidden" value="${voteMatterConf.val}">
				<input id="passType" type="hidden" value="${voteMatterConf.type}">
				<a id="pass" class="btn btn-primary btn-lg"  value="${voteMatterConf.val}" style="width: 120px; -moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius:6px;">&nbsp;<i class="fa fa-check ">				
				</i>&nbsp;${voteMatterConf.committeeText}&nbsp;&nbsp;</a>
			@}else if(voteMatterConf.val=="02"){
				<input id="againPassVal" type="hidden" value="${voteMatterConf.val}">
				<input id="againPassType" type="hidden" value="${voteMatterConf.type}">
				<a id="againpass" class="btn btn-primary btn-lg"  value="${voteMatterConf.val}" style="width: 120px; -moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius:6px;">&nbsp;&nbsp;<i class="fa fa-info-circle"></i>&nbsp;${voteMatterConf.committeeText}&nbsp;&nbsp;</a>
			@}else if(voteMatterConf.val=="03"){
				<input id="rejectPassVal" type="hidden" value="${voteMatterConf.val}">
				<input id="rejectPassType" type="hidden" value="${voteMatterConf.type}">
				<a id="rejectpass" class="btn btn-primary btn-lg" value="${voteMatterConf.val}" style="width: 120px;-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius:6px;">&nbsp;&nbsp;<i class="fa fa-mail-reply"></i>&nbsp;${voteMatterConf.committeeText}&nbsp;&nbsp;</a>
			@}
		@}
		
		@if(isNotEmpty(voteMatterConfList!)){
			<a id="reviewsuggpass" class="btn btn-warning btn-lg" style="height: 47px;-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius:6px;">&nbsp;&nbsp;<i class="fa fa-pencil"></i>&nbsp;查审意见&nbsp;&nbsp;	</a>
		@}
	</div>	
			
              <form name="FormPost" id="model-save-form" class="FormGrid" method="post" action="">
                <input type="hidden" value="" name="id" />
                <table class="EditTable" >
    		            <tbody>
				            <tr class="FormData">
				            <td class="CaptionTD "><font size="3">项目编号:</font></td>
				            <td class="DataTD width-100" style=" text-align:left;">${projectMap.specProCode!}</td>
				            </tr>
				
				            <tr class="FormData">
				            <td class="CaptionTD" ><font size="3">项目名称:</font></td>
				            <td class="DataTD width-100" style=" text-align:left;">${projectMap.projectTitle!}</td>
				            </tr>
				            <tr class="FormData">
				            <td class="CaptionTD"><font size="3">项目资料:</font></td>
				            <td class="DataTD width-100">
				            	<table class="table table-bordered" style="margin-top:10px;">
				            		<tr class="FormData" >
				            				<th style="text-align:center;">资料类型</th>
				            				<th style="text-align:center;width-100">资料名称</th>
				            		</tr>
				            			@var fileName;
				            			@var attchList = wins.getProAttchList(projectMap.projectId!);
				            				@for(attch in attchList){
				            					@fileName = attch.originalName!;
				            					@var index=attchLP.index;
				            					@var tempIndex = "temp"+index;
				            				    @tempIndex = polink.openWindow(request,attch.projectId,strutil.encode(attch.originalName),"");
				            			<tr>
				            				<td style="text-align:center;">${attch.kindName!}</td>
				            				<td style="text-align:center;"><a href="${tempIndex}" onclick="changHref(this)">${attch.originalName!}</a></td>
				            			</tr>
				            			@}
				            	
				            	</table>
				            
				            </td>
				            </tr>
                            <tr style="height:20px;"></tr>
                            
                            </tbody>
                            
                </table>
              </form>
          <div style="height:20px;"></div>
			    
	</div>	
    		
    </div>
<script type="text/javascript">
	$(function(){
		var rows = $('#specResList').bootstrapTable('getData');
		var selectRows = $('#specResList').bootstrapTable("getSelections");
		var newArr=[];
		$.each(rows,function(index,obj){
			if(obj.projectStateId=='10200302'){
				newArr.push(obj);
				return false;
			}
		})
		var row=newArr[0];
		//最终表决权
		if(${voteFlag}==false){
			//layer.alert("对不起,您暂时无表决权限！");
			//$("a[id$='pass']").removeClass();
			$("a[id$='pass']").addClass('disabled');//btn-inverse
			//$("a[id$='pass']").removeAttr("onclick");
			  $("a[id$='pass']").unbind("click"); //移除click
			return;
		}
		
		//是否是第二次投票
		function isAgainVote(){
			if(${voteInfo.againVote}==true){
			     layer.alert("您已投票,不能进行第二次投票！");
				//$("a[id$='pass']").removeClass();
				$("a[id$='pass']").addClass('disabled');//btn-inverse
				//$("a[id$='pass']").removeAttr("onclick");
				  $("a[id$='pass']").unbind("click"); //移除click
				return false;
			}
			return true;
		}
		//审查意见
		 var suggestionContent='';//缓存数据
		 var flag=false;//弹出状态
		$("#reviewsuggpass").click(function(){
			if(isAgainVote()==false){
				return;
			};
			inptSuggestion();
		});
		 function inptSuggestion(row,param){
				var paramo={
			    	    type: 3, //支持普通文本框（0）、密码框（1）、文件框（2）、多行文本框（3）, 
			    	    title: '填写审查意见',
			    	    val: suggestionContent, //表单的默认值
			    	    area:["800px","600px"],
			    	    length: 2000 //表单框可输入的最长值  
			    	}   
				layer.prompt(paramo, function(val, index, elem){
				    //index为该层索引，elem为表单元素。
				    suggestionContent=val;
				    if(row!=undefined&&row!='undefined'){
				    	 var object={suggestionContent:suggestionContent}
							$.extend(param,object);
						    //alert('得到：'+ val);
						    ajaxSend(row,param);
				    }
				    layer.close(index);
				
				},function(){
					   if(row!=undefined||row!='undefined'){
					 		ajaxSend(row,param);
					   }
				})

		 }
		
		//投同意
		$("#pass").click(function(){
			if(isAgainVote()==false){
				return;
			};
			var param={
					title:$.trim($("#pass").text()),
					passVal:$("#passVal").val(),
					passType:$("#passType").val()
			}
		var object={suggestionContent:suggestionContent};
			$.extend(param,object);
			ajaxSend(row,param);
		})
		
		//投再议
		$("#againpass").click(function(){
			if(isAgainVote()==false){
				return;
			};
			//alert('${voteSuggestion.suggestFlag}');
			var param={
					title:$.trim($("#againpass").text()),
					passVal:$("#againPassVal").val(),
					passType:$("#againPassType").val()
			}
			dealSuggest(row,param);
	
		})
		
			//投反对
		$("#rejectpass").click(function(){
			if(isAgainVote()==false){
				return;
			};
			var param={
					title:$.trim($("#rejectpass").text()),
					passVal:$("#rejectPassVal").val(),
					passType:$("#rejectPassType").val()
					
			}
			dealSuggest(row,param);
		})
		
		//审查意见处理
		function dealSuggest(row,param){
			//0不需要输入审查意见
			var suggflag='${voteSuggestion.suggestFlag}';
			if(suggflag == '0'){
				//1提示输入审查意见
				ajaxSend(row,param);
			}else if(suggflag == '1' ){
				layer.confirm('是否需要输入审查意见？',function(index){
					layer.close(index);
					inptSuggestion(row,param);
				},"确认审查意见",function(index){
					ajaxSend(row,param);
				});
				//2强行输入审查意见	
			}else if(suggflag == '2' ){
				inptSuggestion(row,param);
			}
			
		}
	

	
	});
	
	function ajaxSend(row,param){
		
		var obj = {};
		obj["url"] = "${ctxPath!}/ptsystems/councilmeeting/aggress";
		obj["confirmMsg"] = "确定投【"+param.title+"】票吗？";
		//alert(3333333333333333);
		obj["data"]={projectId:row.projectId,conferenceId:row.conferenceId,passVal:param.passVal,passType:param.passType,suggestionContent:param.suggestionContent};
		layer.confirm(obj.confirmMsg,function(index){
			Angel.ajax(obj.url, obj.data, function(result){
				layer.msg(result.msg,1,1);
				if(result.code==1){
					$("#specResList").bootstrapTable('refresh');
				}
			});
			layer.close(index);
			//按钮禁用
			//$("a[id$='pass']").removeClass();
			$("a[id$='pass']").addClass('disabled');//btn-inverse
			//$("a[id$='pass']").removeAttr("onclick");
			  $("a[id$='pass']").unbind("click"); //移除click
		},"确认表决"); 
	}

	
	
</script>
