<style>
    .press {
color: #000000;
font-family: "Microsoft YaHei" ! important;
font-size:42px;
font-weight: bolder;
/*letter-spacing: 0;
font-size:42px;
 word-spacing:5px;
  letter-spacing: 5px;

text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 
*/
}
</style>
<div class="layer" style="background:url(${ctxPath}/static/images/bj.jpg) no-repeat; height:100%;">
      <div style="text-align:center;" class="press">${sysTitle!}会议</div> 
		<table class="EditTable" width="100%" style=" background-color:transparent; padding-left:10px;">
			<tbody>
			<tr class="FormData" style="border-bottom: none;">
				<td class="CaptionTD"><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目名称：</font></td>
				<td class="DataTD width-100" style="font-size: 28px;height: 120px;vertical-align: middle; text-align:left">
					<span id="projectName" >${projectName!}</span>
				</td>
			</tr>
				<tr class="FormData" style="border-bottom: none;">
				<td class="CaptionTD"><font size="5">已投票：</font></td>
				<td class="DataTD width-100" style="font-size: 28px;height: 90px;vertical-align: middle;text-align:left"">
					<span id="voted" ></span>
				</td>
			</tr>
			<tr class="FormData" style="border-bottom: none;">
				<td class="CaptionTD"><font size="5">未投票：</font></td>
				<td class="DataTD width-100" style="font-size: 28px;height: 90px;vertical-align: middle;text-align:left"">
					<span id="notVote" style="color: red;"></span>
				</td>
			</tr>
			<tr class="FormData" style="border-bottom: none;">
				<td class="CaptionTD"><font size="5">投票情况：</font></td>
				<td class="DataTD width-100" style="font-size: 28px;height: 90px;vertical-align: middle;text-align:left"">
					@for(map in voteMatterList){
						@if(map.val == '01'){
							<span style="color: green;">${map.committeeText!}:&nbsp;<span id="agree">0</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
						@}
						@if(map.val == '02'){
							<span style="color: red;">${map.committeeText!}:&nbsp;<span id="rediscuss">0</span></span>&nbsp;&nbsp;&nbsp;&nbsp;
						@}
						@if(map.val == '03'){
							<span style="color: red;">${map.committeeText!}:&nbsp;<span id="disagree">0</span></span>
						@}
					@}
				</td>
			</tr>
			<tr class="FormData" style="border-bottom: none;">
				<td class="CaptionTD"><font size="5">表决结果：</font></td>
				<td class="DataTD width-100" style="font-size: 28px;height: 90px;vertical-align: middle;text-align:left"">
					<span id="result"></span>
					
				</td>
			</tr>
			</tbody>
		</table>
</div>

<script type="text/javascript">
var timer;
$(function(){
	selectVote();
	timer = setInterval('selectVote()',5000);
})

function stopRefresh(){
		clearInterval(timer);//取消
	}
	
function selectVote(){
	$.ajax({
		url: "${ctxPath}/ptsystems/menu5/fun1410/selectVote?projectId=${projectId!}&meetingId=${meetingId!}",
		dataType: "json",
		async: false,
		success: function(data) {
			$("#voted").html(data.voted);
			$("#notVote").html(data.notVote);
			if(data.resultType == '01'){
				$("#result").html('<span style="color: green;">'+data.result+'</span>');
				stopRefresh();
				$('#resList').bootstrapTable('refresh');
			}
			if(data.resultType == '02'){
				$("#result").html('<span style="color: red;">'+data.result+'</span>');
				stopRefresh();
				$('#resList').bootstrapTable('refresh');
			}
			if(data.resultType == '03'){
				$("#result").html('<span style="color: red;">'+data.result+'</span>');
				stopRefresh();
				$('#resList').bootstrapTable('refresh');
			}
			
			var voteCount = data.voteCount;
			for(var i = 0; i < voteCount.length; i++){
				if(voteCount[i].voteResult == '01'){
					$("#agree").html("");
					$("#agree").html(voteCount[i].count);
				}
				if(voteCount[i].voteResult == '02'){
					$("#rediscuss").html("");
					$("#rediscuss").html(voteCount[i].count);
				}
				if(voteCount[i].voteResult == '03'){
					$("#disagree").html("");
					$("#disagree").html(voteCount[i].count);
				}
			}
		}
	});
}
/* function countVote(){
	$.ajax({
		url: "${ctxPath}/ptsystems/menu5/fun1410/countVote?projectId=${projectId!}",
		dataType: "json",
		async: false,
		success: function(data) {
			for(var i = 0; i < data.length; i++){
				if(data[i].voteResult == '01'){
					$("#agree").html(data[i].count);
				}
				if(data[i].voteResult == '02'){
					$("#rediscuss").html(data[i].count);
				}
				if(data[i].voteResult == '03'){
					$("#disagree").html(data[i].count);
				}
			}
		}
	});
} */
</script>