<div class="layer">
    <ul class="nav nav-tabs"  id="myTab">
        <li class="active"><a data-toggle="tab" href="#baseInfo"> <i
                class="green ace-icon fa fa-graduation-cap bigger-120"></i>常规
        </a></li>
        <li class=""><a data-toggle="tab" href="#stepInfo">
            <i class="green ace-icon fa fa-send bigger-120"></i>与会委员
        </a></li>

        <li class=""><a data-toggle="tab" href="#approveInfo">
            <i class="green ace-icon fa fa-check bigger-120"></i>会议内容
        </a></li>
    </ul>
    <div class="tab-content">
        <div id="baseInfo" class="tab-pane active clearfix">
            <div class="profile-user-info profile-user-info-striped wordbreak" >
				<div class="profile-info-row">
					<div class="profile-info-name">﻿会议编号</div>
					<div class="profile-info-value">${projectMap.code!}</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">会议名称</div>
					<div class="profile-info-value">>${projectMap.title!}</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">主持人</div>
					<div class="profile-info-value">${projectMap.hoteName!}</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">会议日期</div>
					<div class="profile-info-value">${projectMap.startTime!}</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">会议地址</div>
					<div class="profile-info-value">${projectMap.address!}</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">会议主题</div>
					<div class="profile-info-value">${projectMap.topics!}</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">创建日期</div>
					<div class="profile-info-value">${projectMap.createTime!}</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">审批行</div>
					<div class="profile-info-value">${projectMap.applyBankName!}</div>
				</div>
			</div>	
        </div>
        <div id="stepInfo" class="tab-pane  clearfix">
            <table id="committeetable">
						
					</table>
        </div>

        <div id="approveInfo" class="tab-pane  clearfix">
        	<table class="EditTable" width="100%" >
				<tbody>
					<tr class="FormData">
						<td class="DataTD">
							<textarea name="remark" class="autosize-transition form-control " readonly
							style="resize: none;height:250px">1，通报1—9月份银行存贷款目标完成情况。2，通报振达钢管公司有关情况。 3，布置银行存贷款等目标考核工作。 4，布置全国文明城市创建工作。5，讨论如何开展银企对接等工作。1，通报1—9月份银行存贷款目标完成情况。2，通报振达钢管公司有关情况。 3，布置银行存贷款等目标考核工作。 4，布置全国文明城市创建工作。5，讨论如何开展银企对接等工作。
							</textarea>
						</td>
					</tr>
				</tbody>
			</table>
        </div>

        </div>
    </div>
<script>
	$(function(){
		$('#committeetable').bootstrapTable({
			iconSize : 'sm',
			url : '${ctxPath!}/ptsystems/menu5/fun1401/getConfirmList?meetingId=${mettingId!}',
			height:400,
			toolbar:'#toolbar',
			cache: false,
			singleSelect:true,
			striped : true,
			columns : [
					{
						field : "id",
						title : '编号',
						formatter : function(value, row, index) {
							return index + 1;
						}
					},{
						field : "memUserName",
						title : '委员姓名',
						sortable : true
						
					 },{
						field:"memPostName",
						title:'职务',
						sortable : true
					},{
						field:"memRoleName",
						title:'部门',
						sortable : true
					}
				],
				contentType: "application/x-www-form-urlencoded",//复制
				queryParamsType: "",//复制
				dataType: "json",//复制
				method: "post",//复制
				queryParams : function(params){
					var obj={mettingId:'${mettingId!}'};
					$.extend(params,obj);
					console.log(obj);
					return params;
				}
		});
	})
</script>
