<!-- 头部 -->
@layout("/layout/header.html"){
<link rel="stylesheet" href="${ctxPath!}/static/ztree/metro.css" />
<link rel="stylesheet" href="${ctxPath}/static/validate/css/validform.css" />
<link rel="stylesheet" href="${ctxPath!}/static/css/custom.css" />
@}

<!-- 顶部条 -->
@layout("/layout/navbar.html"){
@}

<!-- 主体 -->
@layout("/layout/main3.html"){
	<div id="fill-main-content" style="height:100%">
	@if(has(roleCategory)&&roleCategory=="02"){
		
		@if(isNotEmpty(mettingId)){
		@var url1 = "/ptsystems/"+strutil.toLowerCase(session.loginUser.code)+"/menu8.html";
			@layout(url1){}
		@}else{
			<script type="text/javascript">$("a[toUrl$='menu8']").hide()</script>
			@var url2 = "/ptsystems/"+strutil.toLowerCase(session.loginUser.code)+"/menu9.html";
			@layout(url2){}
		@}
	@}else{
		@layout("/ptsystems/recently_metting_list.html"){}
	@}
	</div>
@}

<script type="text/javascript">
	$(function(){
		$(".navbar-default").css("background-image","url(${logoBase64})");
	});
</script>

<!-- 底部 -->
@layout("/layout/footer.html"){ 
@}