<div class="page-content">
		<div class="col-xs-12">
			<div id="fill-main-content" style="height: 100%">
				<div class="row">
					<div class="col-xs-12">
						<div class="tabbable">
							<ul class="nav nav-tabs padding-18">
								<li class="active"><a data-toggle="tab" href="#home"> <i
										class="green ace-icon fa fa-file-o bigger-140"></i> <font
										style="font-size: 18px;">系统信息</font></a></li>
							</ul>
							<div class="tab-content no-border padding-24">
										<div class="col-xs-1"></div>
													<p>
														<font style="font-size: 16px;">
															${session.loginUser.ptCommission.info}
														</font>
													</p>
									</div>
									<div class="col-xs-1"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<ul class="nav nav-tabs padding-18">
						<li class="active"><a data-toggle="tab" href="#home"><i
							class="green ace-icon fa fa-file-o bigger-140"> </i> <font
							style="font-size: 18px;">近期会议信息</font> </a></li>
					</ul>
					<div id="y_box1">
						<div class="widget-main padding-8"></div>
						<script type="text/javascript">
							$(function() {
								$("#tableshow")
										.bootstrapTable(
												{
													inconSize : 'sm',
													url : '${ctxPath!}/ptsystems/metting/selectRecentlyMettingList',
													striped : true,
													columns : [
															{
																field : "id",
																title : '序号',
																formatter : function(
																		value,
																		row,
																		index) {
																	return index + 1;
																}
															},
															{
																field : "specMettingCode",
																title : '会议编号',
																sortable : true
															},
															{
																field : "specMettingTitle",
																title : '会议名称',
																sortable : true
															},
															{
																field : "stateName",
																title : '状态',
																sortable : true
															},
															{
																field : "startTime",
																title : '会议时间',
																sortable : true
															} ]
												});
							});
						</script>
						<form action="" method="post" id="form1">
							<table id="tableshow"></table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>