<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title">提示信息</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('basMessageTable')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
				<table  id="basMessageTable" class="table table-hover "></table>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" value="${massCodes!}" id="massCodes" name="massCodes"/>

<script type="text/javascript">
$(function(){
	$("#sidebar-collapse").click(function(){
		refreshTable('basMessageTable');
	});
	var massCodes= $("#massCodes").val();
	$("#basMessageTable").bootstrapTable({
		inconSize : 'sm',
		url:'${ctxPath!}/pt/basMessage/getBasMessageList?massCodes='+massCodes,
		striped : true,
		height:400,
		columns : [ /* {
			checkbox : true,
		}, */ {
			field : "id",
			title : '序号',
			formatter : function(value, row, index) {
				return index + 1;
			}
		}, {
			field : "code",
			title : '提示编号',
			sortable : true
		}, {
			field : "sysText",
			title : '平台文本',
			sortable : true
		}, {
			field : "commText",
			title : '委员会文本',
			sortable : true,
		},{
			title: '操作',
	        field: 'id',
	        formatter:function(value,row,index){
	        	var edit='<a  href="javascript:void(0);"' +
					' data-mode="detail" data-title="编辑数据"' +
					' data-url="${ctxPath}/pt/basMessage/upBasMessage"' +
					'data-width="45%"' +
					'data-height="35%"'+
					'data-data="{id:' + row.id + '}" >' +
	                '<i class="ace-icon fa fa-pencil midder-130"></i>' +
					'</a>';
	        		 return edit;
	        }
			
		}]
	}); 
});


</script>
