<script type="text/javascript">
	$(function() {
		var functionCode=$("#functionCode").val();
		$("#alertInfo").bootstrapTable({
			inconSize : 'sm',
			height:300,
			url : '${ctxPath!}/pt/menuwinconf/listMenuWinConf?functionCode='+functionCode,
			cache: false,
			clickToSelect: true,
			columns : [{
				checkbox : true
			},{
				field : "id",
				title : '序号',
				formatter : function(value, row, index) {
					return index + 1;
				}
			}, {
				field : "type",
				title : '类型',
				sortable : true,
				formatter : function(value, row, index) {
					if(value==0){
						return "分组";
					}else if(value==1){
						return "采集框";
					}else if(value==2){
						return "明细列表";
					}else if(value==3){
						return "按钮";
					}
				}
			}, {
				field : "name",
				title : '名称',
				sortable : true
			},{
				field : "nullFlag",
				title : '是否为必填项',
				sortable : true,
				formatter : function(value, row, index) {
					if(value==0){
						return "是";
					}else if(value==1){
						return "否";
					}
				}
				/* formatter: function(value,row,index){
					var a = '<input name="commText" style="width:100%;" name="commText" value="">';
					var b =document.getElementByName("commText");
					b.attr(id,index);
					$('#index').val(value);
					return a;
					}  */
			}, {
				field : "collectType",
				title : '采集框类型',
				sortable : true,
				formatter : function(value, row, index) {
					if(value==0){
						return "文本框";
					}else if(value==1){
						return "下拉框";
					}else if(value==2){
						return "日期框";
					}else if(value==3){
						return "数字框";
					}else if(value==4){
						return "单选弹出框";
					}else if(value==5){
						return "多选弹出框";
					}else if(value==6){
						return "文本域";
					}else if(value==7){
						return "金额框";
					}
				}
			}, {
				field : "datasource",
				title : '采集框数据源',
				sortable : true
			}]
		});
	});
	
	function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="Edit">',
            '修改',
            '</a>'
        ].join('');
    }
	
	 window.operateEvents = {
		        'click .edit': function (e, value, row, index) {
		    	layer.confirm("确定要修改吗？",function(index){
		    		var id =row.id;
			 		layer.close(layer.index);
					$.cuslayer({
						mode:'page',
						height:'30%',
						width:'45%',
						title:'修改',
						url:'pt/ptresource/addVotePlan?id='+id,
			})
		     
		 },"提交确认"); 
		        	
		            $table.bootstrapTable('edit', {
		                field: 'id',
		                values: [row.id]
		            });
		        }
		    };
	
</script>
	<div id="toolbar2" style="margin-bottom:1px">
	<div class="widget-box">
	<div class="widget-header widget-header-flat widget-header-small" style="margin-top:4px">
	<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('tableysxm')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
	</div>
	<a id="previewtabhtml" class="btn btn-purple btn-xs"  href="javascript:void(0);"> <i
		class="ace-icon fa  fa-search-plus  bigger-130"></i> <span>预览</span>
	</a> 
	<a id='addGroup' class="btn btn-purple btn-xs" href="javascript:void(0);">
					<i class="ace-icon fa fa-plus-circle bigger-130"></i>
					<span>添加分组</span>
					</a>
	<a id="addGather" class="btn btn-purple btn-xs"  href="javascript:void(0);"> <i
		class="ace-icon fa fa-plus-circle bigger-130"></i> <span>添加采集框</span>
	</a> 
	<a id="addDetail" class="btn btn-purple btn-xs"  href="javascript:void(0);"> <i
		class="ace-icon fa fa-plus-circle bigger-130"></i> <span>添加明细项</span>
	</a>
	<a id="setWin" class="btn btn-purple btn-xs"  href="javascript:void(0);"> <i
		class="ace-icon fa  fa-gear bigger-130"></i> <span>设置</span>
	</a> 
	<a id="edit" class="btn btn-purple btn-xs"  href="javascript:void(0);"> <i
		class="ace-icon fa fa-pencil-square bigger-130"></i> <span>修改</span>
	</a> 
	<button class="btn btn-purple btn-xs" onclick="remove();"
		id="delSelected"> <i class="ace-icon fa fa-remove bigger-130"></i>
		<span>删除</span>
	</button>
	</div>
	<div class="widget-body">
			<div id="list-page" class="widget-main padding-8">
				<form action="" method="post" id="form1">
					<table id="alertInfo"></table>
					<input type="hidden" id="HdrowCode"/>
				</form>
			</div>
	</div>
	</div>
</div>
<table id="alertInfo" data-toolbar="toolbar2" class="table table-hover table-striped"></table>
<input type="hidden" id="functionCode" name="functionCode" value="${functionCode}"/>
<input type="hidden" id="resid" name="resid" value="${resid}"/>
<script>
$("#updatevote").click(function(){
	var rows = $('#alertInfo').bootstrapTable("getSelections");
	if(rows.length==0){
		layer.msg("请选择要操作的数据");
		return;
	}else if(rows.length>1){
		layer.msg("请选择一条数据进行操作");
		return;
	}else{
		var row = rows[0];
		var params = {
			mode : 'page',
			width : '50%',
			height : '60%',
			url : "${ctxPath!}/pt/menulist/toEdit",
			title:'修改委员会信息',
			data:{id:row.id}
		};
		$.cuslayer(params);
	}
});

function remove(){
	var checks = $("#alertInfo").bootstrapTable('getSelections');
	if(checks==""){
		layer.msg("请先选择要删除的数据！");
	}else{	
	layer.confirm("确定要删除数据吗？",function(){
		var ids = '';
		for(var i=0;i<checks.length;i++){
			ids += i == checks.length -1?checks[i].id:checks[i].id+ ',';
		}
		  $.post("${ctxPath!}/pt/menuwinconf/deleMenuWinById",{'id':ids},function(result){
			 if(result.code==1){
				 layer.msg("删除成功","1","1");
				 $("#alertInfo").bootstrapTable('refresh');
			}else{
				layer.msg("删除失败");
			}
		 },"json"); 
		layer.close();
	});
	}
}

/*新增分组*/
$("#addGroup").click(function(){
	//alert(id);
	var functionCode='${functionCode}';
	if(functionCode!=null){
		$.cuslayer(
				{
				mode:"page",
				url:"${ctxPath!}/pt/menuwinconf/toAddBasMenuWinConf",
				height:'65%',
				width:'50%',
				data:{'functionCode':functionCode},
				title:'添加窗体分组'
				}
		);
	}
})

/*设置窗体大小*/
$("#setWin").click(function(){
	var functionCode=$("#functionCode").val();
	if(functionCode!=null){
		$.cuslayer(
				{
				mode:"page",
				url:"${ctxPath!}/pt/menuwinconf/toSetWinSize",
				height:'30%',
				width:'35%',
				data:{'functionCode':functionCode},
				title:'设置弹出窗体高度'
				}
		);
	}
})

/*新增采集框*/
$("#addGather").click(function(){
	//alert(id);
	var functionCode='${functionCode}';
	var resid='${resid}';
	if(functionCode!=null){
		$.cuslayer(
				{
				mode:"page",
				url:"${ctxPath!}/pt/menuwinconf/toAddWindGather",
				height:'65%',
				width:'50%',
				data:{'functionCode':functionCode,'resid':resid},
				title:'添加窗体采集框'
				}
		);
	}
})

/*新增明细项*/
$("#addDetail").click(function(){
	//alert(id);
	var functionCode='${functionCode}';
	if(functionCode!=null){
		$.cuslayer(
				{
				mode:"page",
				url:"${ctxPath!}/pt/menuwinconf/toAddWinDetail",
				height:'65%',
				width:'50%',
				data:{'functionCode':functionCode},
				title:'添加窗体明细项'
				}
		);
	}
})

/*新增分组*/
$("#edit").click(function(){
	//alert(id);
	var functionCode='${functionCode}';
	var resid='${resid}';
	var rows = $('#alertInfo').bootstrapTable("getSelections");
	if(rows.length==0){
		layer.msg("请选择要操作的数据");
		return;
	}else if(rows.length>1){
		layer.msg("请选择一条数据进行操作");
		return;
	}else{
		var row = rows[0];
		//alert(row.type);
		var params1 = {
				mode:"page",
				url:"${ctxPath!}/pt/menuwinconf/toEditGroup",
				height:'65%',
				width:'50%',
				data:{'id':row.id,'functionCode':functionCode},
				title:'修改分组窗体'
			};
		var params2 = {
				mode:"page",
				url:"${ctxPath!}/pt/menuwinconf/toEditWindGather",
				height:'65%',
				width:'50%',
				data:{'id':row.id,'functionCode':functionCode,'resid':resid},
				title:'修改采集框窗体'
			};
		var params3 = {
				mode:"page",
				url:"${ctxPath!}/pt/menuwinconf/toEditWinDetail",
				height:'65%',
				width:'50%',
				data:{'id':row.id,'functionCode':functionCode},
				title:'修改明细项窗体'
			};
		if(row.type=="0"){
			$.cuslayer(params1);
		}else if(row.type=="1"){
			$.cuslayer(params2);
		}else if(row.type=="2"){
			$.cuslayer(params3);
		}
	}
})

/*预览*/
$("#previewtabhtml").click(function(){
	var height,width;
	if(functionCode!=null){
		$.ajax({
        	url: "${ctxPath}/pt/menuwinconf/getTempalet?functionCode=${functionCode}",
            dataType: "json",
            async: false,
            success: function(data) {
            	if(data.tempName.trim() == ""){
            		layer.msg('<span class="red bigger-120">尚未绑定模板！</span>');
            		return;
            	}else{
					$.ajax({
			        	url: "${ctxPath}/pt/menuwinconf/getWinSize?functionCode=${functionCode}",
			            dataType: "json",
			            async: false,
			            success: function(data) {
			            	height = data.height;
			            	width = data.width;
			            }
			        });
					$.cuslayer(
							{
							mode:"page",
							url:"${ctxPath!}/pt/menuwinconf/previewWinConf",
							height:height+'%',
							width:width+'%',
							data:{'functionCode':'${functionCode}'},
							title:'预览页面'
							}
					);
            	}
            }
        });
	}
})
</script>

