<div class="layer">
  <form id="gatherform" class="gatherform" method="post" action="${ctxPath!}/pt/menuwinconf/saveWindGather">
    <input type="hidden" value="${functionCode}" name="functionCode" />
    <input type="hidden" value="${resid}" name="resid" />
    <table class="EditTable" width="100%">
    		<tbody>
    		<tr class="FormData"> 
    		<td></td>  			
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">类型:</td>
				<td class="DataTD"><span>采集框</span><input type="hidden" value="1" name="type" />
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">名称:</td>
				<td class="" ><input style="width:200px"  type="text" name="name" datatype="*" nullmsg="请输入名称！" ajaxurl="${ctxPath!}/pt/menuwinconf/valiGroupName?functionCode=${functionCode}&type=1"  value="" style="font-size:12px;width:200px;"/>
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">绑定字段:</td>
				<td class="" >
					<select class=""  name="bindFiled" style="font-size:12px;width:200px;background-color:white" datatype="*" onchange="togroupid()" >
	                	@for(basDict in findSysList!){
							<option value="${basDict.id!}">
							  ${basDict.mapCnName!}
							</option>
						@}
	              </select>
				</td>
			</tr>
				<tr class="FormData">
				<td class="CaptionTD">指定分组:</td>
				<td class="DataTD" >
				<select id="group" onchange="show_sub(this.options[this.options.selectedIndex].value)" class="" name="groupid" style="font-size:12px;width:200px;background-color:white">
	                 @for(bindGroup in findgrouplist!){
							<option value="${bindGroup.groupid!}">
							  ${bindGroup.name!}
							</option>
						@}
	              </select>
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">是否必填项:</td>
				<td class="">
				<input id="nullFlag"  name="nullFlag" type="checkbox" value="1" />是必填项
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">采集框类型:</td>
				<td class="">
						<select id="collectType" class="" name="collectType" style="font-size:12px;width:200px;background-color:white">
	                <option value='0' selected>文本框</option>
	                <option value='1'>下拉框</option>
	                <option value='2'>日期框</option>
	                <option value='3'>数字框</option>
	                <option value='4'>单选弹出框</option>
	                <option value='5'>多选弹出框</option>
	                <option value='6'>文本域</option>
	                <option value='7'>金额框</option>
	              </select>
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">采集框数据源:</td>
				<td class="">
				<select id="dataSource" class="dataSource" name="dataSource" style="font-size:12px;width:200px;background-color:white">
					 		<option value="">
							 --请选择--
							</option>
	              @for(codegroup in findcodegrouplist!){
							<option value="${codegroup.id!}">
							  ${codegroup.codeGroupName!}
							</option>
						@}
	              </select>
				</td>
			</tr>	
			
			<tr class="FormData">
				<td class="CaptionTD">是否使用:</td>
				<td class="">
				<input id="useFlag"  name="useFlag" type="checkbox" value="0" checked/>使用
				</td>
			</tr>
			
			<tr class="FormData">
				<td class="CaptionTD">是否可更改:</td>
				<td class="">
				<input id="alterFlag"  name="alterFlag" type="checkbox" value="1" checked/>可更改
				</td>
			</tr>
			
			<tr class="FormData">
				<td class="CaptionTD">序号:</td>
				<td class="DataTD">
				<input id="orderCode" type="text" readonly value="${order!}" style="font-size:12px;width:200px;"/>
				<input id="realCode"  name="orderCode" type="hidden" value="${realCode!}"/>
				</td>
			</tr>
			
			<tr>
				<td> 
					<div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
						<button type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form">保存</button>&nbsp;&nbsp;
						<button type="reset" class="btn btn-primary btn-sm bigger-110" id="model-save-cancel">关闭</button>
					</div>
				</td>
			</tr>
			</tbody>
		
    </table>
   
  </form>   
</div>

<script type="text/javascript">
    
	function show_sub(v){
		groupid=v;
        var groupId = v.substring(0,3);
        $.ajax({
        	url: "${ctxPath}/pt/menuwinconf/getOrder?groupId="+groupId+"&functionCode=${functionCode!}",
            dataType: "json",
            async: false,
            method:"post",
            success: function(data) {
               $("#orderCode").val(data.ordercode);
               $("#realCode").val(data.realcode);
            }
        });
        
        togroupid();
    }    
	//ajx处理
	function togroupid(){
		var  groupid=$("select[name='groupid']").val();
		var  selectText= $.trim($("select[name='bindFiled'] option:selected").text());
		 //赋值
		// alert(encodeURI(encodeURI(selectText)));
		 $("select[name='bindFiled']").attr("ajaxurl","${ctxPath!}/pt/menuwinconf/valiGroupName?functionCode=${functionCode}&type=1&groupid="+groupid+"&selectText="+encodeURI(encodeURI(selectText)));
	}
	
$(function(){
	togroupid();
	//默认为文本框,下拉框不可选
	$('.dataSource').prop('disabled', true);
	
	var index = layer.index;
	
     //选择下拉框事件
     $("#collectType").change(function(){	
         		var typeValue=$("#collectType").val();
         		if((typeValue!=null&&typeValue==1) || (typeValue!=null&&typeValue==5)){
                      //$('#btnAddMoney').addClass('disabled'); // Disables visually
                   	$('.dataSource').prop('disabled', false);
                    }else{
                    	// $('#btnAddMoney').addClass('disabled'); // Disables visually
                    	$('.dataSource').prop('disabled', true); // Disables visually + functionally	
                    }

         	  }); 
    
   $("#gatherform").Validform({
	    ajaxPost:true,
        beforeSubmit:function(curform){
            var loadi = layer.load(5,2);
            $("#gatherform").data('loadi',loadi);
        },
        tiptype : function(msg, o, cssctl) {
            if (!o.obj.is("form")) {
                if (o.type != 2) {
                    tip.errorTip(msg,o.obj);
                }
            }
        },
        tipSweep : true,//表示提交表单时进行验证！
        callback:function(data){
			layer.close($("#gatherform").data('loadi'));
			//alert(data);
			if(data.code==1){
				layer.msg(data.msg, 1, 1,function(){
				});
				/* var sys = parent.document.getElementById("alertInfo");
	    		//var $sys = $(sys);
	    		//alert($sys);
	    		$sys.bootstrapTable('refresh'); */
	    		layer.closeAll('page'); 
				$("#alertInfo").bootstrapTable('refresh');
				//location.reload();
			}else{
				layer.msg(data.msg,3,1);
				//layer.closeAll('page');
			}
		}
    });

         
 
    // var index=layer.index;
    $("#model-save-cancel").click(function(){
    	
        layer.closeAll();
        layer.closeAll('tips');	
    });
});

</script>

