<div class="layer">
  <form id="groupform" class="groupform" method="post" action="${ctxPath!}/pt/menuwinconf/saveGroupUpdate">
    <input type="hidden" name="gId" value="${list.id}"/>
    <input type="hidden" name="functionCode" value="${list.functionCode}"/>
    <input type="hidden" name="groupId" value="${list.groupid}"/>
    <table class="EditTable" width="100%">
    		<tbody>
    		<tr class="FormData"> 
    		<td></td>  			
			</tr>
    		
			<tr class="FormData">
				<td class="CaptionTD">类型:</td>
				<td class="DataTD"><span>分组</span><input type="hidden" value="0" name="type" />
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">名称:</td>
				<td class="" ><input  style="width:200px" type="text" name="name" datatype="*" nullmsg="请输入名称！" ajaxurl="" value="${list.name!}" />
				</td>
			</tr>
			
			<tr class="FormData">
				<td class="CaptionTD">是否使用:</td>
				<td class="">
				<input id="useFlag"  name="useFlag" type="checkbox" value="0" 
				@if(list.useFlag=="0"){
					checked="checked"
				@}
				/>使用
				</td>
			</tr>
				
			<tr class="FormData">
				<td class="CaptionTD">序号:</td>
				<td class="">
				<input id="orderCode" name="orderCode" type="text" value="${list.orderCode!}" style="font-size:12px;width:200px;"/>
				<input type="hidden" name="realCode" value="${realCode}"/>
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">基本项标志:</td>
				<td class="">
				<input id="basicFlag"  name="basicFlag" type="checkbox" value="0" 
				@if(list.basicFlag=="0"){
					checked="checked"
				@}
				/>是否为基本项
				</td>
			</tr>
			<tr>
				<td> 
					<div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
						<button type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form">保存</button>&nbsp;&nbsp;
						<button type="reset" class="btn btn-primary btn-sm bigger-110" id="model-save-cancel">关闭</button>
					</div>
				</td>
			</tr>
			</tbody>
		
    </table>
   
  </form>   
</div>


<!-- <div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
	<input type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form" >确定</span>&nbsp;&nbsp;
	<span class="btn btn-primary btn-sm bigger-110" id="model-save-cancel">
		取消
	</span>
</div> -->
<script type="text/javascript">

$(function(){
	
	var index = layer.index;
/*     var options ={   
            url:'${ctxPath!}/pt/ptcommission/saveCommission',   
            type:'post', 
            dataType:'html',
            data:jQuery("#groupform").serialize(),
            success:function(data){
             if(data.statusCode=="OK") {  
                   
            	}else{

            	} 
            }   
         }; 
     var form =$("#groupform");//form1:表单ID  在表单界面只用这一个表单ID    
         $("#model-save-form").click(function() {
       	  form.ajaxSubmit(options); 
             return false;
         });*/

    
   $("#groupform").Validform({
	   ajaxPost:true,
    	tiptype : 4,
        beforeSubmit:function(curform){
            var loadi = layer.load(5,2);
            $("#groupform").data('loadi',loadi);
        },
        tiptype : function(msg, o, cssctl) {
            if (!o.obj.is("form")) {
                if (o.type != 2) {
                    tip.errorTip(msg,o.obj);
                }
            }
        },
        tipSweep : true,
        callback:function(data){
			layer.close($("#groupform").data('loadi'));
			//alert(data);
			if(data.code=="1"){
				layer.msg(data.msg, 1, 1,function(){
					//query();
					//var treeNodes = [{"id":1, "pId":0, "name":"test1"}];
				});
				layer.closeAll('page'); 
				$("#alertInfo").bootstrapTable('refresh');
				//location.reload();
			}else{
				layer.msg(data.msg,3,1);
				//layer.closeAll('page');
			}
		}
    });

         
 
    // var index=layer.index;
    $("#model-save-cancel").click(function(){
        layer.close(index);
    });
});

</script>

