<div class="layer">
  <form id="detailform" class="detailform" method="post" action="${ctxPath!}/pt/menuwinconf/saveWindDetailUpdate">
    <input name="bmwcId" type="hidden" value="${map.id}">
    <input name="oldGroupId" type="hidden" value="${map.groupid}">
    <table class="EditTable" width="100%">
    		<tr class="FormData"> 
    		<td></td>  			
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">类型:</td>
				<td class="DataTD"><span>明细项</span><input type="hidden" value="2" name="type" />
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">名称:</td>
				<td class="DataTD" ><input  type="text" name="name" datatype="*" nullmsg="请输入名称！" ajaxurl="" value="${map.name!}" />
				</td>
			</tr>
			
				<tr class="FormData">
				<td class="CaptionTD">指定分组:</td>
				<td class="DataTD" >
				<select class="" name="groupid" onchange="show_sub(this.options[this.options.selectedIndex].value)" style="font-size:12px;width:200px;">
	                 @for(bindGroup in findgrouplist!){
							<option value="${bindGroup.groupid!}"
								@if(map.groupid==bindGroup.groupid){
									selected="selected"
								@}
							>
							  ${bindGroup.name!}
							</option>
						@}
	              </select>
				</td>
			</tr>
			
			<tr class="FormData">
				<td class="CaptionTD">是否使用:</td>
				<td class="">
				<input id="useFlag"  name="useFlag" type="checkbox" value="0"
					@if(map.useFlag=="0"){
						checked="checked"
					@}
				/>使用
				</td>
			</tr>
			
			<tr class="FormData">
				<td class="CaptionTD">明细扩展对象:</td>
				<td class="DataTD" >
					<select id="expGroupObj" class="expGroupObj" name="expGroupObj" style="font-size:12px;width:200px;" disabled>
					<option value="">--请选择--</option>
					<option value="${map.id}" selected>${groupName!}</option>
						  @for(expGroup in findSelectDicExpList!){
							<option value="${expGroup.id!}">
							  ${expGroup.groupName!}
							</option>
						@}
	              	</select>
				</td>
			</tr>
		<!-- 	 <tr class="FormData">
				<td class="CaptionTD">采集框数据源:</td>
				<td class="">
				<select id="dataSource" class="dataSource" name="dataSource" style="font-size:12px;width:200px;">
	              @for(codegroup in findcodegrouplist!){
							<option value="${codegroup.id!}">
							  ${codegroup.codeGroupName!}
							</option>
						@}
	              </select>
				</td>
			</tr>	 -->
			
			<tr class="FormData">
				<td class="CaptionTD">序号:</td>
				<td class="DataTD">
				<input id="orderCode" name="orderCode" type="text" value="${map.orderCode!}" style="font-size:12px;width:200px;"/>
				<input id="realCode"  name="realCode" type="hidden" value="${map.realCode!}"/>
				</td>
			</tr>
			
			<tr class="FormData">
			<td colspan="2">
      		<div class="layer">
				<table id="expandtabSelect" class="table">
				<thead>
					<tr></tr>
					<tr></tr>
		            <tr>
		              <th>
		              		启用
		              </th>
		               <th style="width:40px">
		               		序号
		              </th>
		              <th>
		               		字段
		              </th>
		              <th>
		           	            是否为必填项
		              </th>
		              <th>
		           		 采集框类型
		              </th>
		               <th>
		           		 采集框数据源
		              </th>
		              <th>
		           		 是否可更改
		              </th>
		            </tr> 
		          </thead>
		          <tbody id='dataCode'></tbody>  	
		      	</table>
				</div>
			</td>
			</tr>
	
	
			<tr>
				<td> 
					<div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
						<button type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form">保存</button>&nbsp;&nbsp;
						<button type="reset" class="btn btn-primary btn-sm bigger-110" id="model-save-cancel">关闭</button>
					</div>
				</td>
			</tr>
    </table>
   
  </form>   
</div>


<!-- <div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
	<input type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form" >确定</span>&nbsp;&nbsp;
	<span class="btn btn-primary btn-sm bigger-110" id="model-save-cancel">
		取消
	</span>
</div> -->
<script id="dataTmpl" type="text/x-jsrender">
	<tr></tr>
<tr>
	<td>
	<input type='hidden' id='chk{{:id}}' name='chk' value='{{:id}}'></input>
		<input type='checkbox' id='useFlag{{:id}}' name='useFlag{{:id}}' value='0'
			{{if useFlag=='0'}}
				checked="checked"
			{{/if}}
		></input>

	</td>
	<td style="width:40px">
		 {{:#index+1}}
	</td>
          <td>
             {{:mapCnName}} 
          </td>
          <td>
              <select id='isMust{{:id}}' name='isMust{{:id}}'>
				<option value='0'
					{{if nullFlag=='0'}}
						selected="selected"
					{{/if}}
				>是</option>

				<option value='1'
					{{if nullFlag=='1'}}
						selected="selected"
					{{/if}}
				>否</option>
			  </select>  
          </td>
          <td>
         	  <select onchange='onSelectChange("{{:id}}");' id='selectData{{:id}}' name='selectData{{:id}}' >
				<option value='0'
					{{if collectType=='0'}}
						selected="selected"
					{{/if}}
				>文本框</option>

				<option value='1' 
					{{if collectType=='1'}}
						selected="selected"
					{{/if}}
				>下拉框</option>

				<option value='2'
					{{if collectType=='2'}}
						selected="selected"
					{{/if}}
				>日期框</option>

				<option value='3'
					{{if collectType=='3'}}
						selected="selected"
					{{/if}}
				>数字框</option>

				<option value='4'
					{{if collectType=='4'}}
						selected="selected"
					{{/if}}
				>金额框</option>
			  </select>
          </td>
           <td>
		  	<select id='selectDataSorce{{:id}}' name='selectDataSorce{{:id}}'>
								{{for children ~parentName=datasource}}
								<option value="{{:id}}"
									{{if id==~parentName}}
										selected="selected"
									{{/if}}
								>{{:codeGroupName}}</option>
								{{/for}}
			  </select>
          </td>

		<td>
              <select id='isAlert{{:id}}' name='isAlert{{:id}}'>
				<option value='1'
					{{if alterFlag=='1'}}
						selected="selected"
					{{/if}}
				>是</option>
				<option value='0'
					{{if alterFlag=='0'}}
						selected="selected"
					{{/if}}
				>否</option>
			  </select>  
          </td>
</tr> 
</script>
<script type="text/javascript">
function show_sub(v){     
    var groupId = v.substring(0,3);
    $.ajax({
    	url: "${ctxPath}/pt/menuwinconf/getOrder?groupId="+groupId+"&functionCode=${functionCode!}",
        dataType: "json",
        async: false,
        method:"post",
        success: function(data) {
           $("#orderCode").val(data.ordercode);
           $("#realCode").val(data.realcode);
        }
    });
}   

$(function(){
	
	var index = layer.index;
/*     var options ={   
            url:'${ctxPath!}/pt/ptcommission/saveCommission',   
            type:'post', 
            dataType:'html',
            data:jQuery("#detailform").serialize(),
            success:function(data){
             if(data.statusCode=="OK") {  
                   
            	}else{

            	} 
            }   
         }; 
     var form =$("#detailform");//form1:表单ID  在表单界面只用这一个表单ID    
         $("#model-save-form").click(function() {
       	  form.ajaxSubmit(options); 
             return false;
         });*/
    
     //根据明细项下拉框获得字段列表
      		$("#expGroupObj").ready(function(){
      			var id=$("#expGroupObj").val();
         		var ii = layer.load(5,2);
         		$.ajax({    
         		    url:'${ctxPath!}/pt/menuwinconf/findGroupList',// 跳转到 action    
         		    type:'post', 
         		    data:{id : id},
         		    cache:false,    
         		    dataType:'json',    
         		    success:function(data){    
         		    	//alert(1);
         		    	console.log(data);
         		    	if(data.length>0){
         		    		// addTable(data);
             		    	    var htm = $("#dataTmpl").render(data);  
             		    	    $("#dataCode").html(htm); 
             		    	   layer.close(ii);
             		    		  
         		    	}else{
         		    		layer.msg("数据异常！");
         		    	}
         		     },    
         		     error : function() {    
         		          alert("异常！");    
         		     },
         		});
      		});

    
   $("#detailform").Validform({
	   ajaxPost:true,
    	tiptype : 4,
        beforeSubmit:function(curform){
            var loadi = layer.load(5,2);
            $("#detailform").data('loadi',loadi);
        },
        tiptype : function(msg, o, cssctl) {
            if (!o.obj.is("form")) {
                if (o.type != 2) {
                    tip.errorTip(msg,o.obj);
                }
            }
        },
        tipSweep : true,
        callback:function(data){
			layer.close($("#detailform").data('loadi'));
			//alert(data);
			if(data.code=="1"){
				layer.msg(data.msg, 1, 1,function(){
					//query();
					//var treeNodes = [{"id":1, "pId":0, "name":"test1"}];
				});
				layer.closeAll('page'); 
				$("#alertInfo").bootstrapTable('refresh');
				//location.reload();
			}else{
				layer.msg(data.msg,3,1);
				//layer.closeAll('page');
			}
		}
    });
         
    // var index=layer.index;
    $("#model-save-cancel").click(function(){
        layer.close(index);
    });

});


function onSelectChange(objt){
	//console.log(obj1);
	 var typeValue=$('#selectData'+objt).val();
	 //alert(typeValue);
	 	if(typeValue!=null&&typeValue==1){
	 	  	$('#selectDataSorce'+objt).prop('disabled', false); // Disables visually + functionally
         	$('#selectDataSorce'+objt).show();
         }else{
        	$('#selectDataSorce'+objt).prop('disabled',true);
            $('#selectDataSorce'+objt).hide();
         	// $('#btnAddMoney').addClass('disabled'); // Disables visually
       
         }	 
}

</script>







