<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h6 class="widget-title">委员会角色管理</h6>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('tableysxm')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
				</div>
					<div class="widget-box" style="border:none">
					&nbsp;&nbsp;&nbsp;<a  href="javascript:void(0);"class="btn btn-primary btn-xs"  id=""
							title="增加角色"
										data-mode="page" data-title="增加角色"
										data-url="${ctxPath!}/pt/role/toAddRole"
										data-data="{id:'{row.id}'}"
										data-width="35%"
										data-height="65%"
										haschild="false" data-formatter="createhy">
						<i  class="ace-icon fa fa-plus-circle bigger-130"></i>
						新增角色
					</a>
					<a  href="javascript:void(0);" class="btn btn-primary btn-xs"  id="editRole">
						<i class="ace-icon fa fa-pencil-square"></i>
						修改角色</a>
					<a  href="javascript:void(0);"
							 class="btn btn-primary btn-xs"
							 onclick="remove();"
							 id="delSelected"  >
						<i class="ace-icon fa fa-remove bigger-130"></i>
						<span>删除</span>
					</a>
			</div>
			<div class="widget-body">
			<div id="list-page" class="widget-main padding-8">
				<form action="" method="post" id="form1">
					<table id="tableysxm"></table>
				</form>
			</div>
			</div>
	</div>
</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#tableysxm").bootstrapTable({
			inconSize : 'sm',
			height:300,
			url : '${ctxPath!}/pt/role/listRoles',
			clickToSelect : true,
			striped : true,
			columns : [ 
			{	field:"chk", 
				radio : true
			},{ field : "crid",
				title : '序号',
				formatter : function(value, row, index) {
				return index + 1;
			}},{
				field : "rolename",
				title : '角色名称',
				sortable : true
			},{
				field : "code",
				title : '编码',
				sortable : true
			},{
				field : "roleCategory",
				title : '角色类别',
				sortable : true,
				formatter : function(value, row, index) {
					if(value==01){
						return "秘书";
					}if(value==02){
						return "委员";
					}
				}
			}]
		});
		
	});
	//删除角色
	function remove(){
		var radio = $("#tableysxm").bootstrapTable('getSelections');
		if(radio==""){
			layer.msg('<span class="red bigger-120">请先选择数据</span>');
		}else{	
			layer.confirm("你确定要删除改角色吗？",function(){
			for(var i=0;i<radio.length;i++){
				var row = radio[i];
				 $.post("${ctxPath!}/pt/role/deleteRoleById",
						 {'crid':row.crid},
					function(result){
					 if(result.code==1){
						 layer.msg("删除成功",1,1);
						 $("#tableysxm").bootstrapTable('refresh');
					}else{
						layer.msg("删除失败",2);
					}
				 },"json");
			}
			layer.close();
		});
		}
	} 
	
	//修改角色
	$("#editRole").click(function(){
		var rows = $('#tableysxm').bootstrapTable("getSelections");
		if(rows.length==0){
			layer.msg('<span class="red bigger-120">请先选择数据</span>');
			return;
		}else{
			var row = rows[0];
			var params1 = {
					mode:"page",
					url:"${ctxPath!}/pt/role/toEditRole",
					height:'65%',
					width:'35%',
					data:{'id':row.crid},
					title:'修改角色'
				};
			$.cuslayer(params1);
		}
	})
</script>



