	<script type="text/javascript">
		$(function() {
			$("#tableysxm").bootstrapTable({
				inconSize : 'sm',
				url : '${ctxPath!}/pt/votematterconf/selectList?code=${code}',
				striped : true,
				columns : [
				{	field : "enable",
					title : '是否启用',
					formatter : function(value,row,index){
						if(value=='0'){
							return "启用";
						}
						else{
							return "未启用";
						}
					}
				},{	field : "plateformText",
					title : '平台文本',
					sortable : true
				},{
					field : "committeeText",
					title : '委员会文本',
					sortable : true
				}, {
					field : "id",
					title : '操作',
					formatter:function(value,row,index){
				        	var edit='<a  href="javascript:void(0);"' +
								' data-mode="detail" data-title="修改投票意见"' +
								' data-url="${ctxPath!}/pt/votematterconf/updateDate"' +
								' data-width="30%"' +
								' data-height="40%"'+
								' data-data="{id:&#39;' + row.id + '&#39;}" >' +
				                ' <i class="ace-icon fa fa-pencil midder-130"></i>' +
								' </a>';
				        		 return edit;
				        }
				}]
			});
			});
		function formaCheck(value,row,index) {
			if (row.enable == 0||row.enable== '0') {
				return {checked:true};
			}else{
				return {checked:false};
			}
		};
		$(function() {
			$("input[name='btSelectAll']").hide();
		});
	</script>
	<input type="hidden" value="${code}" id="code" name = "code"/>
		<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header widget-header-flat widget-header-small">
						<h6 class="widget-title">委员投票意见管理</h6>
						<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('basMessageTable')">  <i
								class="ace-icon fa fa-expand"></i>
						</a>
					</div>
		<div class="widget-body">
					<div id="list-page" class="widget-main padding-8">
						<form action="" method="post" id="form1">
							<table id="tableysxm"></table>
						</form>
						</div>
							</div>
								</div>
									</div>
										</div>
											</div>