<div class="layer">
<div class="widget-box">
	    <div class="form-inline" role="form">
	    	<div class="form-group">
			&nbsp;&nbsp;<span>委员会文本:</span>
			<input style="background-color: white" name="committeeText"  value="${ptVoteMatterConf.committeeText}" class="form-control w150"
							 type="text" id="committeeText" >
			</div>
	    	<div class="form-group">
			&nbsp;&nbsp;<span>是否启用:</span>
			<input name="enable"  value="0" class="form-control w150"
							 type="checkbox" id="enable" onclick="change();"
						@if(ptVoteMatterConf.enable=='0'){
							checked = "checked"
						@}
							 >
			</div>
			<div class="clearfix"  style="bottom: 0px;left: 25%;position:absolute;">
			<span class="btn btn-primary btn-sm bigger-110"  id="ok">确定</span>&nbsp;&nbsp;
			<span class="btn btn-primary btn-sm bigger-110" id="sys_dic_cancel">取消</span>
	</div>
	</div>
</div>
</div>
<input type="hidden" value="${ptVoteMatterConf.id}" id="id"/>
<input type="hidden" value="${ptVoteMatterConf}" id="ptVoteMatterConf" name = "ptVoteMatterConf"/>
<input type="hidden" value="${ptVoteMatterConf.enable}" id="ptVoteMatterConf..enable" name = "ptVoteMatterConf.enable"/>
<script type="text/javascript">
$("#ok").click(function(){
	var committeeText = $("#committeeText").val();
	var id= $("#id").val();
	var enable =$("#enable").val();
	$.ajax( {    
	    url:'${ctxPath!}/pt/votematterconf/updateSave',   
	    data:{
	    	id : id,    
	    	committeeText  : committeeText,
	    	enable  : enable
	    },    
	    type:'post',    
	    cache:false,    
	    dataType:'json',    
	  success:function(data) {    
	    	layer.msg(data.msg,1,1);
	  if(data.code==1){
	    		var sys = parent.document.getElementById("tableysxm");
	    		var $sys = $(sys);
	    		$sys.bootstrapTable('refresh');
	    		layer.close(lastIndex);
	    		
	    	}
	     },    
	     error : function() {    
	          alert("异常！");    
	     }    
	}); 
});
$("#sys_dic_cancel").click(function () {
	layer.closeAll();
	return false;
}); 

function change(){
	if($('#enable').is(':checked')){
		$("#enable").val("0");
	}else{
		$("#enable").val("1");
	}
}
$(function(){
	if($('#enable').is(':checked')){
		$("#enable").val("0");
	}else{
		$("#enable").val("1");
	}
})
</script>
