<!-- 头部 -->
@layout("/layout/header.html"){
<link rel="stylesheet" href="${ctxPath!}/static/ztree/metro.css" />
<link rel="stylesheet" href="${ctxPath}/static/validate/css/validform.css" />
<link rel="stylesheet" href="${ctxPath!}/static/css/custom.css" />
@}

<!-- 顶部条 -->
@layout("/layout/navbar.html"){
@}

<!-- 主体 -->
@layout("/layout/main.html"){
	<div id="fill-main-content" style="height:100%">
	@layout("/plateform/commission/commission_list.html"){}
	</div>
@}

<!-- 底部 -->
@layout("/layout/footer.html"){ 
@}
