<!-- 头部 -->
@layout("/layout/header.html"){
<link rel="stylesheet" href="${ctxPath!}/static/ztree/metro.css" />
<link rel="stylesheet" href="${ctxPath}/static/validate/css/validform.css" />
<link rel="stylesheet" href="${ctxPath!}/static/css/custom.css" />
@}

<!-- 顶部条 -->
@layout("/layout/navbar.html"){
	
@}

<!-- 主体 -->
@layout("/layout/main2.html"){
	<div id="fill-main-content" style="height:100%">
	   @var category = '02';
	   @layout("/plateform/sysDic/sysDic_list.html",{category:category}){}
	</div>
@}

<script type="text/javascript">
	$(function(){
		$(".navbar-default").css("background-image","url(${logoBase64})");
	});
</script>
<!-- 底部 -->
@layout("/layout/footer.html"){ 
@}
