<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h6 class="widget-title">${mettingName!}</h6>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2"> <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
				<div class="widget-toolbar no-border">
				<input type="text" value="${mettingId!}" id="aa"/>
				</div>
			</div>
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
					<div id="toolbar1">
						<form method="post" class="form-search" id="search-form" >
							<div class="form-inline" role="form">
								<div class="form-group">
									<a class="btn btn-primary btn-xs" href="javascript:void(0);" 
										title="委员确认"
										data-mode="page" data-title="确认当前委员状态"
										data-url="view/current/confirm.html"
										data-data="{id:'{row.id}'}"
										data-width="60%"
										data-height="80%"
										>
										<i class="fa fa-hand-o-up"></i> 委员确认
									</a>
									<a class="btn btn-primary btn-xs" style="width: 80px;" id="upDate"  href="javascript:void(0);"><i class="fa  fa-pencil-square"></i>&nbsp;修改议题</a>
									<a href="javascript:void(0);" id="result"  class="btn btn-sm .disabled"><i class="fa  fa-th-list"></i> 表决结果</a>
									<a href="javascript:void(0);" id="toPrepaMetting" onclick="toPrepaMetting({id:${id!}})" class="btn btn-success btn-sm"><i class="fa  fa-history"></i>&nbsp;转为预备会议</a>
									<a href="#/ajax/./view/hyzb/index.html" id="gotoPre" style="visibility: hidden;"></a>
									<a href="javascript:void(0);" id="toCompleMetting"  onclick="toCompleMetting({id:${id!}})" class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i>&nbsp;转为完成会议</a>
									<a href="#/ajax/./view/wchy/index.html" id="gotoCom" style="visibility: hidden;"></a>
									<a class="btn btn-primary btn-xs" href="javascript:void(0);" 
										title="会议信息"
										data-mode="page" data-title="会议信息"
										data-url="view/current/meeting-detail.html"
										data-data="{id:'{row.id}'}"
										data-width="40%"
										>
										<i class="fa  fa-reorder "></i> 会议信息
									</a>
									<a class="btn btn-success btn-xs" href="javascript:void(0);" 
										title="离线会议表决"
										data-mode="page" data-title="离线会议表决"
										/*data-url="view/current/remote.html"*/
										data-url="view/current/addmc.html"
										data-data="{id:'{row.id}'}"
										data-width="55%"
										data-height="100%"
										>
										<i class="fa  fa-reorder "></i> 离线会议表决
									</a>
								</div>
								<div class="form-group"></div>
								<div class="form-group width-95">	
									<a class="btn btn-primary btn-xs" href="javascript:void(0);" 
										title="项目资料"
										data-mode="page" data-title="项目详细资料"
										data-url="view/current/project-detail.html"
										data-data="{id:'{row.id}'}"
										data-width="50%"
										data-height="65%"
										>
										<i class="fa  fa-info"></i> 项目资料
									</a>
									<a class="btn btn-primary btn-xs" href="javascript:void(0);" 
										title="添加"
										data-mode="page" data-title="添加"
										data-url="view/current/add.html"
										data-data="{id:'{row.id}'}"
										data-width="35%"
										data-height="80%"
										>
										&nbsp;&nbsp;<i class="fa  fa-plus-circle"></i>&nbsp;添加&nbsp;&nbsp;
									</a>
									<a class="btn btn-primary btn-xs" style="width: 80px;" id="vote" onclick="vote()" href="javascript:void(0);">&nbsp;<i class="fa fa-play-circle"></i>&nbsp;表决&nbsp;&nbsp;</a>
									<a class="btn btn-primary btn-xs" style="width: 80px;" id="reDis" onclick="reDiscuss()" href="javascript:void(0);">&nbsp;&nbsp;<i class="fa fa-outdent"></i>&nbsp;再议&nbsp;&nbsp;</a>
									<a class="btn btn-primary btn-xs" style="width: 80px;" id="noDis" onclick="noDiscuss()" href="javascript:void(0);"><i class="fa  fa-times-circle "></i>&nbsp;不审议</a>
									<a class="btn btn-primary btn-xs" style="width: 80px;" id="up" onclick="up()" href="javascript:void(0);">&nbsp;&nbsp;<i class="fa  fa-level-up "></i>&nbsp;&nbsp;&nbsp;</a>
									<a class="btn btn-primary btn-xs" style="width: 80px;" id="down" onclick="down()" href="javascript:void(0);">&nbsp;&nbsp;<i class="fa  fa-level-down"></i>&nbsp;&nbsp;&nbsp;</a>
									<a class="btn btn-primary btn-xs" href="javascript:void(0);">&nbsp;&nbsp;<i class="fa fa-download"></i>&nbsp;导出&nbsp;&nbsp;</a>
								</div>
							</div>
						</form>
					</div>
						
						<table id="curMettingTable"></table>
				</div>
			</div>
		</div>
	</div>

</div>
<input type="text" value="${mettingId!}" id="aa"/>

<script type="text/javascript">

$(function(){
	$("#curMettingTable").bootstrapTable({
		inconSize : 'sm',
		url:'${ctxPath}/ptsystems/menu5List?id='+ ${mettingId!} + '&r='+ Math.random(),
		striped : true,
		height:375,
		columns : [{
			checkbox : true
			
		}, {
			field : "id",
			title : '序号',
			formatter : function(value, row, index) {
				return index + 1;
			}
		}, {
			field : "specProCode",
			title : '项目编号',
			sortable : true
		}, {
			field : "projectTitle",
			title : '评审项目名称',
			sortable : true
		}, {
			field : "reviewNote",
			title : '审批结果',
			sortable : true
		}, {
			field : "appliedAmount",
			title : '申请金额',
			sortable : true
		}, {
			field : "approvalDeptName",
			title : '需求提出部门',
			sortable : true
		}]
	}); 
	
});

</script>


<script type="text/javascript">

	/* 修改议题 */
	
	var functionCode="fun1402";
			
	$("#upDate").click(function(){
		var rows = $("#curMettingTable").bootstrapTable('getSelections');
		if(rows.length==0){
			layer.alert("请选择一条数据!");
		}else if(rows.length>1){
			layer.alert("请选择一条数据！");
		}else{
			row = rows[0];
			alert(functionCode);
		layer.confirm('确定删除数据吗？',function(){
				  $.post("${ctxPath!}/ptsystems/toFunctionIndex",{'id':row.id,'functionCode':functionCode},function(result){
					if(result.code==1){
						layer.msg("删除成功!");
						 $("#curMettingTable").bootstrapTable('refresh');
					}else{
						layer.msg("删除失败!");
					}
				},"json"); 
			});
		}	
	});
	
	
	function toPrepaMetting(param){
		alert(param.id);
		var params = {
				mode : 'page',
				url : "${ctxPath!}/ptsystems/menu5/fun1404",
				data:{mettingId:param.id}
		};
		$.cuslayer(params);
	}
	
	
	function toCompleMetting(param){
		var mettingId = $("#mettingId").val();
		alert(param.id);
		alert(1);
		var params = {
				mode : 'page',
				url : "${ctxPath!}/ptsystems/menu5/fun1405",
				data:{mettingId:param.id}
		};
		$.cuslayer(params);
	}
	
	
</script> 