<div class="layer">

		<div class="widget-body">
				
					<div id="toolbar1" style="margin-top:5px;">
							<div class="form-inline">
								<button class="btn btn-purple btn-xs" onclick="addOrgs()" style="width: 105px;">
									<i class="ace-icon fa fa-plus-circle bigger-130"></i>
									<span>批量添加机构</span>
								</button>
							</div>
				</div>			
		<div class="widget-box" style="margin-top:5px;">
			<div class="widget-body">
					<table id="tablePlatOrg"></table>
			</div>
		</div>
	</div>
</div>

<script>
	$(function(){
		$("#tablePlatOrg").bootstrapTable({
			inconSize : 'sm',
			height:300,
			url : '${ctxPath!}/pt/plateformorg/toPtOrgList',
			striped : true,
			columns : [ 
			{	field:"chk", 
				checkbox : true
			},{ field : "id",
				title : '序号',
				formatter : function(value, row, index) {
				return index + 1;
			}},{
				field : "orgname",
				title : '部门名称',
				sortable : true
			},{
				field : "code",
				title : '部门代码',
				sortable : true,
			},{
				field : "id",
				title : '操作',
				formatter:function(value,row,index){
		        	var edit='<a  href="javascript:void(0);" onclick="addOrg(&apos;'+row.id+'&apos;)"' +
						'data-data="{id:' + row.id + '}" >' +
		                '<i class="ace-icon fa fa-plus-circle bigger-130"></i>添加' +
						'</a>';
		        		 return edit;
		        }
			}]
		});
		
		$("#riskLevel-select").chosen({width: "120px",disable_search_threshold:10});
		$("#dealStatus-select").chosen({width: "120px",disable_search_threshold:10});

	})




	function modelNameFormatter(value,row,index){
		return ' <a  href="javascript:void(0);"'+
				' data-mode="detail" data-title="'+value+'    详细"'+
				' data-url="view/model/manager/model-detail.html?id='+row.id+ '"'+
				'data-width="50%"'+
				'data-data="{id:'+row.id+'}" >'+
				value +
				'</a>';

	}

	$("#submit").click(function(){
		layer.msg('提交成功', 1, 1,function(){
			layer.closeAll();
		});
	});
	$("#ok1").click(function(){
		layer.msg('重置成功', 1, 1,function(){
			layer.closeAll();
		});
	});
	
	function up(){
		 var all = $('#table16').bootstrapTable("getData");
		 var rows = $('#table16').bootstrapTable("getSelections");
		 if(rows.length <= 0){
			 layer.msg('<span class="red bigger-120">请先选择数据</span>');
		 }
		 var obj = rows[0];
		 if(obj.id != 1){
			 var index1,index2;
			 var data1,data2;
			 var ids = [];
			 for(var i = 0; i<all.length; i++){
				 if(i == obj.id-2){
					 ids.push(obj.id-1);
					 ids.push(obj.id);
					 
					 index1 = i;
					 data1 = all[i+1];
					 
					 index2 = i+1;
					 data2 = all[i];
				 }
			 }
			 $('#table16').bootstrapTable('remove', {field: 'id', values: ids});
			 data1.id = index1+1;
			 data2.id = index2+1;
			 $('#table16').bootstrapTable('insertRow', {index: index1, row: data1});
			 $('#table16').bootstrapTable('insertRow', {index: index2, row: data2});
			 var select = $('#table16').bootstrapTable("getSelections");
			 var id = select[0].id;
			 if(id == 1){
				 $("#up").removeClass("btn-purple");
				 $("#up").addClass(".disabled");
			 }else{
				 $("#up").removeClass(".disabled");
				 $("#up").addClass("btn-purple");
			 }
			 if(id == all.length){
				 $("#down").removeClass("btn-purple");
				 $("#down").addClass(".disabled");
			 }else{
				 $("#down").removeClass(".disabled");
				 $("#down").addClass("btn-purple");
			 }
			 
		 }
	}
	
	function down(){
		 var all = $('#table16').bootstrapTable("getData");
		 var rows = $('#table16').bootstrapTable("getSelections");
		 if(rows.length <= 0){
			 layer.msg('<span class="red bigger-120">请先选择数据</span>');
		 }
		 var obj = rows[0];
		 if(obj.id != all.length){
			 var index1,index2;
			 var data1,data2;
			 var ids = [];
			 for(var i = 0; i<all.length; i++){
				 
				 if(i == obj.id-1){
					 ids.push(obj.id);
					 ids.push(obj.id+1);
					 
					 index1 = i;
					 data1 = all[i+1];
					 
					 index2 = i+1;
					 data2 = all[i];
				 }
			 }
			 $('#table16').bootstrapTable('remove', {field: 'id', values: ids});
			 data1.id = index1+1;
			 data2.id = index2+1;
			 $('#table16').bootstrapTable('insertRow', {index: index1, row: data1});
			 $('#table16').bootstrapTable('insertRow', {index: index2, row: data2});
			 var select = $('#table16').bootstrapTable("getSelections");
			 var id = select[0].id;
			 if(id == 1){
				 $("#up").removeClass("btn-purple");
				 $("#up").addClass(".disabled");
			 }else{
				 $("#up").removeClass(".disabled");
				 $("#up").addClass("btn-purple");
			 }
			 if(id == all.length){
				 $("#down").removeClass("btn-purple");
				 $("#down").addClass(".disabled");
			 }else{
				 $("#down").removeClass(".disabled");
				 $("#down").addClass("btn-purple");
			 }
		 }
	}
	
     //添加机构
     function addOrg(id){
    	 $.post("${ctxPath!}/pt/PtCommissionOrg/addOrg",{'id':id},function(result){
			 if(result.code==1){
				 layer.msg("添加成功",1,1);
				 layer.closeAll("page");
			 	 $("#tableOrgList").bootstrapTable('refresh');
			}else{
				layer.msg("添加失败",2);
				//layer.closeAll("page");
		 		//$("#tableOrgList").bootstrapTable('refresh');
			}
		 },"json");
     }
     
     //批量添加机构
     function addOrgs(){
    	 var checks = $("#tablePlatOrg").bootstrapTable('getSelections');
 			if(checks==""){
 				layer.alert("请先选择要添加的机构！");
 			}else{
 				var ids=[];
 				for(var i=0;i<checks.length;i++){
					var row = checks[i];
					ids.push(row.id);
 				}
    	 			$.post("${ctxPath!}/pt/PtCommissionOrg/addOrgs",{'ids':ids.toString()},function(result){
			 		if(result.code==1){
				 		layer.msg("添加成功",1,1);
				 		layer.closeAll("page");
				 		$("#tableOrgList").bootstrapTable('refresh');
					}else{
						layer.msg("添加失败",2);
						//layer.closeAll("page");
				 		//$("#tableOrgList").bootstrapTable('refresh');
					}
		 		},"json");
 		}
  	}
</script>