<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h6 class="widget-title">委员会机构管理</h6>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('tableysxm')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>
			<div class="widget-box" style="margin-top:5px;margin-left:8px;">
	        	<a class="btn btn-primary btn-xs" href="javascript:void(0);"
	               data-mode="page" data-title="添加机构"
	               data-url="${ctxPath!}/pt/PtCommissionOrg/toAddOrg"
	               data-width="50%"
	               data-height="60%"
	               data-data="{id:'{row.id}'}">
					<i class="ace-icon fa fa-plus-circle bigger-130"></i>
					<span>新增</span>
				</a>
				<a class="btn btn-primary btn-xs" id="editOrg" href="javascript:void(0);">
					<i class="ace-icon fa fa-pencil-square"></i>&nbsp;编辑
				</a>
				<a class="btn btn-primary btn-xs" onclick="remove()" href="javascript:void(0);">
					<i class="ace-icon fa fa-remove bigger-130"></i>
					<span>删除</span>
				</a>
				<a class="btn btn-primary btn-xs" id="uporder" style="width: 80px;" href="javascript:void(0);">&nbsp;&nbsp;<i class="ace-icon fa  fa-level-up bigger-130"></i><span>升序</span></a>
				<a class="btn btn-primary btn-xs" style="width: 80px;" id="downorder" href="javascript:void(0);">&nbsp;&nbsp;<i class="ace-icon fa  fa-level-down bigger-130"></i><span>降序</span></a>
			</div>
			<div class="widget-body" style="margin-top:0px;">
				<div id="list-page" class="widget-main padding-8" style="margin-top:0px;">
					<form action="" method="post" id="form1">
						<table id="tableOrgList"></table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$("#tableOrgList").bootstrapTable({
			inconSize : 'sm',
			height:300,
			url : '${ctxPath!}/pt/PtCommissionOrg/toOrgList',
			striped : true,
			clickToSelect : true,
			columns : [ 
			{	field:"chk", 
				radio : true
			},{ field : "porgid",
				title : '序号',
				formatter : function(value, row, index) {
				return index + 1;
			}},{
				field : "orgorder",
				title : '排序号',
				sortable : true
			},{
				field : "orgname",
				title : '部门名称',
				sortable : true
			},{
				field : "state",
				title : '使用状态',
				sortable : true,
				formatter : function(value, row, index) {
					if(value==1){
						return "通用";
					}else if(value==2){
						return "秘书专用";
					}else if(value==3){
						return "委员专用";
					}else if(value==4){
						return "停用";
					}
				}
			},{
				field : "orgremark",
				title : '备注',
				sortable : true
			}]
		});
	});
	
	//升序
	$("#uporder").click(function(){
		 var all = $('#tableOrgList').bootstrapTable("getData");
		 var rows = $('#tableOrgList').bootstrapTable("getSelections");
		 var length=rows.length;
		 if(length <= 0){
			 //layer.msg('<span class="red bigger-120">请先选择数据</span>');
		 }else{
		 var obj = rows[0];
		 if(obj.orgorder != all[0].orgorder){//选中的排序号
			 var index1,index2;
			 var data1,data2;
			 var ids = [];
			 for(var i = 0; i<all.length; i++){//遍历所有的数据
				 if(all[i].orgorder == obj.orgorder){
					 ids.push(all[i-1].orgorder);//前一个
					 ids.push(obj.orgorder);//当前的
					 
					 index1 = i-1;//前一个位置索引
					 data1 = all[i];//后一个数据
					 
					 index2 = i;//当前位置索引
					 data2 = all[i-1];//前一个数据
				 }
			 }
			 var row=rows[0];
			 $.post("${ctxPath!}/pt/PtCommissionOrg/ascOrder",
					 {'porgid':row.porgid,'preporgid':all[index1].porgid,'orgorder':row.orgorder,'preorgorder':all[index1].orgorder},
					function(result){
				 		if(result.code==1){
					 		//layer.msg("删除成功",1,1);
							 //$("#tableOrgList").bootstrapTable('refresh');
							 var a=data2.orgorder;
			 				var b=data1.orgorder;
			 				$('#tableOrgList').bootstrapTable('remove', {field: 'orgorder', values: ids});//先删除触发的两行
			 				data1.orgorder=a;
			 				data2.orgorder=b;
							$('#tableOrgList').bootstrapTable('insertRow', {index: index1, row: data1});//插入第一行
							$('#tableOrgList').bootstrapTable('insertRow', {index: index2, row: data2});//插入第二行 
						}else{
							layer.msg("操作失败",2);
						}
					 },"json");
			 var select = $('#tableOrgList').bootstrapTable("getSelections");
			 var id = select[0].orgorder;
		 } 
		}
	});
	
	//降序
	$("#downorder").click(function(){
		 var all = $('#tableOrgList').bootstrapTable("getData");
		 var rows = $('#tableOrgList').bootstrapTable("getSelections");
		 if(rows.length <= 0){
			 layer.msg('<span class="red bigger-120">请先选择数据</span>');
		 }
		 var obj = rows[0];
		 if(obj.orgorder != all[all.length-1].orgorder){
			 var index1,index2;
			 var data1,data2;
			 var ids = [];
			 for(var i = 0; i<all.length; i++){
				 
				 if(all[i].orgorder == obj.orgorder){
					 ids.push(obj.orgorder);
					 ids.push(all[i+1].orgorder);
					 
					 index1 = i;
					 data1 = all[i+1];
					 
					 index2 = i+1;
					 data2 = all[i];
				 }
			 }
			 
			 var row=rows[0];
			 $.post("${ctxPath!}/pt/PtCommissionOrg/desOrder",
					 {'porgid':row.porgid,'nextporgid':all[index2].porgid,'orgorder':row.orgorder,'nextorgorder':all[index2].orgorder},
					function(result){
				 		if(result.code==1){
					 		//layer.msg("删除成功",1,1);
							 //$("#tableOrgList").bootstrapTable('refresh');
				 			 var a=data1.orgorder;
							 var b=data2.orgorder;
							 $('#tableOrgList').bootstrapTable('remove', {field: 'orgorder', values: ids});
							 data1.orgorder = b;
							 data2.orgorder = a;
							 $('#tableOrgList').bootstrapTable('insertRow', {index: index1, row: data1});
							 $('#tableOrgList').bootstrapTable('insertRow', {index: index2, row: data2});
						}else{
							layer.msg("操作失败",2);
						}
					 },"json");
			 var select = $('#tableOrgList').bootstrapTable("getSelections");
			 var id = select[0].orgorder;
			 /* if(id == 1){
				 $("#up").removeClass("btn-purple");
				 $("#up").addClass(".disabled");
			 }else{
				 $("#up").removeClass(".disabled");
				 $("#up").addClass("btn-purple");
			 }
			 if(id == all.length){
				 $("#down").removeClass("btn-purple");
				 $("#down").addClass(".disabled");
			 }else{
				 $("#down").removeClass(".disabled");
				 $("#down").addClass("btn-purple");
			 } */
		 }
	});
	
		//修改机构
		$("#editOrg").click(function(){
			var rows = $('#tableOrgList').bootstrapTable("getSelections");
			if(rows.length==0){
				layer.msg('<span class="red bigger-120">请先选择数据</span>');
				return;
			}else if(rows.length>1){
				layer.msg('<span class="red bigger-120">请选择一条数据进行操作</span>');
				return;
			}else{
				var row = rows[0];
				var params = {
					mode : 'page',
					width : '50%',
					height : '60%',
					url : "${ctxPath!}/pt/PtCommissionOrg/toEditOrg",
					title:'修改委员会信息',
					data:{porgid:row.porgid}
				};
				$.cuslayer(params);
			}
		});
		
		//删除机构
		function remove(){
			var radio = $("#tableOrgList").bootstrapTable('getSelections');
			if(radio==""){
				layer.msg('<span class="red bigger-120">请先选择要删除的机构！</span>');
			}else{	
				layer.confirm("你确定要删除改机构吗？",function(){
				for(var i=0;i<radio.length;i++){
					var row = radio[i];
					 $.post("${ctxPath!}/pt/PtCommissionOrg/deleteOrg",
							 {'code':row.code,'porgid':row.porgid},
							function(result){
						 		if(result.code==1){
							 		layer.msg("删除成功",1,1);
									 $("#tableOrgList").bootstrapTable('refresh');
								}else{
									layer.msg("删除失败",2);
								}
							 },"json");
				}
				layer.close();
			});
			}
		} 
</script>
