<script type="text/javascript">
	$(function() {
		$("#sidebar-collapse").click(function(){
			refreshTable('glueCodeList');
		});
		$("#glueCodeList").bootstrapTable({
			inconSize : 'sm',
			url : '${ctxPath!}/pt/glueCode/getGlueListByType/1',
			height : 400,
			striped : true,
			singleSelect:true,
			columns : [ {
				checkbox : true
			}, {
				field : "id",
				title : '序号',
				width:'20px',
				formatter : function(value, row, index) {
					return index + 1;
				}
			},{
				field : "id",
				title : '编号',
				width:'80px'
			}, {
				field : "sampleName",
				title : '简称'
			}, {
				field : 'description',
				title : '说明'
			}, {
				field : 'updateTime',
				title : '更新时间',
				width:'80px'
			} ],
			toolbar:'#toolbar',
			contentType : "application/x-www-form-urlencoded",
			queryParamsType : "",
			dataType : "json",
			method : "post",
			onClickRow:function(row,$element,field){
				var params = {
						mode : 'page',
						width : '70%',
						height : '90%',
						url : "${ctxPath!}/pt/glueCode/toGlueCodeView",
						data:{id:row.id},
						title:'详情'
				};
				$.cuslayer(params);
			}
		});
		
		$("#addGlueCode").click(function(){
			var params = {
					mode : 'page',
					width : '70%',
					height : '90%',
					url : "${ctxPath!}/pt/glueCode/toGlueCodeEdit",
					title:'添加'
			};
			$.cuslayer(params);
		});
		$("#updateGlueCode").click(function(){
			var rows = $("#glueCodeList").bootstrapTable('getSelections');
			if(rows.length==0){
				layer.alert("请先选择要操作的数据！");
				return;
			}
			var row = rows[0];
			var params = {
					mode : 'page',
					width : '70%',
					height : '90%',
					url : "${ctxPath!}/pt/glueCode/toGlueCodeEdit",
					title:'修改',
					data:{id:row.id}
			};
			$.cuslayer(params);
		});
	});
</script>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title">项目编码方案列表</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('glueCodeList')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
					<table id="glueCodeList"></table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="toolbar">
	<a class="btn btn-purple btn-xs" href="javascript:void(0);"  id="addGlueCode">
		<i class="fa  fa-plus-circle"></i>&nbsp;新建
	</a>
	<a id="updateGlueCode" class="btn btn-purple btn-xs" href="javascript:void(0);">
		<i class="ace-icon fa fa-pencil-square bigger-130"></i>&nbsp;修改
	</a>
</div>