<div class="layer">
  <form  id="plateform" method="post" name="plateform" action="${ctxPath!}/pt/menuwinconftable/basMenuWinConf" >
   	<input type="hidden" value="${functionCode!}" id="functionCode" name="functionCode"/>		
	<input type="hidden" value="${list1!}" id="list1" name="list1"/>		
    <table class="EditTable" width="100%">
    <tbody>
			<tr class="FormData">
				<td class="CaptionTD">功能名称:</td>
				<td  class="" colspan="3"><input id ="name" style="width:300px" type="text" name="name" datatype="/^\S{1,20}$/" errormsg="名称应该由1到20为任意字符组成" ajaxurl="" value="" />
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">绑定事件或URL:</td>
				<td class="" colspan="3"><input style="width:300px"  type="text" name="bindEventOrUrl"
				              value=""/>
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">指定分组:</td>
				<td class="DataTD" >
			<select class="" name="groupname" style="font-size:12px;width:200px;background-color: white">
	                 @for(bindGroup in list1!){
							<option value="${bindGroup.groupid!}">
							  ${bindGroup.name!}
							</option>
						@}
	         </select>
			</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD ">是否启用:</td>
				<td class=""  colspan="1">
					<input  name="state" type="checkbox" value="0" checked=""/>启用							
				</td>
			</tr>
			<tr>
			<td> 
			<div class="clearfix" tag-save-btn style="bottom: 20%;left: 35%;position:absolute;">
				<input type="submit" class="btn btn-primary btn-sm bigger-110"   value="保存" id="submitForm" />
				<input type="button" class="btn btn-primary btn-sm bigger-110"   value="取消 " id="model-update-cancel" />
			</div></td>
			</tr>
			</tbody>
    </table>
  </form>   
</div>
<script type="text/javascript">
			var index = layer.index;
				$("#model-update-cancel").click(function(){
				layer.close(index);
			});
			$("#plateform").Validform({
			      	 ajaxPost:true,
			         tiptype : 4,
			              beforeSubmit:function(curform){
			                  var loadi = layer.load(5,2);
			                  $("#plateform").data('loadi',loadi);
			              },
			              tiptype : function(msg, o, cssctl) {
			                  if (!o.obj.is("form")) {
			                      if (o.type != 2) {
			                          tip.errorTip(msg,o.obj);
			                      }
			                  }
			              },
			              tipSweep : true,
			              callback:function(data){
			      			layer.close($("#plateform").data('loadi'));
			      			if(data.code=="1"){
			      				layer.msg(data.msg, 1, 1,function(){
			      				});
			      				layer.closeAll('page'); 
			      				$("#tableysxm").bootstrapTable('refresh');
			      			}else{
			      				layer.msg(data.msg,3,1);
			      				layer.closeAll('page');
			      			}
			      		}
			          });
</script>

