<!-- 头部 -->
@layout("/layout/header.html"){
<link rel="stylesheet" href="${ctxPath!}/static/ztree/metro.css" />
<link rel="stylesheet"
	href="${ctxPath}/static/validate/css/validform.css" />
<link rel="stylesheet" href="${ctxPath!}/static/css/custom.css" />
<style>
<!--
.CodeMirror: {
	border: 0px solid black;
	font-size: 16px;
	height: 100%;
}
-->
</style>
@}

<form action="" method="post" id="tf">
	<textarea id="glueSource"></textarea>
	<input type="button" value="保存" id="testGlueSource" />
	<input type="button" value="测试执行" id="testGlueSourceEx" />
</form>


<script type="text/javascript">
	$(function() {
		// init code editor
		var codeEditor = CodeMirror.fromTextArea(document
				.getElementById("glueSource"), {
			mode : "text/x-java",
			lineNumbers : true,
			matchBrackets : true
		});

		$("#testGlueSource").click(function() {
			//Angel.ajax("${ctxPath!}/test/insertGlueTest","");
			var code = codeEditor.getValue();
			Angel.ajax("${ctxPath!}/test/insertGlup",{"dyCode":code},function(data){
				alert(data.msg);
			});
		});
		
		$("#testGlueSourceEx").click(function(){
			Angel.ajax("${ctxPath!}/test/getGlupEx",{"id":"1111"},function(data){
				layer.msg(data.msg);
			});
		});
	});
	// editor height
	var height = Math.max(document.documentElement.clientHeight,
			document.body.offsetHeight);
	$("#glueSource").attr('style', 'height:' + height + 'px');
</script>

<!-- 底部 -->
@layout("/layout/footer.html"){ 
@}
