<div class="layer">
<div class="widget-box">
	    <div class="form-inline" role="form">
	    	<div class="form-group">
			&nbsp;&nbsp;<span>映射名称:</span>
			<input name="mapCnName"  value="${sysDicFields.mapCnName}" class="form-control w150" type="text" id="mapCnName" >
			</div>
		<div class="clearfix"  style="bottom: 0px;left: 25%;position:absolute;">
			<span class="btn btn-primary btn-sm bigger-110"  id="ok" >确定</span>&nbsp;&nbsp;
			<span class="btn btn-primary btn-sm bigger-110" id="sys_dic_cancel">
				取消
			</span>
	</div>
	</div>
</div>
</div>
<input type="hidden" value="${sysDicFields.id}" id="id"/>
<script type="text/javascript">
$("#ok").click(function(){
	
	var mapCnName = $("#mapCnName").val();
	//var mapPrecision = $("#mapPrecision").val();
	var id= $("#id").val();
	var msg="是否确认修改数据";
	$.ajax( {    
	    url:'${ctxPath!}/pt/ptSysDic/editDidcField',// 跳转到 action    
	    data:{    
	    	id : id,    
	    	mapCnName : mapCnName   
	    },    
	    type:'post',    
	    cache:false,    
	    dataType:'json',    
	    success:function(data) {    
	    	layer.msg(data.msg);
	    	if(data.code==1){
	    		layer.msg('修改成功!', 1, 1,function(){
	    			layer.close(lastIndex);
				$("#sysDicTable").bootstrapTable('refresh');
                });	
	    	}
	     },    
	     error : function() {    
	          alert("异常！");    
	     }    
	}); 
});
$("#sys_dic_cancel").click(function () {
	layer.close(lastIndex);
	return false;
});


</script>
