<div class="row">
<div class="col-xs-12">
	<div class="col-xs-4">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title">项目扩展分组</h5>
			</div>
			<div class="widget-body" style="margin-top: 12px; margin-left: 13px;">
			 <a class="btn btn-purple btn-xs" id="addGroup"  href="javascript:void(0);">
	            	<i class="ace-icon fa fa-plus-circle bigger-100">增加</i>
	            </a>
			<!-- <div class="form-inline" role="form"> -->
	        	<!-- <a class="btn btn-primary btn-xs" href="javascript:void(0);"
	               data-mode="page" data-title="添加扩展明细分组"
	               data-url="${ctxPath!}/pt/dicExp/sysExpGroup"
	               data-width="50%"
	               data-height="45%"
	               data-data="{id:'{row.id}'}">
					<i class="ace-icon fa fa-plus-circle bigger-100"></i>
					<span>添加</span>
				</a> -->
				<!-- onclick="updatePro()" -->
	            <a class="btn btn-purple btn-xs" id="updGroup"  href="javascript:void(0);">
	            	<i class="ace-icon fa fa-pencil-square bigger-100">修改</i>
	            </a>
	           	<a  id="deleteGroup" class="btn btn-purple btn-xs" href="javascript:void(0);" >
					<i class="ace-icon fa fa-remove bigger-100">删除</i>
				</a>
				<!-- </div> -->
				<div class="widget-main padding-8">
					<ul id="ztree" class="ztree" style="min-height: 380px;"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<div class="widget-toolbar">
					<a  href="javascript:void(0);"class="btn btn-purple btn-xs" style="width:95px" id="saveUp">
						<i class="ace-icon fa fa-cloud-download bigger-130"></i>
						保存更新
					</a>
			     </div>
			</div>
			<div class="widget-body">
				<table id="DicExpTable"></table>
			</div>
		</div>
	</div>
	</div>
</div>

<script type="text/javascript">
var setting = {
		async:{
			enable: true,
			url:"${ctxPath!}/pt/dicExp/getDicExpList", 
			autoParam:"id",
			dataType:"json"
		},
		data: {
			simpleData: {
				enable: true,
				idKey: "id",
				pIdKey: "pId"
			},
			key: {
				name: "groupName"
			}
		},
		callback: {
			onClick: onClickNode
		}
		
	};	
	/*初始树变量*/
var zTree;  
var treeNodes;
var treeObj;
$(function(){
	var category = $("#category").val();
	$.ajax({
		async : false,  
        url:"${ctxPath!}/pt/dicExp/getDicExpList",//请求的action路径  
        type: 'POST',  
        dataType : "json",  
        error: function () {//请求失败处理函数  
        	layer.msg("未找到树！",3,1);  
        },  
        success:function(data){ //请求成功后处理函数。
		       if(data.length>0){
		    	   treeNodes=data; //把后台封装好的简单Json格式赋给treeNodes  
		    	   zTree = $.fn.zTree.init($("#ztree"), setting, treeNodes)
		    	    treeObj = $.fn.zTree.getZTreeObj("ztree");
		    	    var nodes = zTree.getNodes();
		    	    zTree.setting.callback.onClick(null, treeObj.setting.treeId, nodes[0]);
		       }else{
		    	   zTree = $.fn.zTree.init($("#ztree"), setting, null)
       			}
        }	
	});
	/* zTree = $.fn.zTree.init($("#ztree"), setting, treeNodes); 
	var treeObj = $.fn.zTree.getZTreeObj("ztree");  
    var nodes = treeObj.getNodes(); 
    zTree.setting.callback.onClick(null, treeObj.setting.treeId, nodes[0]);//点击第一个父节点下面第一个子节点   */
});

//--------------增加分组------------------------
$("#addGroup").click(function(){
		$.cuslayer(
				{
				mode:"page",
				url:"${ctxPath!}/pt/dicExp/sysExpGroup",
				height:'45%',
				width:'35%',
				title:'添加组'
				}
		);
	});	





/*删除扩展分组信息*/
$("#deleteGroup").click(function(){
		 var snode=zTree.getSelectedNodes();
		 if(snode==null||snode.length<1){
			 layer.alert("当前没有选中节点！");//
			 return false;
		 }
		 var id=snode[0].id;
		 layer.confirm('确定删除扩展分组信息吗？',function(){
					  $.post("${ctxPath!}/pt/dicExp/deleteExpGroup",{'id':id},function(data){
						if(data.code==1){
							layer.msg("删除成功!",1,1);
							var treeObj = $.fn.zTree.getZTreeObj("ztree");
							var nodes = treeObj.getSelectedNodes();
							//alert(nodes[0].getParentNode());
							if (nodes.length>0) {
								treeObj.reAsyncChildNodes(nodes[0].getParentNode(), "refresh");
								}
							//treeObj.reAsyncChildNodes(null, "refresh");
							//$("#DicExpTable").bootstrapTable('refresh');
							layer.close(lastIndex);
						}else{
							layer.msg("删除失败!");
						}
					},"json"); 
			
			}); 
	});	
	
//-----------------修改分组-----------------------------
$("#updGroup").click(function(){
		 var snode=zTree.getSelectedNodes();
		 if(snode==null||snode.length<1){
			 layer.alert("当前没有选中节点！");//
			 return false;
		 }
		 var id=snode[0].id;
			if(id!=null){
				$.cuslayer(
						{
						mode:"page",
						url:"${ctxPath!}/pt/dicExp/updateExpGroup",
						height:'45%',
						width:'35%',
						data:{'id':id},
						title:'修改节点'
						}
				);
			}
		
	});	

	
	
	

//-----------------------------根据每个树的节点，查询数据------------------------
function onClickNode(e, treeId, treeNode){
	var gropId= treeNode.id;
	$("#DicExpTable").bootstrapTable("destroy");
	$("#DicExpTable").bootstrapTable({
		inconSize : 'sm',
		url:'${ctxPath!}/pt/dicExp/getDicExpDetial?id='+gropId,
		striped : true,
		height:400,
		onClickCell:function(field,value,row){
			expDicId = row.id;
			$.cuslayer({mode:"page",url:"${ctxPath}/pt/dicExp/findDicGroupFild?gropId=" + gropId + "&expDicId=" + expDicId,height:'45%',width:'35%',title:'编辑映射名称'});
		},
		columns : [ {
			checkbox : true,
			formatter:formaCheck,
			field:"chk"
		}, 
		{
			field : "enName",
			title : '英文名称',
			sortable : true
		}, {
			field : "cnName",
			title : '中文名称',
			sortable : true
		}, {
			field : "dataType",
			title : '数据类型',
			sortable : true,
			formatter : function(value,row,index){
				if (value =="01") {
					return '数字';
				} else if(value == "02"){
					return '字符串';
				}else if(value == "03"){
					return '编码&名称';
				}else if(value == "04"){
					return '编码&名称';
				}else{
					return '金额';
				}
			}
		}, {
			field : "dateLenget",
			title : '长度',
			sortable : true
		}, {
			field : "precision",
			title : '精度',
			sortable : true
		}, {
			field : "mapCnName",
			title : '映射名称',
			sortable : true
		}, {
			field : "mapPrecision",
			title : '映射精度',
			sortable : true
		}, {
			field : "nullFlag",
			title : '允许为空',
			sortable : true,
			formatter : function(value,row,index){
				if (value == 0) {
					return '可为空';
				} else {
					return '不可为空';
				}
			}
		},{
			field : "plateFlag",
			title : '平台标志',
			sortable : true,
			formatter : function(value,row,index){
				if (value == 0) {
					return '是';
				} else {
					return '否';
				}
			}
			
		},{
			field : "state",
			title : '状态',
			sortable : true,
			formatter : function(value, row, index) {
				if (value == '0') {
					return '启用';
				} else {
					return '不启用';
				}
			}
			
		}]
	});
	
	//--------------判断是不是平台标志----------------------------------
	function formaCheck(value,row,index) {
		//alert(value);
		if (row.plateFlag == 0||row.plateFlag== '0'&&row.state == '0') {
			return {disabled:true,checked:true};
		}else if(row.state == '0'||row.state == 0){
			return {checked:true};
		}
	}; 
	
}




//----------------------------------------------
//----------------------------更改是不是启用------------------------------------
	$('#saveUp').click(function(){
		var rows = $("#DicExpTable").bootstrapTable('getData');
			var rowsTemp = new Array();
			for(var i=0;i<rows.length;i++){
				var row = rows[i];			
				if(row.plateFlag==1){
					var ids = {};
					ids["id"]=row.id;
					if(row.chk){
						ids["state"]="0";
					}else{
						ids["state"]="1";
					}
					rowsTemp.push(ids);
				}
			}
			var basdict = JSON.stringify(rowsTemp);
			//alert(basdict);
			 $.post("${ctxPath!}/pt/dicExp/saveUpStateExp",{'basdict':basdict},function(result){
					if(result.code==1){
						layer.msg(result.msg, 1, 1,function(){
						$("#DicExpTable").bootstrapTable('refresh');
                        });	
					}else{
						layer.msg("修改失败!");
					}
				},"json");
	});

</script>