<script type="text/javascript">
	$(function() {
		$("#sidebar-collapse").click(function(){
			refreshTable('tableysxm');
		});
		$("#tableysxm").bootstrapTable({
			inconSize : 'sm',
			url : '${ctxPath!}/pt/FunConfMapper/showList?Mlcid=${Mlcid}',
			striped : true,
			columns : [ {
				formatter:formaCheck,  
				field:"chk", 
				checkbox : true
			},{
				field : "id",
				title : '序号',
				formatter : function(value, row, index) {
				return index + 1;
				}
			},{
				field : "functionCode",
				title : '功能编码',
				sortable : true
			},
			{
				field : "functionName",
				title : '功能名称',
				sortable : true
			},{
				field : "type",
				title : '分类',
				sortable : true,
				formatter : function(value, row, index) {
					if(value==1){
						return "平台";
					}else{
						return "专有";
					}
					}
			},{
				field : "sysText",
				title : '平台文本',
				sortable : true
			},{
				field : "commtext",
				title : '委员会文本',
				sortable : true
			},{
				field : "bindEventOrUrl",
				title : '绑定事件或URL',
				sortable : true
			},{
				field : "displayname",
				title : '使用模板名称',
				sortable : true
			},{
				field : "skipClassMethod",
				title : '跳转前处理方法',
				sortable : true
			},{
				field : "id",
				title : '操作',
				formatter:function(value,row,index){
					var useFlag = row.chk?1:0;
			        	var edit='<a  href="javascript:void(0);"' +
							' data-mode="detail" data-title="编辑数据"' +
							' data-url="${ctxPath!}/pt/FunConfMapper/selectCommtext"' +
							' data-width="40%"' +
							' data-height="60%"'+
							' data-data="{id:&apos;' + row.id + '&apos;,useFlag:'+useFlag+'}" >' +
			                ' <i class="ace-icon fa fa-pencil midder-130"></i>' +
							' </a>';
			        		 return edit;
			        }
			}]
		});
		function formaCheck(value,row,index) {
			if (row.useFlag == 1||row.useFlag== '1') {
				return {checked:true};
			}else{
				return {checked:false};
			}
		};
		
	});
	$('#saveUpdate').click(function(){
		var rows = $("#tableysxm").bootstrapTable('getData');
		var rowsTemp = new Array();
		for(var i=0;i<rows.length;i++){
			var row = rows[i];			
				var ids = {};
				ids["id"]=row.id;
				if(row.chk){
					ids["useFlag"]="1";
				}else{
					ids["useFlag"]="0";
				}
				rowsTemp.push(ids);
		}
		var basdict = JSON.stringify(rowsTemp);
	$.post("${ctxPath!}/pt/FunConfMapper/saveUpdate",
				{'basdict':basdict},
		function(result){
		if(result.code==1){
				layer.msg("保存成功!","1","1");
				$("#tableysxm").bootstrapTable('refresh');
			}else{
				layer.msg("保存失败!");
			}
		},"json"
			);
			});
</script>
<input type="hidden" value="${Mlcid!}" id="Mlcid" name="Mlcid"/>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h6 class="widget-title">操作功能</h6>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('tableysxm')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
				<div class="widget-toolbar">
					<a  href="javascript:void(0);"class="btn btn-purple btn-xs"  id="saveUpdate">
						<i class="ace-icon fa fa-cloud-download bigger-130"></i>
						保存更新
					</a>
			     </div>
			     <div class="widget-toolbar">
				 <a href="javascript:void(0);"   class="btn btn-purple btn-xs"
					title="增加操作功能"
						data-mode="page" data-title="增加操作功能"
						data-url="${ctxPath!}/pt/FunConfMapper/showAddfunction?Mlcid=${Mlcid!}"
						data-data="{id:'{row.id}'}"
						data-width="40%"
						data-height="60%"
						haschild="false" data-formatter="createhy">
						<i class="fa  fa-plus-circle">新增</i>
					</a>
			     </div>
			</div>
			<div class="widget-body">
			<div id="list-page" class="widget-main padding-8">
				<form action="" method="post" id="form1">
					<table id="tableysxm"></table>
					<input type="hidden" id="HdrowCode"/>
				</form>
			</div>
			</div>
		</div>
	</div>
</div>


