<div class="layer">
<div class="widget-box">
	    <div class="form-inline" role="form">
	    	<div class="form-group">
			&nbsp;&nbsp;<span>分组名称:</span>
			<input name="groupName" id="groupName" value="${bp.groupName!}" class="form-control w150" type="text" datatype="*" nullmsg="分组名称">
			</div>
			<div class="form-group">
			&nbsp;&nbsp;<span>是否启用:</span>
			@if(bp.state == 0){
			<input id="state" name="state"  value="0" class="form-control w150" type="checkbox"  checked>启用
			@}else{
			<input id="state" name="state"  value="1" class="form-control w150" type="checkbox" >启用
			@}
			</div>
		<div class="clearfix"  style="bottom: 0px;left: 25%;position:absolute;">
			<span class="btn btn-primary btn-sm bigger-110"  id="ok" >确定</span>&nbsp;&nbsp;
			<span class="btn btn-primary btn-sm bigger-110" id="sys_dic_cancel">
				取消
			</span>
	</div>
	</div>
</div>
</div>
 <input type="hidden" value="${bp.id!}" name="id" id="id"/>
 <input type="hidden" value="${bp.groupName!}" name="groupName" id="groupName"/>
 <input type="hidden" value="${bp.state!}" name="state" id="state"/>
<script type="text/javascript">
$("#ok").click(function(){
	var id=$("#id").val()
	var groupName=$("#groupName").val();
	var state='';
	if($("#state").is(":checked")){
		state='0';
	}else{
		state='1';
	}
	$.ajax( {    
	    url:'${ctxPath!}/pt/dicExp/saveUpExpGroup',// 跳转到 action    
	    type:'post', 
	    data:{    
	    	id : id, 
	    	groupName:groupName,
	    	state:state
	    },
	    cache:false,    
	    dataType:'json',    
	    success:function(data){
	    	layer.msg(data.msg,1,1)
	    	if(data.code==1){
	    		var treeObj = $.fn.zTree.getZTreeObj("ztree");
				var nodes = treeObj.getSelectedNodes();
				treeObj.reAsyncChildNodes(null, "refresh");
				$("#DicExpTable").bootstrapTable('refresh');
				layer.close(lastIndex);
	    	}
	     },    
	     error : function() {    
	          alert("异常！");    
	     }    
	}); 
});
$("#sys_dic_cancel").click(function () {
	layer.closeAll();
	return false;
}); 



//--------------判断是不是平台标志----------------------------------
$('#saveUp').click(function(){
	var rows = $("#sysDicTable").bootstrapTable('getData');
	
		var rowsTemp = new Array();
		for(var i=0;i<rows.length;i++){
			var row = rows[i];			
			if(row.plateFlag==1){
				var ids = {};
				ids["id"]=row.id;
				if(row.chk){
					ids["state"]="0";
				}else{
					ids["state"]="1";
				}
				rowsTemp.push(ids);
			}
		}
		var basdict = JSON.stringify(rowsTemp);
		 alert(basdict);
		 $.post("${ctxPath!}/pt/ptSysDic/saveUpState",{'basdict':basdict},function(result){
				if(result.code==1){
					layer.msg('修改成功!', 1, 1,function(){
                        layer.close(index);
					$("#sysDicTable").bootstrapTable('refresh');
                    });	
				}else{
					layer.msg("修改失败!");
				}
			},"json");
});



</script>


