<div class="layer">
<div class="widget-box">
	    <div class="form-inline" role="form">
	    	<div class="form-group">
			&nbsp;&nbsp;<span>分组名称:</span>
			<input name="groupName" id="groupName" value="" class="form-control w150" type="text" datatype="*" nullmsg="分组名称">
			</div>
			<div class="form-group">
			&nbsp;&nbsp;<span>是否启用:</span>
			<input id="state" name="state"  value="0" class="form-control w150" type="checkbox" checked>
			</div>
		<div class="clearfix"  style="bottom: 0px;left: 25%;position:absolute;">
			<span class="btn btn-primary btn-sm bigger-110"  id="ok" >确定</span>&nbsp;&nbsp;
			<span class="btn btn-primary btn-sm bigger-110" id="sys_dic_cancel">
				取消
			</span>
	</div>
	</div>
</div>
</div>

<script type="text/javascript">
$("#ok").click(function(){
	var groupName=$("#groupName").val()
	var state=$("#state").val()
	$.ajax( {    
	    url:'${ctxPath!}/pt/dicExp/saveExpGroup',// 跳转到 action    
	    type:'post', 
	    data:{    
	    	groupName : groupName,    
	    	state : state   
	    },
	    cache:false,    
	    dataType:'json',    
	    success:function(result) {    
	    	if(result.code==1){
	    		layer.msg(result.msg,1,1);
	    		var treeObj = $.fn.zTree.getZTreeObj("ztree");
				var nodes = treeObj.getSelectedNodes();
				treeObj.reAsyncChildNodes(null, "refresh");
				$("#DicExpTable").bootstrapTable('refresh');
	    		layer.close(lastIndex);
	    	}else{
	    		 layer.msg(result.msg); 
	    	}
	     }
	}); 
});
$("#sys_dic_cancel").click(function () {
	layer.closeAll();
	return false;
});

</script>


