<script type="text/javascript">
	$(function() {
		$("#table_voteplan").bootstrapTable({
			inconSize : 'sm',
			url : '${ctxPath!}/pt/ptvoteplan/votePlanList',
			columns : [ {
				checkbox : true
			}, {
				field : "index",
				title : '序号',
				formatter : function(value, row, index) {
					return index + 1;
				}
			}, {
				field : "votePlanName",
				title : '表决方案名称',
				sortable : true
			}, {
				field : "votePlanSummary",
				title : '表决方案说明',
				sortable : true
			}, {
				field : "adoptFormula",
				title : '通过公式',
				sortable : true
			}, {
				field : "adoptFormulaMark",
				title : '通过公式说明',
				sortable : true
			}, {
				field : "againFormula",
				title : '再议公式',
				sortable : true
			}, {
				field : "againFormulaMark",
				title : '再议公式说明',
				sortable : true
			}, {
				field : "state",
				title : '状态',
				sortable : true,
				formatter : function(value, row, index) {
					if(value == 0) {
						return "启用";
					} else{
						return "停用";
					}
				}
			}, {
				field : "state",
				title : '操作',
				formatter:function(value,row,index){
							var edit;
							if(value==0){
								edit='<a id="stopVotePlan" onclick="stopVotePlan(&apos;'+row.id+'&apos;)" class="btn btn-primary btn-sm" style="width:60px;">停用</a>';
							}else{
								edit='<a id="startVotePlan" onclick="startVotePlan(&apos;'+row.id+'&apos;)" class="btn btn-purple btn-sm" style="width:60px;">启用</a>';
							}
			        		 return edit;
			        }
			}]
		});
	});	
	
	//停用表决方案
	function stopVotePlan(id){
		 $.post("${ctxPath!}/pt/ptvoteplan/stopById",{'id':id},function(result){
			 if(result.code==1){
				 layer.msg("操作成功",1,1);
			 	 $("#table_voteplan").bootstrapTable('refresh');
			}else if(result.code==2){
				layer.msg("该表决方案正在使用中，不能停用",2);
			}else{
				layer.msg("操作失败",2);
		 		$("#table_voteplan").bootstrapTable('refresh');
			}
		 },"json");
	}
	
	//启用表决方案
	function startVotePlan(id){
		 $.post("${ctxPath!}/pt/ptvoteplan/startById",{'id':id},function(result){
			 if(result.code==1){
				 layer.msg("操作成功",1,1);
			 	 $("#table_voteplan").bootstrapTable('refresh');
			}else{
				layer.msg("操作失败",2);
		 		$("#table_voteplan").bootstrapTable('refresh');
			}
		 },"json");
	}
	
	//删除表决方案
	function removePlan(){
		var checks = $("#table_voteplan").bootstrapTable('getSelections');
		if(checks==""){
			layer.alert("请先选择要删除的数据！");
		}else{	
		layer.confirm("你确定要删除数据吗？",function( ){
			for(var i=0;i<checks.length;i++){
				var row = checks[i];
				//alert(row.id);
				 $.post("${ctxPath!}/pt/ptvoteplan/deleteById",{'id':row.id},function(result){
					 if(result.code==1){
						 layer.msg("删除成功",1,1);
						 $("#table_voteplan").bootstrapTable('refresh');
					}else if(result.code==2){
						layer.msg("该表决方案正在使用中，不能进行删除",2);
					}else{
						layer.msg("删除失败",2);
					}
				 },"json");
			}
			layer.close();
		});
		}
	}
	
	//停用表决方案
	function stop(){
		var checks = $("#table_voteplan").bootstrapTable('getSelections');
		if(checks==""){
			layer.alert("请先选择要停用的数据！");
		}else{	
		layer.confirm("你确定要停用数据吗？",function(){
			layer.close();
			for(var i=0;i<checks.length;i++){
				var row = checks[i];
				//alert(row.id);
				 $.post("${ctxPath!}/pt/ptvoteplan/stopById",{'id':row.id},function(result){
					 if(result.code==1){
						 layer.msg("停用成功",1,1);
						 $("#table_voteplan").bootstrapTable('refresh');
					}else if(result.code==2){
						layer.msg("该表决方案正在使用中，不能停用",2);
					}else{
						layer.msg("停用失败",1);
					}
				 },"json");
			}
			//layer.close();
		});
		}
	}
	
</script>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h6 class="widget-title">表决方案</h6>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('tableysxm')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
					<div class="form-inline" role="form">
						<div class="form-group">
							<a class="btn btn-purple btn-xs" href="javascript:void(0);"
								data-mode="page" data-title="新增表决方案"
								data-url="pt/ptvoteplan/addVotePlan" data-width="50%"
								data-height="69%" data-data="{id:'{row.id}'}"> <i
								class="ace-icon fa fa-plus-circle bigger-130"></i> <span>新增</span>
							</a> <a class="btn btn-purple btn-xs" onclick="stop();" href="javascript:void(0);"
								data-width="50%" data-data="{id:'{row.id}'}"> <i
								class="ace-icon fa fa-pencil-square bigger-130"></i> <span>停用</span>
							</a> 
							<!-- <button class="btn btn-purple btn-xs" onclick="remove();"
								id="delSelected"> <i class="ace-icon fa fa-remove bigger-130"></i>
								<span>删除</span>
							</button> -->
							<a class="btn btn-purple btn-xs" onclick="removePlan();" href="javascript:void(0);">
								<i class="ace-icon fa fa-remove">&nbsp;删除</i>
							</a>
						</div>
					</div>
				<form action="" method="post" id="form1">
					<table id="table_voteplan"></table>
				</form>
			</div>
			</div>
		</div>
	</div>
</div>