<style>
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	 background-color: #bfe2f5
}
</style>
	<script type="text/javascript">
		$(function(){
		//第二个子表
		function tableLoadOtherTable(childData){
		             $("#subResList").bootstrapTable({
		     			iconSize : '${bt.iconSize}',
		     			url : '',
		     			height:400,
		     			data : childData,
		     			toolbar:'#toolbar2',
		     			cache: false,
		     			singleSelect:true,
		     			striped : true,
		     			@if(bt.pagination==true){
		     				pagination : ${bt.pagination!},
		     				pageNumber : ${bt.pageNumber!},//首页页码
		     				pageSize : ${bt.pageSize!},//页面显示条数
		     				pageList : [ 2, 10, 25, 50, 100 ],
		     				sidePagination : 'server',//服务器端分页
		     			@}
		     			columns : [
		     				 	{
		     					field : "projectId",
		     					title : '序号',
		     					formatter : function(value, row, index) {
		     						return index + 1;
		     						}
		     					},
		     				@for(clo in bt.columns){
		     					{
		     						field:"${clo.field}",
		     						title:'${clo.title}',
		     						sortable : ${clo.sortable}
		     					}
		     					@if(!cloLP.last){
		     						,
		     					@}
		     				@}
		     				],
		     				contentType : "${bt.contentType!}",
		     				queryParamsType : "limit",
		     				dataType : "${bt.dataType!}",
		     				method : "${bt.method!}"
		             })
		             
		           };  	
		           
		  //第一个子表	
		$("#resList").bootstrapTable({
			iconSize : '${bt.iconSize}',
			url : '${pageinfo.ctxPath!}/ptsystems/${pageinfo.menu}List?r='+Math.random(),
			height:400,
			toolbar:'#toolbar',
			cache: false,
			singleSelect:true,
			striped : true,
			columns : [
					{
					radio : true
						},
				{
					field : "id",
					title : '序号',
					formatter : function(value, row, index) {
						return index + 1;
						}
				},
				{
					field : "specMettingCode",
					title : '会议编号',
					sortable : true
				},
				{
					field : "specMettingTitle",
					title : '会议名称',
					sortable : true
				}
				],
				onLoadSuccess : function(data){  //加载成功时执行
					//console.log(data);
					var childData=[];
					 $.each(data,function(i,objc){
						if(objc.child!=null && objc.child!=undefined){
							childData=objc.child;
						}
					}) 
					//$('#table').bootstrapTable("load",{data:tableData});
					tableLoadOtherTable(childData);
	            }, 
	            onClickRow : function(row,$element,field){
	           	        $("#resList").bootstrapTable('refresh',{silent: true,query: {id: row.id}});//query: {id: row.id}
	           	     	$("#subResList").bootstrapTable('destroy');
	           	        $("#subResList").bootstrapTable('refresh');
	           	 },
				contentType : "${bt.contentType!}",
				queryParamsType : "limit",
				dataType : "${bt.dataType!}",
				method : "${bt.method!}",
				queryParams : function(params){
					var json = $("#search-form").serializeJson();
					$.extend(params,json);
					return params;
				}
		});

		
		
		  
		//确定按钮信息
		@for(btn in btninfo!){
			var ${btn.functionCode}Obj={
					 width:'${btn.weight!50}',
					 height:'${btn.height!60}',
					 title:'${btn.commtext}',
					 functionCode:'${btn.functionCode}',
					 tableName:'${btn.tableName!}'
				}
			@for(btnw in btnwind!){
				@if(btn.functionCode==btnw.functionCode){
						@if(btn.bindEventOrUrl=="javascript:updateWin"){
							 //弹出窗修改
						 	$("#${btn.functionCode}").click(function(){
						 		updateObj(${btn.functionCode}Obj);
						 	})
				 		@}else if(btn.bindEventOrUrl=="javascript:addWin"){
				 			 //弹出窗添加
						 	$("#${btn.functionCode}").click(function(){
						 		addObj(${btn.functionCode}Obj);
						 	})
				 		@}else if(btn.bindEventOrUrl=="javascript:viewWin"){
				 			$("#${btn.functionCode}").click(function(){
						 		viewObj(${btn.functionCode}Obj);
						 	})
				 		@}else{
				 			
				 		@}
						
					@}
				
				 @}
			//这个非弹出窗
			@if(btn.bindEventOrUrl=="javascript:deleteAjax"){
				$("#${btn.functionCode}").click(function(){
					deleteObj(${btn.functionCode}Obj);
			 	})
			@}	
		 @}
			
	});
	
		//查询设置 
		$("#search-btn").click(function(){
			$("#resList").bootstrapTable('refresh');
		})
		
		
		//通用更新弹出方法
		function updateObj(param){
			var rows = $('#resList').bootstrapTable("getSelections");
			if(rows.length==0){
				layer.msg("请选择要操作的数据");
				return;
			}
			var row = rows[0];
			var params = {
					mode : 'page',
					width : param.width+"%",
					height : param.height+"%",
					url : "${pageinfo.ctxPath!}/ptsystems/toFunctionIndex",
					title:param.title+'信息',
					data:{functionCode:param.functionCode,projectId:row.projectId,mettingId:row.id}
			};
			$.cuslayer(params);
		}
		
	//通用添加弹出方法
	function addObj(param){
		var params = {
				mode : 'page',
				width : param.width+"%",
				height : param.height+"%",
				url : "${pageinfo.ctxPath!}/ptsystems/toFunctionIndex",
				title:param.title+'信息',
				data:{functionCode:param.functionCode,projectId:"0"}
		};
		$.cuslayer(params);
	}
	

	//通用查看()
	 @viewObj();

	

	</script>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
				<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title">${pageinfo.commText!}</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2"> <i
							class="ace-icon fa fa-expand" onclick="$('#resList').bootstrapTable('refresh');"></i>
					</a>
				</div>
			    </div> 
			  <div class="widget-container-col ui-sortable">
						<div class="widget-box">
					<div class="widget-body">
						<div class="widget-main margin-8" >
							<form action="" method="post" id=""
								target="list-page" class="clearfix">
								<div class="form-inline" role="form">
									 @var size = btninfo.~size;
									 @for(btn in btninfo!){
										   @var length = strutil.length(btn.commtext);
										   @var css ="btn-primary";	//btn-primary样式固定按钮宽度
										   @if(length>4){
										   	 @css = "btn-success";	//btn-success按钮长度随文字自动扩展，适应于按钮文本较长的情况
										   @}
										   @if(size > 8){	//当前会议按钮较多，以8个分隔一行
											   @if(btnLP.index == 1 || btnLP.index == 9){
											   	<div class="form-group width-95">
											   @}
										   @}
											   <a id='${btn.functionCode}' class="btn ${css } btn-xs">
											   <i class="${btn.icon}"></i>
												<span>${btn.commtext}</span>
											   </a>
										   @if(size > 8){
											   @if(btnLP.index == 8 || btnLP.last){
											   	</div>
											   @}
										   @}
									 @}
									</div>
								</form>
							
					</div>
					</div>
				</div>
			</div>	
				
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
				
			<div class="row">
				<div class="col-sm-3">
					<div class="widget-box" style="height:395px;">
						<div class="widget-header widget-header-flat widget-header-small">
							<h6 class="widget-title">${pageinfo.commText!}列表</h6>
						</div>
						<div id="toolbar" class="widget-toolbar no-border width-100"
							style="padding-top: 2px;">
							<form method="post" class="form-search" id="search-form"
								target="list-page" action="">
								<div class="input-group" style="line-height: 0px;">
									<input type="text" class="form-control search-query" style="height:25px;"
										name="specMettingCode" placeholder="会议编号" id="search-input"> <span
										class="input-group-btn"> <span
										class="btn  btn-success btn-sm" id="search-btn"> <i
											class="ace-icon fa fa-search icon-on-right bigger-110"></i>
									</span>
									</span>
								</div>
							</form>
						</div>
						<table id="resList"></table>
					</div>
				</div>
				<div class="col-sm-9" id="list-page">
					<div class="row">
						<div class="col-sm-14">
							<div class="widget-box">
								<div class="widget-header widget-header-flat widget-header-small">
									<h6 class="widget-title">${pageinfo.mettingName!}</h6>
								</div>
									<table id="subResList"></table>
						</div>
						</div>
					</div>
					
				</div>
			</div>
				
				
				</div>
			</div>
			
	</div>
	</div>
</div>


