	<style>
		body {
			font-size: 15px;
		}
	</style>
	<script type="text/javascript">
	//定时刷新函数
		var int=self.setInterval("refreshTableSilent()",30000);
		function refreshTableSilent(){
	 		return $('#specResList').bootstrapTable('refresh',{silent: true});
		}	
		
		$(function(){
			$("#sidebar-collapse").click(function(){
				refreshTable('specResList');
			});
			
		$("#specResList").bootstrapTable({
			iconSize : '${bt.iconSize}',
			url : '${pageinfo.ctxPath!}/ptsystems/${pageinfo.menu}List?r='+Math.random(),
			height:400,
			toolbar:'#toolbar',
			cache: false,
			singleSelect:true,
			striped : true,
			@if(bt.pagination==true){
				pagination : ${bt.pagination!},
				pageNumber : ${bt.pageNumber!},//首页页码
				pageSize : ${bt.pageSize!},//页面显示条数
				pageList : [ 2, 10, 25, 50, 100 ],
				sidePagination : 'server',//服务器端分页
			@}
			columns : [
				
				 	 {
					field : "projectId",
					title : '序号',
					formatter : function(value, row, index) {
						return index + 1;
						}
					},
				@for(clo in bt.columns){
					{
						field:"${clo.field}",
						title:'${clo.title}',
						sortable : ${clo.sortable}
					}
					@if(!cloLP.last){
						,
					@}
				@}
				],
				contentType : "${bt.contentType!}",
				queryParamsType : "limit",
				dataType : "${bt.dataType!}",
				method : "${bt.method!}",
				queryParams : function(params){
					var obj={mettingId:'${pageinfo.mettingId!}'};
					$.extend(params,obj);
					console.log(obj);
					var json = $("#search-form").serializeJson();
					$.extend(params,json);
					return params;
				}
		});
		
		//查询设置 
		$("#ok").click(function(){
			$("#specResList").bootstrapTable('refresh');
		})
		
		//确定按钮信息
		@for(btn in btninfo!){
			var ${btn.functionCode}Obj={
					 width:'${btn.weight!50}',
					 height:'${btn.height!60}',
					 title:'${btn.commtext}',
					 functionCode:'${btn.functionCode}',
					 tableName:'${btn.tableName!}'
				}
			@for(btnw in btnwind!){
				@if(btn.functionCode==btnw){
						@if(btn.bindEventOrUrl=="javascript:updateWin"){
							 //弹出窗修改
						 	$("#${btn.functionCode}").click(function(){
						 		updateObj(${btn.functionCode}Obj);
						 	})
				 		@}else if(btn.bindEventOrUrl=="javascript:addWin"){
				 			 //弹出窗添加
						 	$("#${btn.functionCode}").click(function(){
						 		addObj(${btn.functionCode}Obj);
						 	})
				 		@}else if(btn.bindEventOrUrl=="javascript:viewWin"){
				 			$("#${btn.functionCode}").click(function(){
						 		viewObj(${btn.functionCode}Obj);
						 	})
				 		@}else{
				 			
				 		@}
						
					@}
				
				 @}
			//这个非弹出窗
			@if(btn.bindEventOrUrl=="javascript:deleteAjax"){
				$("#${btn.functionCode}").click(function(){
					deleteObj(${btn.functionCode}Obj);
			 	})
			@}	
			
			//当前会议状态按钮事件
			@if(btn.bindEventOrUrl=="javascript:objsAjax"){
				$("#${btn.functionCode}").click(function(){
					objsAjax(${btn.functionCode}Obj);
			 	})
			 	
			 	@if(btn.doubleClickFlag=="1"){
			 		$('#specResList').on('dbl-click-row.bs.table', function(e,row, $element, field){
			 			var projectId=row.projectId;
			 			var objt={"projectId":projectId};
			 			var param=$.extend(${btn.functionCode}Obj,objt);
			 			viewObj(param);
			 		});
			 	@}
			@}	
		 @}
			
	});
	
		//通用更新弹出方法
		function updateObj(param){
			var rows = $('#specResList').bootstrapTable("getSelections");
			if(rows.length==0){
				layer.msg("请选择要操作的数据");
				return;
			}
			var params = {
					mode : 'page',
					width : param.width+"%",
					height : param.height+"%",
					url : "${pageinfo.ctxPath!}/ptsystems/toFunctionIndex",
					title:param.title+'信息',
					data:{functionCode:param.functionCode,projectId:rows[0].projectId}
			};
			$.cuslayer(params);
		}
	//通用添加弹出方法
	function addObj(param){
		var params = {
				mode : 'page',
				width : param.width+"%",
				height : param.height+"%",
				url : "${pageinfo.ctxPath!}/ptsystems/toFunctionIndex",
				title:param.title+'信息',
				data:{functionCode:param.functionCode,projectId:"0"}
		};
		$.cuslayer(params);
	}
	
	//通用删除(ajax)
	function deleteObj(param){
		var rows = $('#specResList').bootstrapTable("getSelections");
		if(rows.length==0){
			layer.msg("请选择要操作的数据");
			return;
		}else{
			var row = rows[0];
			var obj = {};
				obj["confirmMsg"] = "确认要删除该条记录吗？";
				obj["url"] = "${pageinfo.ctxPath!}/ptsystems/${pageinfo.menu}Delete";
				obj["data"]={projectId:row.projectId,functionCode:param.functionCode};
				layer.confirm(obj.confirmMsg,function(index){
					Angel.ajax(obj.url, obj.data, function(result){
						layer.msg(result.msg,1,1);
						if(result.code==1){
							$("#specResList").bootstrapTable('refresh');
						}
					});
					layer.close(index);
				});
		}
	}
	
	//通用查看()
	function viewObj(param){
		var obj={mettingId:'${pageinfo.mettingId!}'};
		$.extend(param,obj);
		var params = {
				mode : 'page',
				width : param.width+"%",
				height : param.height+"%",
				url : "${pageinfo.ctxPath!}/ptsystems/councilmeeting/"+param.functionCode,
				title:param.title+'信息',
				data:{functionCode:param.functionCode,mettingId:param.mettingId,projectId:param.projectId}
		};
		$.cuslayer(params);
	}
	
	//通用(非删除ajax形式)
	function objsAjax(param){
		//alert(1);
		var obj={mettingId:'${pageinfo.mettingId!}'};
		$.extend(param,obj);
		var rows = $('#specResList').bootstrapTable('getData');
		var selectRows = $('#specResList').bootstrapTable("getSelections");
		var newArr=[];
		$.each(rows,function(index,obj){
			if(obj.projectStateId=='10200302'){
				newArr.push(obj);
				return false;
			}
		})
		//需要实时刷新是否处于表决状态
		if(newArr.length==0){
			layer.msg("当前没有要表决的项目！");
			return;
		}
		//投票表决
		if(param.functionCode=='fun2102'){
			var params = {
					mode : 'page',
					width : param.width+"%",
					height : param.height+"%",
					url : "${pageinfo.ctxPath!}/ptsystems/councilmeeting/"+param.functionCode,
					title:param.title+'信息',
					data:{functionCode:param.functionCode,mettingId:param.mettingId,projectId:newArr[0].projectId}
			};
			$.cuslayer(params);
		}
	}
	</script>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
				<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title">${pageinfo.commText!}</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2"> <i
							class="ace-icon fa fa-expand" onclick="$('#specResList').bootstrapTable('resetView');$('#specResList').bootstrapTable('refresh');"></i>
					</a>
				</div>
			    </div> 
			  <div class="widget-container-col ui-sortable">
						<div class="widget-box">
						@if(isNotEmpty(sm)){
						<div class="widget-header widget-header-small">
								<h6 class="widget-title">
									<i class="ace-icon fa fa-search"></i>搜索
								</h6>
								<div class="widget-toolbar">
									<a href="javascript:void(0);" data-action="collapse">
										<i class="ace-icon fa bigger-125 fa-chevron-down"></i>
									</a>
								</div>
							</div>
						@}
							
						
				<div class="widget-body">
						<div class="widget-main margin-8" >
							<form action="" method="post" id="search-form"
								target="list-page" class="clearfix">
								<div class="form-inline" role="form">
											<div class="form-group">
							<span>会议编号：</span>
							<input id="code" name="code" readonly class="form-control w70" type="text" value="${pageinfo.mettingCode!}">
						</div>
						 @for(btn in btninfo!){
						   <a id='${btn.functionCode}' class="btn btn-primary btn-xs">
							<span>${btn.commtext}</span>
						   </a>
						 @}
					<br>
					<div class="form-group">
							<span>会议名称：</span>
							<input id="title" name="title" readonly class="form-control w70" type="text" style="width:340px" value="${pageinfo.mettingName!}">
					</div>
									
						</div>
								</form>
							
					</div>
					</div>
				</div>
			</div>	
				
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
			
				<table id="specResList"></table>
				</div>
			</div>
			
	</div>
	</div>
</div>


