<div class="layer">
    <ul class="nav nav-tabs"  id="myTab">
    	@for(map in rs){
    		@if(mapLP.first){
    			<li class="active">
			        <a data-toggle="tab" href="#${map.groupid}"> 
			        	<i class="green ace-icon fa fa-graduation-cap bigger-120"></i> ${map.name!}
			        </a>
		        </li>
    		@}
		@}
    			@var size = rs.~size;
				@if(size == 0 ){
			       <li class="active">
				@}else{
					<li class="">
				@}
			        <a data-toggle="tab" href="#files">
			            <i class="green ace-icon fa fa-send bigger-120"></i> 与会委员
			        </a>
		        </li>
			<li class="">
				<a data-toggle="tab" href="#approveInfo">
	            	<i class="green ace-icon fa fa-check bigger-120"></i>会议内容
	        	</a>
        	</li>
    </ul>
    <div class="tab-content" style="border: none;">
    @var dollar = '$';
	@for(map in rs){
		@if(mapLP.first){
        <div id="${map.groupid}" class="tab-pane active clearfix">
        @var itemList = map.itemList;
     	<div class="profile-user-info profile-user-info-striped wordbreak" >
	        @for(item in itemList){
	        	@// 1：采集框
	        	@if(item.type == '1'){
	        		@if(item.dataType == '03'){
						<div class="profile-info-row">
							<div class="profile-info-name">﻿${item.name!}</div>
							<div class="profile-info-value">${dollar!}{updateObj.${item.enName!}Name!}</div>
						</div>
	        		@}else{
						<div class="profile-info-row">
							<div class="profile-info-name">﻿${item.name!}</div>
							<div class="profile-info-value">${dollar!}{updateObj.${item.enName!}!}</div>
						</div>
	        		@}
	        	@}
        	@// 2：明细
        	@if(item.type == '2'){
        		@var detailList = item.detailList;
				<#extDetailList detailList="${detailList!}"/>
        	@}
        @}
		</div>
        </div>
		@}
	@}
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------- -->	
		@if(size == 0){
	       <div id="files" class="tab-pane active clearfix">
		@}else{
			<div id="files" class="tab-pane clearfix">
		@}
        	 <table id="committeetable" class="table"></table>
        	 <script>
				$(function(){
					$('#committeetable').bootstrapTable({
						iconSize : 'sm',
						url : '${ctxPath!}/ptsystems/menu5/fun1401/getConfirmList?meetingId=1',
						cache: false,
						striped : true,
						columns : [{
									field : "id",
									title : '编号',
									formatter : function(value, row, index) {
										return index + 1;
									}
								},{
									field : "memUserName",
									title : '委员姓名',
									sortable : true
									
								 },{
									field:"memPostName",
									title:'职务',
									sortable : true
								},{
									field:"memRoleName",
									title:'部门',
									sortable : true
								}
							]
					});
				})
			</script>
        </div>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------- -->	
			<div id="approveInfo" class="tab-pane  clearfix">
        	<table class="EditTable" width="100%" >
				<tbody>
					<tr class="FormData">
						<td class="DataTD">
							<textarea name="remark" class="autosize-transition form-control " readonly
							style="resize: none;height:250px">1，通报1—9月份银行存贷款目标完成情况。2，通报振达钢管公司有关情况。 3，布置银行存贷款等目标考核工作。 4，布置全国文明城市创建工作。5，讨论如何开展银企对接等工作。1，通报1—9月份银行存贷款目标完成情况。2，通报振达钢管公司有关情况。 3，布置银行存贷款等目标考核工作。 4，布置全国文明城市创建工作。5，讨论如何开展银企对接等工作。
							</textarea>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>



 
    



