<div class="layer">
    <ul class="nav nav-tabs"  id="myTab">
    	@for(map in rs){
    		@if(mapLP.first){
    			<li class="active">
			        <a data-toggle="tab" href="#${map.groupid}"> 
			        	<i class="green ace-icon fa fa-graduation-cap bigger-120"></i> ${map.name!}
			        </a>
		        </li>
    		@}
		@}
    			@var size = rs.~size;
				@if(size == 0 ){
			       <li class="active">
				@}else{
					<li class="">
				@}
			        <a data-toggle="tab" href="#files">
			            <i class="green ace-icon fa fa-send bigger-120"></i> 附件
			        </a>
		        </li>
			@for(map in rs){
		@if(!mapLP.first){
			<li class="">
			        <a data-toggle="tab" href="#${map.groupid}"> 
			        	<i class="green ace-icon fa fa-graduation-cap bigger-120"></i> ${map.name!}
			        </a>
		        </li>
     	@}
	@}  
        

        

       

    </ul>
    <div class="tab-content" style="border: none;">
    @var dollar = '$';
	@for(map in rs){
		@if(mapLP.first){
        <div id="${map.groupid}" class="tab-pane active clearfix">
        @var itemList = map.itemList;
     	<div class="profile-user-info profile-user-info-striped wordbreak" >
	        @for(item in itemList){
	        	@// 1：采集框
	        	@if(item.type == '1'){
	        		@if(item.dataType == '03'){
						<div class="profile-info-row">
							<div class="profile-info-name">﻿${item.name!}</div>
							<div class="profile-info-value">${dollar!}{updateObj.${item.enName!}Name!}</div>
						</div>
	        		@}else{
						<div class="profile-info-row">
							<div class="profile-info-name">﻿${item.name!}</div>
							<div class="profile-info-value">${dollar!}{updateObj.${item.enName!}!}</div>
						</div>
	        		@}
	        	@}
        	@// 2：明细
        	@if(item.type == '2'){
        		@var detailList = item.detailList;
				<#extDetailList detailList="${detailList!}"/>
        	@}
        @}
		</div>
        </div>
		@}
	@}
	
		@if(size == 0){
	       <div id="files" class="tab-pane active clearfix">
		@}else{
			<div id="files" class="tab-pane clearfix">
		@}
        	<table class="EditTable" width="100%">
			    		<tbody>
					<tr class="FormData">
						<td class="CaptionTD" colspan="2">
							<div classs="row" id="addrow">
								<div class="col-xs-4 col-sm-4 "  id="filetype" style="background-color: #dedef8;text-align: center;"><h6>文件类型</h6></div> 
								<div class="col-xs-8 col-sm-8"  id="filename" style="background-color: #dedef8;text-align: center;"><h6>文件</h6></div> 
							</div>
							
						</td>		
					</tr>
	
				</tbody>
		    </table>
        </div>
	@for(map in rs){
		@if(!mapLP.first){
        <div id="${map.groupid}" class="tab-pane clearfix">
        @var itemList = map.itemList;
     	<div class="profile-user-info profile-user-info-striped wordbreak" >
	        @for(item in itemList){
	        	@// 1：采集框
	        	@if(item.type == '1'){
					@if(item.dataType == '03'){
					<div class="profile-info-row">
						<div class="profile-info-name">﻿${item.name!}</div>
						<div class="profile-info-value">${dollar!}{updateObj.${item.enName!}Name!}</div>
					</div>
	        		@}else{
						<div class="profile-info-row">
							<div class="profile-info-name">﻿${item.name!}</div>
							<div class="profile-info-value">${dollar!}{updateObj.${item.enName!}!}</div>
						</div>
	        		@}
	        	@}
        	@// 2：明细
        	@if(item.type == '2'){
        		@var detailList = item.detailList;
				<#extDetailList detailList="${detailList!}"/>
        	@}
        @}
		</div>
        </div>
		@}
	@}
        </div>
    </div>



 
    
<script type="text/javascript">
	$("#top1-select").chosen({width: "100%",search_contains: false,disable_search_threshold:20});
	
			@var quot = "'";
			\@var fileName;
			\@var attchList = wins.getProAttchList(projectId!);
			\@for(attch in attchList){
				addInputFile(${quot}${dollar}{attch.kindName!}${quot},${quot}${dollar}{attch.originalName!}${quot});
				\@fileName = attch.originalName!;
			\@}
		           
		              
		            function addInputFile(kindName,fileName) { 
	            		var span=document.getElementById("addrow");
	                	if (span != null) {  
	                    var divObj = document.createElement("div");  
		               		divObj.className="row";
		               		divObj.style.marginBottom="10px";

		               	//第一列
	               		var divObj1 = document.createElement("div");
               			divObj1.className="col-xs-4 col-sm-4"; 
               			divObj1.style.textAlign="center";
	    				divObj1.innerHTML = "<span>"+kindName+"</span>";
	    				
	    				//第二列
	    				var divObj2 = document.createElement("div");
	               		divObj2.className="col-xs-8 col-sm-8"; 
	               		divObj2.style.textAlign="center";
	               		\@var polpdf = polink.openWindow(request,projectId!,strutil.encode(fileName!),"");
               			divObj2.innerHTML = "<a href='${dollar}{polpdf}' onclick='changHref(this)'>"+fileName+"</a><br>";
	                    
	                  	divObj.appendChild(divObj1);  
	                    divObj.appendChild(divObj2);  
	                    divObj.appendChild(document.createElement("br"));  
	          
	                    span.appendChild(divObj);  
	                }   
		
	            }  
		  

</script>


