

<div class="layer">
    <ul class="nav nav-tabs"  id="myTab">
    @var dollar = '$';
    	@for(map in rs){
    		@if(mapLP.first){
    			<li class="active">
			        <a data-toggle="tab" href="#${map.groupid}"> 
			        	<i class="green ace-icon fa fa-graduation-cap bigger-120"></i> ${map.name!}
			        </a>
		        </li>
    		@}
		@}
		
    	@var size = rs.~size;
		@if(functionCode != 'fun1301'){
				@if(size == 0 ){
			       <li class="active">
				@}else{
					<li class="">
				@}
			        <a data-toggle="tab" href="#files">
			            <i class="green ace-icon fa fa-send bigger-120"></i> 附件
			        </a>
		        </li>
	  @}
	  
			@for(map in rs){
		@if(!mapLP.first){
			<li class="">
			        <a data-toggle="tab" href="#${map.groupid}"> 
			        	<i class="green ace-icon fa fa-graduation-cap bigger-120"></i> ${map.name!}
			        </a>
		        </li>
     	@}
	@}  
        
    </ul>
    <div class="tab-content" style="border: none;">
	@for(map in rs){
		@if(mapLP.first){
        <div id="${map.groupid}" class="tab-pane active clearfix">
        @var formId = map.id;
        @var basicFlag = map.basicFlag;
        \@var createDate;
        @var index = mapLP.index;
        <div class="alert-success"><font style="color:red">提示信息：红色星号为必填选项</font></div>
		<form name="FormPost" id="${formId!}" class="FormGrid"  method="post" enctype="multipart/form-data"
          	action="">
            <table class="EditTable" width="100%">
           		<tbody>
           			@if(basicFlag!0 != 0){
           				<input  type="hidden" name="basicFlag" value="${basicFlag!}"/>
           			@}
		            @var itemList = map.itemList;
		            @for(item in itemList){
		            		@// 1：采集框
			            	@if(item.type == '1'){
			            		@//0:输入框
			            		@if(item.collectType == '0'){
			            			@if(strutil.startWith(item.enName,"spec")){
			            				<#input name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" value="${dollar}{${item.enName!}!}" id="${item.enName!}" specFlag="true"/>
			            			@}else{
				            			<#input name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}"/>
			            			@}
			            		@}
			            		@// 1:下拉框
				            	@if(item.collectType == '1'){
				            		<#select name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" options="${item.selgroups}"
				            			id="${item.enName!}" class="form-control w110" dataType="${item.dataType!}"/>
				            	@}
				            	@// 2:日期框
				            	@if(item.collectType == '2'){
				            		<#date name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}"/>
				            	@}
				            	@// 3:数字框
				            	@if(item.collectType == '3'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@if(item.nullFlag == '0'){
			                 				<input  type="text" name="${item.enName!}" class="validate[required,custom[integer]]"/>
		                 				@}else{
		                 					<input  type="text" name="${item.enName!}"/>
		                 				@}
		                 			</td>
			                 			@if(item.nullFlag == '0'){
										     <td><font color="red" size="+1">*</font></td>
									    @}
		                 		</tr>
			            	@}
			            	@// 5:下拉多选框
			            	@if(item.collectType == '5'){
			            		<#multipleSelect id="${item.enName!}" name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" options="${item.selgroups}"
			            		dataType="${item.dataType!}"/>
			            		
			            	@}
			            	@// 6:文本域
			            	@if(item.collectType == '6'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
										@if(item.nullFlag == '0'){
			            					<textarea name="${item.enName!}" class="validate[required,custom[invalidChar]]" style="width:100%;height:150px;" > </textarea>
			            				@}else{
			            					<textarea name="${item.enName!}" style="width:100%;height:150px;"> </textarea>
			            				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
									     <td><font color="red" size="+1">*</font></td>
								    @}
		                 		</tr>
			            	@}
			            	@// 7：金额框
			            	@if(item.collectType == '7'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@if(item.nullFlag == '0'){
			                 				<input  type="text" name="${item.enName!}" class="validate[required,custom[numberAndInteger]]" placeholder="0.00(精度：两位小数)"/>
		                 				@}else{
		                 					<input  type="text" name="${item.enName!}" placeholder="0.00(精度：两位小数)"/>
		                 				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
										     <td><font color="red" size="+1">*</font></td>
									    @}
		                 		</tr>
			            	@}
		            	@}
		            	@// 2：明细
		            	@if(item.type == '2'){
		            		@var detailList = item.detailList;
		 					<tr>
									<td></td>
									<td>
			            				<#extDetailAdd detailList="${detailList!}" random="${index}"/>
		                 			</td>
		                 		</tr>
		            	@}
		            	@// 3：按钮(确定和取消)
		            	@if(item.type == '3'){
		            		<#save formId="${formId!}" url="${item.bindEventOrUrl!}" okText="${item.name!}"/>
		            	@}
		            @}
		            @//准备会议特殊处理
		            \@if(createDate!0 != 0){
		            	<tr class="FormData">
				            <td class="CaptionTD">创建日期:</td>
				            <td class="DataTD">
					           ${dollar}{createDate,dateFormat="yyyy年MM月dd日"}
				            </td>
			            </tr>
			             <tr class="FormData">
					            <td class="CaptionTD">审 批 行:</td>
					            <td class="DataTD">
						           ${dollar}{specApproveorg!}
					            </td>
				            </tr>
		            \@}
	           </tbody>
        	</table>
         </form>
        </div>
		@}
	@}
	
	@if(functionCode != 'fun1301'){
		@if(size == 0){
	       <div id="files" class="tab-pane active clearfix">
		@}else{
			<div id="files" class="tab-pane clearfix">
		@}
        
		<form name="FormPost" id="files-save" class="FormGrid"  method="post" enctype="multipart/form-data" action="">
        	<table class="EditTable" width="100%">
			    		<tbody>
							<tr class="FormData">
								<td class="DataTD" style="width:50%;text-align: left">		
										<select id="attchType-select" class="chosen-select tag-input-style" style="width:100%">
											
										</select>
										
								</td>
								<td class="CaptionTD" style="text-align: left;">										
										<input id="btnAdd" class="btn btn-primary btn-sm" onclick="addFile()" type="button" value="增加上传"><br> 
									</td> 
								</tr>
					<tr class="FormData">
						<td class="CaptionTD" colspan="2">
							<div classs="row" id="addrow">
								<div class="col-xs-4 col-sm-4 "  id="filetype" style="background-color: #dedef8;text-align: center;"><h6>文件类型</h6></div> 
								<div class="col-xs-4 col-sm-4"  id="filename" style="background-color: #dedef8;text-align: center;"><h6>文件</h6></div> 
								<div class="col-xs-4 col-sm-4"  id="operate" style="background-color: #dedef8;text-align: center;"><h6>操作</h6></div> 
							</div>
						</td>		
					</tr>
	
		          <div class="clearfix" tag-save-btn style="bottom: -36px; left: 35%; position: absolute;">
					<span value="" class="btn btn-primary btn-sm bigger-110" id="submitForm">
						保 存
					</span>&nbsp;&nbsp;
					<span class="btn btn-primary btn-sm bigger-110" id="files-cancel">
						关 闭
					</span>
				</div>
				</tbody>
		    </table>
         </form>
        </div>
<script type="text/javascript">
 $(function(){
	
	 
    	var index = layer.index;
        //提交时有一个bug,当修改时，如果ajaxurl验证方式的文本框框没有点击过时，不会提交
        var ajaxS = $("#files-save input[ajaxurl]");
        $.each(ajaxS,function(i,obj){
            $(obj).focus();
        })
        var validId = $("#files-save").Validform({
        	tiptype : 4,
        	datatype:{
    			"files":function(gets,obj){
    				var strRegex = "(.xls|.ppt|.rtf|.doc|.vsd|.xlsx|.pptx|.docx|.et|.jpg|.png|.gif|.jpeg|.pdf)$"; 
    				var reg = new RegExp(strRegex);
    				if(reg.test(gets)){
    					return true;
    				} else{
    					return false;
    				}
    			}	
    		},
            ajaxPost : true,
            beforeSubmit:function(curform){
                var loadi = layer.load(5,2);
                $("#files-save").data('loadi',loadi);
                curform.ajaxSubmit({
                	type:'post',
                	url:'${dollar!}{ctxPath!}/files/upload',
                	//data:jsonStr,
                	success:function(data){
                        layer.close($("#files-save").data('loadi'));
                        if(data.code == 1){
                        	layer.msg(data.msg, 1, 1,function(){
                            	//layer.close(index);
                            });
                        }else{
                        	layer.msg(data.msg);
                        }
                        
                    }
                	
                });
            },
            tiptype : function(msg, o, cssctl) {
                if (!o.obj.is("form")) {
                    if (o.type != 2) {
                        tip.errorTip(msg,o.obj);
                    }
                }
            },
            tipSweep : true
        });

        $("#submitForm").click(function() {
       		if($("input[name='projectId']").val() == ''){
       			layer.msg("您还没有录入项目的基本信息，请先录入基本信息");
       			return;
       		}
            validId.submitForm(false);
            return false;
        });

        $("#files-cancel").click(function(){
            layer.close(layer.index);
        });

        $("#files-save input,#files-save textarea").blur(function(){
            layer.closeTips();
            return false;
        })

    }); 
	var index = layer.index;
	$("#files-cancel").click(function(){
	    layer.close(index);
	});

</script>
@}

	@for(map in rs){
		@if(!mapLP.first){
        <div id="${map.groupid}" class="tab-pane clearfix">
        @var formId = map.id;
        @var basicFlag = map.basicFlag;
        @var index = mapLP.index;
        \@createDate = null;
        <div class="alert-success"><font style="color:red">提示信息：红色星号为必填选项</font></div>
		<form name="FormPost" id="${formId!}" class="FormGrid"  method="post" enctype="multipart/form-data" 
          	action="">
            <table class="EditTable" width="100%">
           		<tbody>
           			@if(basicFlag!0 != 0){
           				<input  type="hidden" name="basicFlag" value="${basicFlag!}"/>
           			@}
           			<input  type="hidden" name="projectId" value=""/>
		            @var itemList = map.itemList;
		            @for(item in itemList){
		            		@// 1：采集框
			            	@if(item.type == '1'){
			            		@//0:输入框
			            		@if(item.collectType == '0'){
			            			@if(strutil.startWith(item.enName,"spec")){
			            				<#input name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" value="${dollar}{${item.enName!}!}" id="${item.enName!}" specFlag="true"/>
			            			@}else{
				            			<#input name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}"/>
			            			@}
			            		@}
			            		@// 1:下拉框
				            	@if(item.collectType == '1'){
				            		<#select name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" options="${item.selgroups}"
				            			id="${item.enName!}" class="form-control w110" dataType="${item.dataType!}"/>
				            	@}
				            	@// 2:日期框
				            	@if(item.collectType == '2'){
				            		<#date name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}"/>
				            	@}
				            	@// 3:数字框
				            	@if(item.collectType == '3'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@if(item.nullFlag == '0'){
			                 				<input  type="text" name="${item.enName!}" class="validate[required,custom[integer]]"/>
		                 				@}else{
		                 					<input  type="text" name="${item.enName!}"/>
		                 				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
										     <td><font color="red" size="+1">*</font></td>
									    @}
		                 		</tr>
			            	@}
			            	@// 5:下拉多选框
			            	@if(item.collectType == '5'){
			            		<#multipleSelect id="${item.enName!}" name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" options="${item.selgroups}"
			            		dataType="${item.dataType!}"/>
			            		
			            	@}
			            	@// 6:文本域
			            	@if(item.collectType == '6'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@if(item.nullFlag == '0'){
			            					<textarea name="${item.enName!}" class="validate[required,custom[invalidChar]]" style="width:100%;height:150px;" > </textarea>
			            				@}else{
			            					<textarea name="${item.enName!}" style="width:100%;height:150px;"> </textarea>
			            				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
										     <td><font color="red" size="+1">*</font></td>
									    @}
		                 		</tr>
			            	@}
			            	@// 7：金额框
			            	@if(item.collectType == '7'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@if(item.nullFlag == '0'){
			                 				<input  type="text" name="${item.enName!}" class="validate[required,custom[numberAndInteger]]" placeholder="0.00(精度：两位小数)"/>
		                 				@}else{
		                 					<input  type="text" name="${item.enName!}" placeholder="0.00(精度：两位小数)"/>
		                 				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
										     <td><font color="red" size="+1">*</font></td>
									    @}
		                 		</tr>
			            	@}
		            	@}
		            	@// 2：明细
		            	@if(item.type == '2'){
		            		@var detailList = item.detailList;
		 					<tr>
									<td></td>
									<td>
			            				<#extDetailAdd detailList="${detailList!}" random="${index}"/>
		                 			</td>
		                 		</tr>
		            	@}
		            	@// 3：按钮(确定和取消)
		            	@if(item.type == '3'){
		            		<#save formId="${formId!}" url="${item.bindEventOrUrl!}" okText="${item.name!}" />
		            	@}
		            @}
		            \@if(createDate!0 != 0){
		            	<tr class="FormData">
				            <td class="CaptionTD">创建日期:</td>
				            <td class="DataTD">
					           ${dollar}{createDate,dateFormat="yyyy年MM月dd日"}
				            </td>
			            </tr>
			             <tr class="FormData">
					            <td class="CaptionTD">审 批 行:</td>
					            <td class="DataTD">
						           ${dollar}{specApproveorg!}
					            </td>
				            </tr>
		            \@}
	           </tbody>
        	</table>
         </form>
        </div>
		@}
	@}
        </div>
    </div>



    
    
<script type="text/javascript">
function save(formId,url){
	var $formObj = $("#"+formId);
	var flag = $formObj.validationEngine('validate');
	if(!flag){
		return;
	}
	
	var basicFlag = $formObj.find("input[name='basicFlag']").val();
	if(basicFlag != 0){
		if($("input[name='projectId']").val() == ''){
			layer.msg("您还没有录入项目的基本信息，请先录入基本信息");
			return;
		}
	}
	var data = $formObj.serializeJson();
	Angel.ajax(url,data,function(data){
		if(data.obj != null){
			$("input[name='projectId']").val(data.obj.projectId);
		}
		if(data.code==1){
			layer.msg(data.msg, 1, 1);
			$("#resList").bootstrapTable("refresh");
			@if(functionCode == 'fun1301'){
				$.post("${dollar}{ctxPath}/ptsystems/toIndex/menu4",function(result){
					 $("#fill-main-content").html(result);
				 },"html");
				layer.closeAll();
			@}
		}else{
			layer.msg(data.msg);
		}
	});
}
//获取项目id后通过ajax把附件类型添加到select里
$(function(){
	@if(size != 0 ){
	 $('#myTab a[href="#files"]').click(function (e) {
	@}
		   $.ajax({
				url: "${dollar}{ctxPath}/pt/menuwinconf/getProAttchType?projectId="+$("input[name='projectId']").val(),
				dataType: "json",
				async: false,
				success: function(data) {
					if(data != ''){
						$.each(data,function(i,obj){
							if(i == 0){
								$("#attchType-select").append("<option value='"+obj.id+"' selected>"+obj.attchName+"</option>");
							}else{
								$("#attchType-select").append("<option value='"+obj.id+"'>"+obj.attchName+"</option>");
							}     
						})
						$("#attchType-select").chosen({width: "100%",search_contains: false,disable_search_threshold:20});
					}else{
						$("#attchType-select").prepend("<option></option>");
						$("#attchType-select").removeClass("chosen-select");
				}
			}
		}); 
   @if(size != 0 ){
	 })
   @}
})

	
			//增加上传
			   var fileIndex = 1;  
		            function addFile() {  
		                if(fileIndex>20){  
		                    layer.msg("您已上传超过20个文件！");
		                }else{  
		                    fileIndex++;  
		                    var idx = fileIndex;
		                    if($("#attchType-select").val() == ''){
		                    	layer.msg("您还没有录入项目的基本信息，请先录入基本信息");
		                    }else{
			                    addInputFile(idx);  
		                    }
		                }  
		            }  
		           
		              
		            function addInputFile(idx) {  
	        			var index = idx - 2;
	            		var span=document.getElementById("addrow");
	            		
	                	if (span != null) {  
	                    var divObj = document.createElement("div");  
			                divObj.id = "divfile"+idx; 
		               		divObj.className="row";
		               		divObj.style.marginBottom="10px";

		               	//第一列
	               		var divObj1 = document.createElement("div");
               			divObj1.className="col-xs-4 col-sm-4"; 
               			divObj1.style.textAlign="center";
	              			 
	               	    var  textName=$("#attchType-select").find("option:selected").text();//获取文本框
	    				divObj1.innerHTML = '<span>'+textName+'</span>  '+
	    				'<input type="hidden" name="attchList['+index+'].kindId" value="'+$("#attchType-select").val()+'">'+
	    				'<input type="hidden" name="attchList['+index+'].kindName" value="'+$("#attchType-select").find("option:selected").text()+'">'+
	    				'<input type="hidden" name="attchList['+index+'].projectId" value="'+$("input[name='projectId']").val()+'">';
	    				
	    				//第二列
	    				var divObj2 = document.createElement("div");
	               		divObj2.className="col-xs-4 col-sm-4"; 
	               		divObj2.style.textAlign="center";
	               		divObj2.innerHTML = "<input  type='file' name='attchList["+index+"].file' datatype='files' nullmsg='请先选择文件!' errormsg='不支持的文件类型！' "+
	               				"ajaxurl='${dollar}{ctxPath!}/files/valiFileName?projectId="+$("input[name='projectId']").val()+"'/>";
	    			
	                     var divObj3 = document.createElement("div");
	               		divObj3.className="col-xs-4 col-sm-4";
	               		divObj3.style.textAlign="center"; 

	                    var delObj = document.createElement("input");  
	                    delObj.id = "btn"+idx;  
	                    delObj.type = "button";
	                     delObj.className="col-xs-4 col-sm-4";
	                    delObj.className="btn btn-primary btn-sm";
	                    delObj.onclick = function(){delInputFile(delObj)};  
	                    delObj.value = "删除";  
	                    divObj3.appendChild(delObj)
	                  	divObj.appendChild(divObj1);  
	                    divObj.appendChild(divObj2);  
	               
	                    divObj.appendChild(divObj3);  
	                    divObj.appendChild(document.createElement("br"));  
	          
	                    span.appendChild(divObj);  
	                }   
		
	            }  
		  
		            function delInputFile(obj) {  
		                var idx = obj.id.substring(3);  
		                var span = $("#addrow");  
		                var divObj =$("#divfile"+idx);  
		                if (span != null && divObj != null) { 
								divObj.remove();                                 
		                    	fileIndex--;                    
		                }  
		            }  
		  

</script>

