<div class="layer">
    <ul class="nav nav-tabs"  id="myTab">
    	@for(map in rs){
    		@if(mapLP.first){
    			<li class="active">
			        <a data-toggle="tab" href="#${map.groupid}"> 
			        	<i class="green ace-icon fa fa-graduation-cap bigger-120"></i> ${map.name!}
			        </a>
		        </li>
    		@}
		@}
		
    			@var size = rs.~size;
    	@if(functionCode != 'fun1307'){
				@if(size == 0 ){
			       <li class="active">
				@}else{
					<li class="">
				@}
			        <a data-toggle="tab" href="#files">
			            <i class="green ace-icon fa fa-send bigger-120"></i> 附件
			        </a>
		        </li>
	  @}
			@for(map in rs){
		@if(!mapLP.first){
			<li class="">
			        <a data-toggle="tab" href="#${map.groupid}"> 
			        	<i class="green ace-icon fa fa-graduation-cap bigger-120"></i> ${map.name!}
			        </a>
		        </li>
     	@}
	@}  
        

        

       

    </ul>
    <div class="tab-content" style="border: none;">
    @var dollar = '$';
	@for(map in rs){
		@if(mapLP.first){
        <div id="${map.groupid}" class="tab-pane active clearfix">
        @var formId = map.id;
        \@var createDate;
        @var index = mapLP.index;
        <div class="alert-success"><font style="color:red">提示信息：红色星号为必填选项</font></div>
		<form name="FormPost" id="${formId!}" class="FormGrid"  method="post" enctype="multipart/form-data"
          	action="">
        	<table class="EditTable" width="100%">
	            <tbody>
	            <input type="hidden" name="projectId" value="${dollar!}{updateObj.projectId!}"/>
	            <input type="hidden" name="conferenceId" value="${dollar!}{updateObj.conferenceId!}"/>
		            @var itemList = map.itemList;
		            @for(item in itemList){
		            	@// 1：采集框
		            	@if(item.type == '1'){
		            		@// 0:文本框
		            		@if(item.collectType == '0'){
			            			@if(strutil.startWith(item.enName,"spec")){
			            				<#input name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" value="${dollar!}{updateObj.${item.enName!}!}" id="${item.enName!}" specFlag="true"/>
			            			@}else{
				            			<#input name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" value="${dollar!}{updateObj.${item.enName!}!}"/>
			            			@}
			            		@}
		            		@// 1:下拉框
			            	@if(item.collectType == '1'){
			            		<#select name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" alterFlag="${item.alterFlag}" options="${item.selgroups}" value="updateObj.${item.enName!}"
			            			id="${item.enName!}" class="form-control w110" dataType="${item.dataType!}" hiddenValue="${dollar!}{updateObj.${item.enName!}Name!}"/>
			            	@}
			            	@// 2:日期框
			            	@if(item.collectType == '2'){
			            		<#date name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" alterFlag="${item.alterFlag}" value="${dollar!}{updateObj.${item.enName!}!}"/>
			            	@}
			            	@// 3:数字框
			            	@if(item.collectType == '3'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@//非空标记
			            				@if(item.nullFlag == '0'){
			            					@//可更改标记
			            					@if(item.alterFlag == '0'){
											     <input  type="text" name="${item.enName!}" readonly class="validate[custom[integer]]" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}else{
											     <input  type="text" name="${item.enName!}" class="validate[custom[integer]]" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}
		                 				@}else{
		                 					@if(item.alterFlag == '0'){
											     <input  type="text" name="${item.enName!}" readonly value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}else{
											     <input  type="text" name="${item.enName!}" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}
		                 				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
									     <td><font color="red" size="+1">*</font></td>
								    @}
		                 			</td>
		                 		</tr>
			            	@}
			            	@// 5:下拉多选框
			            	@if(item.collectType == '5'){
			            		<#multipleSelect id="${item.enName!}" name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" options="${item.selgroups}" 
			            		dataType="${item.dataType!}" values="updateObj.${item.enName!}" hiddenValue="${dollar!}{updateObj.${item.enName!}Name!}"/>
			            		
			            	@}
			            	@// 6:文本域
			            	@if(item.collectType == '6'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@if(item.nullFlag == '0'){
				            				@//可更改标记
											@if(item.alterFlag == '0'){
											     <textarea name="${item.enName!}" class="validate[required,custom[invalidChar]]" readonly style="width:100%;height:150px;" >${dollar!}{updateObj.${item.enName!}!} </textarea>
								    	 	@}else{
											     <textarea name="${item.enName!}" class="validate[required,custom[invalidChar]]" style="width:100%;height:150px;" >${dollar!}{updateObj.${item.enName!}!} </textarea>
								    	 	@}
								    	@}else{
											@if(item.alterFlag == '0'){
											     <textarea name="${item.enName!}"  readonly style="width:100%;height:150px;" >${dollar!}{updateObj.${item.enName!}!} </textarea>
								    	 	@}else{
											     <textarea name="${item.enName!}" style="width:100%;height:150px;" >${dollar!}{updateObj.${item.enName!}!} </textarea>
								    	 	@}
								    	@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
										     <td><font color="red" size="+1">*</font></td>
									    @}
		                 		</tr>
			            		
			            	@}
			            	@// 7：金额框
			            	@if(item.collectType == '7'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@//非空标记
			            				@if(item.nullFlag == '0'){
			            					@//可更改标记
			            					@if(item.alterFlag == '0'){
											     <input  type="text" name="${item.enName!}" readonly class="validate[required,custom[numberAndInteger]]" placeholder="0.00(精度：两位小数)" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}else{
											     <input  type="text" name="${item.enName!}" class="validate[required,custom[numberAndInteger]]" placeholder="0.00(精度：两位小数)" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}
		                 				@}else{
		                 					@if(item.alterFlag == '0'){
											     <input  type="text" name="${item.enName!}" readonly placeholder="0.00(精度：两位小数)" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}else{
											     <input  type="text" name="${item.enName!}" placeholder="0.00(精度：两位小数)" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}
		                 				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
									     <td><font color="red" size="+1">*</font></td>
								    @}
		                 			</td>
		                 		</tr>
			            	@}
		            	@}
		            	@// 2：明细
		            	@if(item.type == '2'){
		            		@var detailList = item.detailList;
		 					<tr>
									<td></td>
									<td>
			            				<#extDetailUpdate detailList="${detailList!}" random="${index}"/>
		                 			</td>
		                 		</tr>
		            	@}
		            	@// 3：按钮(确定和取消)
		            	@if(item.type == '3'){
		            		<#save formId="${formId!}" url="${item.bindEventOrUrl!}" okText="${item.name!}"/>
		            	@}
		            	
		            @}
		            @//准备会议特殊处理
		            \@if(createDate!0 != 0){
		            	<tr class="FormData">
				            <td class="CaptionTD">创建日期:</td>
				            <td class="DataTD">
					           ${dollar}{createDate,dateFormat="yyyy年MM月dd日"}
				            </td>
			            </tr>
			             <tr class="FormData">
					            <td class="CaptionTD">审 批 行:</td>
					            <td class="DataTD">
						           ${dollar}{specApproveorg!}
					            </td>
				            </tr>
		            \@}
	            </tbody>
            </table>
         </form>
        </div>
		@}
	@}
@if(functionCode != 'fun1307'){	
		@if(size == 0){
	       <div id="files" class="tab-pane active clearfix">
		@}else{
			<div id="files" class="tab-pane clearfix">
		@}
        <form name="FormPost" id="files-save" class="FormGrid"  method="post" enctype="multipart/form-data" action="">
        	<input type="hidden" name="projectId" value="${dollar!}{updateObj.projectId!}"/>
	        <input type="hidden" name="conferenceId" value="${dollar!}{updateObj.conferenceId!}"/>
        	<table class="EditTable" width="100%">
			    		<tbody>
							<tr class="FormData">
								<td class="DataTD" style="width:50%;text-align: left">		
										<select id="attchType-select" class="chosen-select tag-input-style">
											\@if(projectId!0 != 0){
												\@var attchType = wins.getProAttchType(projectId!);	
												\@for(map in attchType){
													<option value="${dollar}{map.id!}">${dollar}{map.attchName!}</option>
												\@}
											\@}
										</select>
										
								</td>
								<td class="CaptionTD" style="text-align: left;">										
										<input id="btnAdd" class="btn btn-primary btn-sm" onclick="addFile()" type="button" value="增加上传"><br> 
									</td> 
								</tr>
					<tr class="FormData">
						<td class="CaptionTD" colspan="2">
							<div classs="row" id="addrow">
								<div class="col-xs-4 col-sm-4 "  id="filetype" style="background-color: #dedef8;text-align: center;"><h6>文件类型</h6></div> 
								<div class="col-xs-4 col-sm-4"  id="filename" style="background-color: #dedef8;text-align: center;"><h6>文件</h6></div> 
								<div class="col-xs-4 col-sm-4"  id="operate" style="background-color: #dedef8;text-align: center;"><h6>操作</h6></div> 
							</div>
							
						</td>		
					</tr>
	
		          <div class="clearfix" tag-save-btn style="bottom: -36px; left: 35%; position: absolute;">
					<span value="" class="btn btn-primary btn-sm bigger-110" id="submitForm">
						保 存
					</span>&nbsp;&nbsp;
					<span class="btn btn-primary btn-sm bigger-110" id="files-cancel">
						关 闭
					</span>
				</div>
				</tbody>
		    </table>
         </form>
        </div>
<script type="text/javascript">
 $(function(){
    	
    	var index = layer.index;
        //提交时有一个bug,当修改时，如果ajaxurl验证方式的文本框框没有点击过时，不会提交
        var ajaxS = $("#files-save input[ajaxurl]");
        $.each(ajaxS,function(i,obj){
            $(obj).focus();
        })
        var validId = $("#files-save").Validform({
        	tiptype : 4,
        	datatype:{
    			"files":function(gets,obj){
    				var strRegex = "(.xls|.ppt|.rtf|.doc|.vsd|.xlsx|.pptx|.docx|.et|.jpg|.png|.gif|.jpeg|.pdf)$"; 
    				var reg = new RegExp(strRegex);
    				if(reg.test(gets)){
    					return true;
    				} else{
    					return false;
    				}
    			}	
    		},
            ajaxPost : true,
            beforeSubmit:function(curform){
                var loadi = layer.load(5,2);
                $("#files-save").data('loadi',loadi);
                curform.ajaxSubmit({
                	type:'post',
                	url:'${dollar!}{ctxPath!}/files/upload',
                	//data:jsonStr,
                	success:function(data){
                        layer.close($("#files-save").data('loadi'));
                        if(data.code == 1){
                        	layer.msg(data.msg, 1, 1,function(){
                            	//layer.close(index);
                            });
                        }else{
                        	layer.msg(data.msg);
                        }
                        
                    }
                	
                });
            },
            tiptype : function(msg, o, cssctl) {
                if (!o.obj.is("form")) {
                    if (o.type != 2) {
                        tip.errorTip(msg,o.obj);
                    }
                }
            },
            tipSweep : true
        });

        $("#submitForm").click(function() {
            validId.submitForm(false);
            return false;
        });

        $("#files-cancel").click(function(){
            layer.close(layer.index);
        });

        $("#files-save input,#files-save textarea").blur(function(){
            layer.closeTips();
            return false;
        })

    }); 
	var index = layer.index;
	$("#files-cancel").click(function(){
	    layer.close(index);
	});

</script>
@}
	@for(map in rs){
		@if(!mapLP.first){
		@var formId = map.id;
		@var index = mapLP.index;
		\@createDate = null;
        <div id="${map.groupid}" class="tab-pane clearfix">
        <div class="alert-success"><font style="color:red">提示信息：红色星号为必填选项</font></div>
		<form name="FormPost" id="${formId!}" class="FormGrid"  method="post" enctype="multipart/form-data" 
          	action="">
          	 <input type="hidden" name="projectId" value="${dollar!}{updateObj.projectId!}"/>
	         <input type="hidden" name="conferenceId" value="${dollar!}{updateObj.conferenceId!}"/>
            <table class="EditTable" width="100%">
           		<tbody>
		            @var itemList = map.itemList;
		            @for(item in itemList){
		            	@// 1：采集框
		            	@if(item.type == '1'){
		            		@// 0:文本框
		            		@if(item.collectType == '0'){
			            			@if(strutil.startWith(item.enName,"spec")){
			            				<#input name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" value="${dollar!}{updateObj.${item.enName!}!}" id="${item.enName!}" specFlag="true"/>
			            			@}else{
				            			<#input name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" value="${dollar!}{updateObj.${item.enName!}!}"/>
			            			@}
			            		@}
		            		@// 1:下拉框
			            	@if(item.collectType == '1'){
			            		<#select name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" alterFlag="${item.alterFlag}" options="${item.selgroups}" value="updateObj.${item.enName!}Id"
			            			id="${item.enName!}" class="form-control w110" dataType="${item.dataType!}" hiddenValue="${dollar!}{updateObj.${item.enName!}Name!}"/>
			            	@}
			            	@// 2:日期框
			            	@if(item.collectType == '2'){
			            		<#date name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" alterFlag="${item.alterFlag}" value="${dollar!}{updateObj.${item.enName!}!}"/>
			            	@}
			            	@// 3:数字框
			            	@if(item.collectType == '3'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@//非空标记
			            				@if(item.nullFlag == '0'){
			            					@//可更改标记
			            					@if(item.alterFlag == '0'){
											     <input  type="text" name="${item.enName!}" readonly class="validate[custom[integer]]" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}else{
											     <input  type="text" name="${item.enName!}" class="validate[custom[integer]]" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}
		                 				@}else{
		                 					@if(item.alterFlag == '0'){
											     <input  type="text" name="${item.enName!}" readonly value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}else{
											     <input  type="text" name="${item.enName!}" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}
		                 				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
									     <td><font color="red" size="+1">*</font></td>
								    @}
		                 			</td>
		                 		</tr>
			            	@}
			            	@// 5:下拉多选框
			            	@if(item.collectType == '5'){
			            		<#multipleSelect id="${item.enName!}" name="${item.enName!}" text="${item.name!}" nullFlag="${item.nullFlag}" options="${item.selgroups}" 
			            		dataType="${item.dataType!}" values="updateObj.${item.enName!}" hiddenValue="${dollar!}{updateObj.${item.enName!}Name!}"/>
			            		
			            	@}
			            	@// 6:文本域
			            	@if(item.collectType == '6'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
										@if(item.nullFlag == '0'){
				            				@//可更改标记
											@if(item.alterFlag == '0'){
											     <textarea name="${item.enName!}" readonly class="validate[required,custom[invalidChar]]" style="width:100%;height:150px;">${dollar!}{updateObj.${item.enName!}!} </textarea>
								    	 	@}else{
											     <textarea name="${item.enName!}" class="validate[required,custom[invalidChar]]" style="width:100%;height:150px;">${dollar!}{updateObj.${item.enName!}!} </textarea>
								    	 	@}
			            				@}else{
			            					@//可更改标记
											@if(item.alterFlag == '0'){
											     <textarea name="${item.enName!}" readonly style="width:100%;height:150px;" >${dollar!}{updateObj.${item.enName!}!} </textarea>
								    	 	@}else{
											     <textarea name="${item.enName!}" style="width:100%;height:150px;" >${dollar!}{updateObj.${item.enName!}!} </textarea>
								    	 	@}
			            				@}
			            				
		                 			</td>
		                 			@if(item.nullFlag == '0'){
										     <td><font color="red" size="+1">*</font></td>
									    @}
		                 		</tr>
			            		
			            	@}
			            	@// 7：金额框
			            	@if(item.collectType == '7'){
			            		<tr class="FormData">
									<td class="CaptionTD">${item.name!}:</td>
									<td class="DataTD width-100">
			            				@//非空标记
			            				@if(item.nullFlag == '0'){
			            					@//可更改标记
			            					@if(item.alterFlag == '0'){
											     <input  type="text" name="${item.enName!}" readonly class="validate[required,custom[numberAndInteger]]" placeholder="0.00(精度：两位小数)" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}else{
											     <input  type="text" name="${item.enName!}" class="validate[required,custom[numberAndInteger]]" placeholder="0.00(精度：两位小数)" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}
		                 				@}else{
		                 					@if(item.alterFlag == '0'){
											     <input  type="text" name="${item.enName!}" readonly placeholder="0.00(精度：两位小数)" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}else{
											     <input  type="text" name="${item.enName!}" placeholder="0.00(精度：两位小数)" value="${dollar!}{updateObj.${item.enName!}!}"/>
								    	 	@}
		                 				@}
		                 			</td>
		                 			@if(item.nullFlag == '0'){
									     <td><font color="red" size="+1">*</font></td>
								    @}
		                 			</td>
		                 		</tr>
			            	@}
		            	@}
		            	@// 2：明细
		            	@if(item.type == '2'){
		            		@var detailList = item.detailList;
		 					<tr>
									<td></td>
									<td>
			            				<#extDetailUpdate detailList="${detailList!}" random="${index}"/>
		                 			</td>
		                 		</tr>
		            	@}
		            	@// 3：按钮(确定和取消)
		            	@if(item.type == '3'){
		            		<#save formId="${formId!}" url="${item.bindEventOrUrl!}" okText="${item.name!}"/>
		            	@}
		            	
		            @}
		        	\@if(createDate!0 != 0){
		            	<tr class="FormData">
				            <td class="CaptionTD">创建日期:</td>
				            <td class="DataTD">
					           ${dollar}{createDate,dateFormat="yyyy年MM月dd日"}
				            </td>
			            </tr>
			             <tr class="FormData">
					            <td class="CaptionTD">审 批 行:</td>
					            <td class="DataTD">
						           ${dollar}{specApproveorg!}
					            </td>
				            </tr>
		            \@}
	           </tbody>
        	</table>
	           
           
         </form>
        </div>
		@}
	@}
        </div>
    </div>



 
    
<script type="text/javascript">


function save(formId,url){
	var $formObj = $("#"+formId);
	var flag = $formObj.validationEngine('validate');
	if(!flag){
		return;
	}
	var data = $formObj.serializeJson();
	Angel.ajax(url,data,function(data){
		if(data.code==1){
			layer.msg(data.msg, 1, 1);
			$("#resList").bootstrapTable("refresh");
		}else{
			layer.msg(data.msg);
		}
		
	});
}
	
	$("#attchType-select").chosen({width: "100%",search_contains: false,disable_search_threshold:20});
	
			//没有项目id则不回写数据
			\@var fileName;
			\@if(projectId!0 != 0){
				@var quot = "'";
				var fileIndex = 0;  
				\@var attchList = wins.getProAttchList(projectId!);
				\@var size;
				\@for(attch in attchList){
					\@size = attchLP.size;
					\@var i = attchLP.index -1;
						addFile(${dollar}{i},${quot}${dollar}{attch.projectId!}${quot},${dollar}{attch.kindId!},${quot}${dollar}{attch.kindName!}${quot},
								${quot}${dollar}{attch.originalName!}${quot},${quot}${dollar}{attch.id}${quot});
						\@fileName = attch.originalName!;
					\@if(attchLP.last){
						fileIndex = ${dollar}{size};
					\@}
				\@}
			\@}
			
            function addFile(idx,projectId,kindId,kindName,fileName,pkid) {  
                if(fileIndex>=20){  
                	layer.msg("您已上传超过20个文件！");
                	return;
                }else{
                	if(idx == undefined){
                		addInputFile(fileIndex);
                	}else{
	                    addInputFile(idx,projectId,kindId,kindName,fileName,pkid);
                	}
                    fileIndex++;  
                }  
            }  
		           
		              
		            function addInputFile(idx,projectId,kindId,kindName,fileName,pkid) { 
	            		var span=document.getElementById("addrow");
	                	if (span != null) {  
	                    var divObj = document.createElement("div");  
			                divObj.id = "divfile"+idx; 
		               		divObj.className="row";
		               		divObj.style.marginBottom="10px";

		               	//第一列
	               		var divObj1 = document.createElement("div");
               			divObj1.className="col-xs-4 col-sm-4"; 
               			divObj1.style.textAlign="center";
	              		
               			var textName;
						if(kindName != undefined){
		               	    textName=kindName;//获取文本框
	    				}else{	
		               	    textName=$("#attchType-select").find("option:selected").text();//获取文本框
	    				}
	    				divObj1.innerHTML = "<span>"+textName+"</span>";
	    				//添加附件类型id hidden
	    				var hiddenObj = document.createElement("input"); 
	    				hiddenObj.type = "hidden"; 
	    				hiddenObj.name = "attchList["+idx+"].kindId";
	    				if(kindId != undefined){
	    					hiddenObj.value = kindId;
	    				}else{
		    				hiddenObj.value = $("#attchType-select").val();
	    				}
	    				divObj1.appendChild(hiddenObj); 
	    				
	    				//添加附件类型名称hidden
	    				var hiddenObj = document.createElement("input"); 
	    				hiddenObj.type = "hidden"; 
	    				hiddenObj.name = "attchList["+idx+"].kindName";
	    				if(kindName != undefined){
		    				hiddenObj.value = kindName;
	    				}else{
		    				hiddenObj.value = $("#attchType-select").find("option:selected").text();
	    				}
	    				divObj1.appendChild(hiddenObj);
	    				
	    				//添加项目id hidden
	    				var hiddenObj = document.createElement("input"); 
	    				hiddenObj.type = "hidden"; 
	    				hiddenObj.name = "attchList["+idx+"].projectId";
						if(projectId != undefined){
							hiddenObj.value = projectId;
	    				}else{
	    					hiddenObj.value = "${dollar!}{projectId!}";
	    				}
	    				divObj1.appendChild(hiddenObj);
	    				
	    				//第二列
	    				var divObj2 = document.createElement("div");
	               		divObj2.className="col-xs-4 col-sm-4"; 
	               		divObj2.style.textAlign="center";
	               		if(fileName != undefined){
	               			\@var polpdf = polink.openWindow(request,projectId!,strutil.encode(fileName!),"");
	               			divObj2.innerHTML = "<a href='${dollar}{polpdf}' onclick='changHref(this)'>"+fileName+"</a><br>";
	               		}else{
		               		divObj2.innerHTML = "<input  type='file' name='attchList["+idx+"].file' datatype='files' nullmsg='请先选择文件!' errormsg='不支持的文件类型！' "+
		               				"ajaxurl='${dollar!}{ctxPath!}/files/valiFileName?projectId=${dollar!}{projectId!}' />";
		               				
	               		}
	    				//第三列
	                    var divObj3 = document.createElement("div");
	               		divObj3.className="col-xs-4 col-sm-4";
	               		divObj3.style.textAlign="center"; 
	               		if(fileName != undefined){
		               		divObj3.innerHTML = "<input id = 'btn"+pkid+"' onclick='delInputFile(this)' type='button' class='btn btn-primary btn-sm' value='删除'>";
	               		}else{
		               		divObj3.innerHTML = "<input onclick='delInputFile(this)' type='button' class='btn btn-primary btn-sm' value='删除'>";
	               		}
	                    
	                  	divObj.appendChild(divObj1);  
	                    divObj.appendChild(divObj2);  
	                    divObj.appendChild(divObj3);  
	                    divObj.appendChild(document.createElement("br"));  
	          
	                    span.appendChild(divObj);  
	                }   
		
	            }  
		  
		            function delInputFile(obj) {
		                var idx = obj.id.substring(3);  
		                var span = $("#addrow");
		                if (span != null && idx == '') { 
		                	obj.parentNode.parentNode.remove();
			            	fileIndex--;                
		                }else{
		                	if(window.confirm('你确定要删除该附件吗？')){
		        				$.ajax({
		        		            url: "${dollar}{ctxPath}/files/deleteAttch?pkid="+idx,
		        		            dataType: "json",
		        		            async: false,
		        		            method:"post",
		        		            success: function(data) {
		        		            	layer.msg(data.info, 1, 1,function(){
			        		            	obj.parentNode.parentNode.remove();
			    			            	fileIndex--;
		                                });
		        		            }
		        		        }); 
		        			}else{
		                        return;
		                    } 
		                }  
		            }  
		  

</script>


