<div class="layer">
  <form id="plateform" class="plateform" method="post" action="" enctype="multipart/form-data">
    <input type="hidden" value="" name="id" />
    <table class="EditTable" width="100%"  >
    		<tbody>
    		<tr class="FormData">   			
    						
			</tr>
    		<tr class="FormData">   			
    			<td class="CaptionTD" colspan="4" style="text-align: left;background-color: #d5e2f3"><h4 class="panel-title">基本信息</h4></td>			
			</tr>
    		
			<tr class="FormData">
				<td class="CaptionTD">系统标题:</td>
				<td class=""><input style="width: 500px"  type="text" name="sysTitle" datatype="*" nullmsg="请输入系统标题！" 	ajaxurl="" value="" />
				</td>
				<td class="CaptionTD">系统编码:</td>
				<td class="DataTD"><input type="text" name="code" class="inputxt" ajaxurl="${ctxPath!}/pt/ptcommission/valiCommissionCode" datatype="/^[a-zA-Z]{4}$/g" errormsg="系统编码长度为4位英文字符！" value=""></td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">系统简称:</td>
				<td class=""><input style="width: 500px" type="text" name="simpleTitle" datatype="*" nullmsg="请输入系统简称！" ajaxurl="" value="" style="width:100%;"></td>
				<td class="CaptionTD">会议人数:</td>
					<td> <input type="text" name="totalNum" datatype="/^[1-9][0-9]{0,2}$/" errormsg="请输入1到999之间的整数！" nullmsg="请填写会议人数信息"  value=""></td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">委员会信息说明:</td>
				<td class="DataTD">
				<textarea name="info"  STYLE="width:100%;height:60px;"></textarea></td>
				</tr>
			<tr class="FormData">
				<td class="CaptionTD">委员会系统logo:</td>
				<td class="" colspan="2"><input type="file" id="logo" name="logo" datatype="validimg" errormsg="图片限于png,gif,jpeg,jpg格式!" value="浏览"></td>
			</tr>
			<tr class="FormData"><td class="DataTD "></td><tr>
			<tr class="FormData">
			<td class="CaptionTD" colspan="4" style="text-align: left;background-color: #d5e2f3"><h4 class="panel-title">表决信息</h4></td>
			</tr>

			<tr class="FormData">
				<td class="CaptionTD ">表决标志:</td>
				<td class="" colspan="1"  >
							<input id="voteFlag"  name="voteFlag" type="checkbox" value="0" checked/>&nbsp;表决							
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD">表决方案:</td>
				<td class="" height="30"  colspan="3">
				<select class="voteFlag" name="planId" style="font-size:12px;width:300px;background-color: white">
						@for(plan in listAll){
							<option value="${plan.id!}|${plan.votePlanName!}">
							  ${plan.votePlanName!}
							</option>
						@}
	              <!--   <option>1/2过	半通过</option>
	                <option selected>2/3通过</option>
	                <option>3/5通过</option> -->
	              </select>
	              &nbsp;&nbsp;&nbsp;&nbsp;<input class="voteFlag" name="oneMindFlag" type="checkbox" value="0" checked/>&nbsp;是否具有一票否决	
	              </tr>
			<tr class="FormData">
				<td class="CaptionTD">项目编号生成类型:</td>
				<td class="" height="30"  colspan="">
				<select class="proCodeType" name="proCodeType" style="font-size:12px;width:300px;background-color: white">
							<option value="1">项目添加的时候生成</option>
							<option value="2">会议添加项目的时候生成</option>
	             </select>
				</td>
			</tr>
			<td class="CaptionTD">项目编号生成方案:</td>
				<td class="" height="30"  colspan="3">
				<select class="sysFlag" name="pdsid" style="font-size:12px;width:300px;background-color: white">
						@for(plan in list){
							<option value="${plan.id!}|${plan.sampleName!}">
							  ${plan.sampleName!}
							</option>
						@}
	              </select>
				</td> 
			</tr>
			<tr class="FormData">
				<tr class="FormData">
				<td class="CaptionTD ">表决结果显示:</td>
				<td class="" colspan="3">
					<input class="voteFlag" name="suggShowFlag" type="checkbox" value="0" checked/>&nbsp;显示汇总意见&nbsp;&nbsp;&nbsp;&nbsp;
					<input class="voteFlag" name="deptShowFlag" type="checkbox" value="1" checked/>&nbsp;显示未到部门&nbsp;&nbsp;&nbsp;&nbsp;
					<input class="voteFlag" name="signShowFlag" type="checkbox" value="2" checked/>&nbsp;是否需要委员签字							
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD ">会议类型:</td>
				<td class="" colspan="3">
							<input class="voteFlag" name="offineFlag" type="checkbox" value="0" checked/>&nbsp;具有离线会议							
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD ">表决方式:</td>
				<td class="" colspan="3">
							<input class="voteFlag" name="humanSignFlag" type="checkbox" value="0" checked/>&nbsp;允许人工签名表决							
				</td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD ">表决意见是否强制:</td>
				<td class="" colspan="3">
					<input class="voteFlag" name="suggestFlag" type="radio" value="0" />&nbsp;强制	&nbsp;&nbsp;&nbsp;&nbsp;
					<input class="voteFlag" name="suggestFlag" type="radio" value="1" checked/>&nbsp;不强制但提示	&nbsp;&nbsp;&nbsp;&nbsp;
					<input class="voteFlag" name="suggestFlag" type="radio" value="2" />&nbsp;不强制也不提示
				</td>	
			</tr>

			<tr class="FormData">
				<td class="CaptionTD" colspan="4" style="text-align: left;background-color: #d5e2f3"><h4 class="panel-title">会议状态</h4></td>
			</tr>
			<tr class="FormData">
				<td class="CaptionTD ">系统启用:</td>
				<td class="" colspan="3">
					<input class="" name="state" type="checkbox" value="0" checked/>&nbsp;启用							
				</td>
			</tr>
			<tr>
			<td> 
			<div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
		<input type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form" value="确定"/>&nbsp;&nbsp;
		<input type="reset" class="btn btn-primary btn-sm bigger-110" id="model-save-cancel" value="取消"/>
		</div></td>
			</tr>
			</tbody>
		
    </table>
   
  </form>   
</div>


<!-- <div class="clearfix" tag-save-btn style="bottom: 0px;left: 35%;position:absolute;">
	<input type="submit" class="btn btn-primary btn-sm bigger-110"  id="model-save-form" >确定</span>&nbsp;&nbsp;
	<span class="btn btn-primary btn-sm bigger-110" id="model-save-cancel">
		取消
	</span>
</div> -->
<script type="text/javascript">

$(function(){
	
	var index = layer.index;
/*     var options ={   
            url:'${ctxPath!}/pt/ptcommission/saveCommission',   
            type:'post', 
            dataType:'html',
            data:jQuery("#plateform").serialize(),
            success:function(data){
             if(data.statusCode=="OK") {  
                   
            	}else{

            	} 
            }   
         }; 
     var form =$("#plateform");//form1:表单ID  在表单界面只用这一个表单ID    
         $("#model-save-form").click(function() {
       	  form.ajaxSubmit(options); 
             return false;
         });*/
     	//勾选表决标志
     $("#voteFlag").click(function(){	
     		var rows=$("input[name='voteFlag']:checked");
           	if(rows.length>0){
                  //$('#btnAddMoney').addClass('disabled'); // Disables visually
               	$('.voteFlag').prop('disabled', false); 
                }else{
                	// $('#btnAddMoney').addClass('disabled'); // Disables visually
                	$('.voteFlag').prop('disabled', true); // Disables visually + functionally	
 
                }

     	  });     

         
   $("#plateform").Validform({
	    postonce:true,
		ajaxPost:true,
		datatype:{
        	"validimg":function(gets,obj,curform,regxp){
			//参数gets是获取到的表单元素值，obj为当前表单元素，curform为当前验证的表单，regxp为内置的一些正则表达式的引用;
			var extStart=gets.lastIndexOf(".");
			//console.log(obj);
			if(extStart>-1){
				var ext=gets.substring(extStart,gets.length).toUpperCase();
				if(ext!=".BMP"&&ext!=".PNG"&&ext!=".JPG"&&ext!=".JPEG"){
					return false;
				}
			}else if(extStart<=-1||extStart!='undefined'||extStart!=undefined){
				return true;
			}
			return true;
			//注意return可以返回true 或 false 或 字符串文字，true表示验证通过，返回字符串表示验证失败，字符串作为错误提示显示，返回false则用errmsg或默认的错误提示;
			}
		},
        beforeSubmit:function(curform){
            var loadi = layer.load(5,2);
            $("#plateform").data('loadi',loadi);
            curform.ajaxSubmit({
            	dataType:'json',
            	type:'post',
            	url:'${ctxPath!}/pt/ptcommission/saveCommission',
            	success:function(data){
            		var obj={};
            		//if(document.all){
            		//	obj = eval('(' + data + ')');
            		//}else{
            			obj=data;
            		//}
            		
            		if(obj.code==1){
        				layer.msg(obj.msg, 1, 1,function(){
        					//query();
        					//var treeNodes = [{"id":1, "pId":0, "name":"test1"}];
        				});
        				layer.closeAll('page'); 
        				$("#tableysxm").bootstrapTable('refresh');
        				
        				//location.reload();
        			}else{
        				layer.msg(obj.msg);
        				layer.closeAll('page');
        			}
            	},
            	error:function(){
            		layer.msg("新增失败！");
            		layer.closeAll('page');
            	}
            });
            return false;
        },
        tiptype : function(msg, o, cssctl) {
            if (!o.obj.is("form")) {
                if (o.type != 2) {
                    tip.errorTip(msg,o.obj);
                }
            }
        },
        tipSweep : true
    });

         
 
    // var index=layer.index;
    $("#model-save-cancel").click(function(){
        layer.close(index);
    });
});

</script>

