<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd"
	default-lazy-init="false">

	<bean id="abstractGlueTextLoader"
		class="com.krm.voteplateform.common.glue.loader.AbstractGlueTextLoader"
		abstract="true" />

	<bean id="defaultDbGuleTextLoader"
		class="com.krm.voteplateform.common.glue.loader.impl.DefaultDbGuleTextLoader"
		parent="abstractGlueTextLoader" />

	<!-- glue代码解析工厂类 -->
	<bean id="glueCodeFactory" class="com.krm.voteplateform.common.glue.GlueCodeFactory">
		<!-- 缓存时长[-1:永久][其他数字单位为毫秒] -->
		<property name="cacheTimeout" value="-1" />
		<!-- PT_DYNAMIC_SOURCE表处理类 -->
		<property name="glueTextLoader" ref="defaultDbGuleTextLoader" />
	</bean>

	<!-- 同步项目工作类 即监听中心。系统启动后运行此类的init方法-->
	<bean id="synProjectJobWorker"
		class="com.krm.voteplateform.web.synproject.schedule.SynProjectJobWorker"
		init-method="init" />

	<!-- 广播中心 -->
	<bean id="applicationEventMulticaster"
		class="org.springframework.context.event.SimpleApplicationEventMulticaster">
		<property name="errorHandler" ref="sysProjectErrorHandler" />
	</bean>

	<!-- 统一事件异常接收器 -->
	<bean id="sysProjectErrorHandler"
		class="com.krm.voteplateform.web.synproject.error.SynProjectErrorHandler" />

	<!-- Spring容器启动后加载该类,用于系统启动后存入关联系统的相关信息 -->
	<bean class="com.krm.voteplateform.common.spring.listener.InitDataListener">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>

	<!-- 同步项目调度平台调度器 ，初始化化运行init方法-->
	<bean id="synProjectJobSchedule"
		class="com.krm.voteplateform.web.synproject.schedule.SynProjectJobSchedule"
		init-method="init" />

</beans>