<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krm.voteplateform.web.test.dao.TestMapper">

	<select id="findTestPage" resultType="java.util.Map">
		select * from #{tableName}_BAS_DICT
		<where>
			CATEGORY = #{aa}
		</where>
	</select>
</mapper>
