<style type="text/css">
	/* #tableCode{width:835px;} */
</style>
<div class="widget-box widget-color-blue">
	<div class="widget-header clearfix">
	</div>

	<div class="widget-body">
		<div class="widget-main padding-8">
			<div class="row">
				<div class="col-sm-3">
					<div class="widget-box">
						<div class="widget-header widget-header-flat widget-header-small">
							<h5 class="widget-title">平台机构</h5>
						</div>
						<div class="widget-main padding-8">
							<ul id="treeMenu" class="ztree" style="min-height: 680px;"></ul>
						</div>
					</div>
				</div>
				<div class="col-sm-9" id="list-page">
					<div class="widget-box" style="overflow-x:auto">
						<div id=""  class="perPassShow" style="text-align: right">
						</div>
						<div id="widget-box" class="widget-box" style="margin-top:50px;">
						    <div class="form-inline" role="form" >
						    	<div class="form-group">
								&nbsp;&nbsp;<span>数据源反射类地址:</span>
								<input id="showDataSource" name="perPass"  value="" class="form-control w150" type="text"  disabled="true">
								</div>
							</div>
						</div>
					<div class="perPassShow" style="overflow-x:auto" style="width:850px">
						<div class="widget-header widget-header-flat widget-header-small" style="width:925px"> 
							<h5 class="widget-title">平台用户</h5>
						</div>
						<div class="widget-body" style="margin-top:3px;overflow-x:auto;width:925px">
							<table id="tableCode" style="width:935px">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<SCRIPT LANGUAGE="JavaScript">
   // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
   var setting = {
		   async:{  
		         enable:true,  
		         url:"${ctxPath!}/pt/plateformorg/listOrgTree",  
		         autoParam:"id",  
		         dataType:"json",  
		        },
			view:{
				expandSpeed:100,
				selectedMulti : false,
				fontCss:function(treeId, treeNode) {
					return (!!treeNode.highlight) ? {"font-weight":"bold","color":"red"} : {"font-weight":"normal","color":"#333"};
				}
			},
			edit: {
				enable: false
			},
			data : {
				simpleData : {
					enable : true,
					idKey : "id",
					pIdKey :"parentId",
					rootPId:"parentId" 
				},
				key:{
					name:"orgname"
				}
			},
			callback: {
				onClick:onClickNode
			}
		};

   
	var zNodes;
	var zTreeObj; //获取初始化树对象
	var root;
	function initTreeType(zNodes){
			// zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
			zTreeObj  = $.fn.zTree.init($("#treeMenu"), setting, zNodes);
			return zTreeObj;
	}
	
		 /** 
		  * 刷新当前根节点
		  */ 
	function refreshParentNode(id){ 
		 //var snode=zTreeObj.getSelectedNodes();
		 var root=zTreeObj.getNodeByParam("id",0, null);
		 zTreeObj.reAsyncChildNodes(root , "refresh");
		 var nodes = zTreeObj.getNodes();  
		 zTreeObj.expandNode(nodes[0], true); 
		//alert(3);
		 //zTreeObj.selectNode(node);
		} 
	
	/*树查询*/
 	$(function(){  
		   	$.ajax({  
		       async:false,  
		       cache:false,  
		       type: 'POST',  
		       dataType : "json",  
		       url:"${ctxPath!}/pt/plateformorg/listOrgTree",//请求的action路径  
		       error: function () {//请求失败处理函数  
		    		layer.msg("未找到树！",3,1);  
		       },  
		       success:function(data){ //请求成功后处理函数。    
		           	var datajson=JSON.stringify(data);
		           //var datajson=jQuery.parseJSON(data)
		              //初始根节点
		            //root = {open:false,isParent:true};
						   //root['parentId'] = 0;
						   //root['sysText'] =data.sysText;
						   //alert(datajson);
		           if(data.length>0){
		        	   //alert(1);
		        	   zNodes=data;
					   //zNodes.splice(0, 0, root); //添加一个根节点,根节点默认位0
						zTreeObj=initTreeType(zNodes);
		        	   		//根节点是0，已初始完成,在public.js
		        	     var nodes = zTreeObj.getNodes();
		        	     zTreeObj.selectNode(nodes[0].children[0]);
		        	     iniTable(zTreeObj.getSelectedNodes()[0].id); //data[1].id
		        	
		           }else{
		        	   //alert(2);
		        	   //初始根节点
						   zTreeObj=initTreeType(root);
						   var nodes = zTreeObj.getNodes();
						   zTreeObj.expandNode(nodes[0],true);
		        	   	   iniTable();
		           }
		       }  
   			}); 
 	});
  
	//节点点击事件
	function onClickNode(event, treeId, treeNode) {
			//paging(opts.form,1); //刷新表单
			var idKey=setting.data.simpleData.idKey;
			//alert(treeNode.id);
			//console.log(treeId);
			//console.log(treeNode);
			//console.log('${ctxPath!}/pt/bascode/detailCode?'+idKey+'='+eval("treeNode."+idKey));
			//var queryUrl='${ctxPath!}/pt/bascode/detailCode?'+idKey+'='+treeNode.id;
			//先查询反射是否存在
			var queryUrl='${ctxPath!}/pt/plateformorg/clickToListUser?'+idKey+'='+treeNode.id
			var data=initAjaxReflect(queryUrl);//做了刷新操作和隐藏操作
			//alert(data);
		}

	
   

	 //获取选中节点
	function getchkedNode(){
		 var zTreeObj=$.fn.zTree.getZTreeObj("treeMenu");	
		 var snode=zTreeObj.getSelectedNodes();
		 if(snode==null||snode<1){
			 layer.alert("请单击选择右边一个节点");
			 return
		 }else if(snode[0].id==0){
			 layer.alert("不能选择根节点新增");
			 return
		 }
		 return snode[0].id;
		}
 //==========================
	function initAjaxReflect(queryUrl){
			var data;
		  $.post(queryUrl,function(result){
			  	data=result;
			  	//console.log(result);
				if(data!=null&&data.length==1&&data[0].pefPass!=null&&data[0].pefPass!=''){
					//layer.msg("找到相关数据!",1,1);
					//$("#showDataSource").html(data[0].pefPass);
					//flag=data.length;
					$(".perPassShow").hide();
					$("#showDataSource").val(data[0].pefPass);
					$("#widget-box").show();
					
				}else{
					//layer.msg("未找到数据!",3,1);
					$('#tableCode').bootstrapTable('refresh',{'url':queryUrl});
					$("#widget-box").hide();
					$(".perPassShow").show();
					//alert(3);
				}
			},"json"); 
		 return data;
 }
	 /*bootstrap表单相关*/
	 function iniTable(id){
		 var queryUrl = '${ctxPath!}/pt/plateformorg/clickToListUser?id='+id;
		 	//先查询反射是否存在
		 	initAjaxReflect(queryUrl);
		 
			 function formate(value, row, index) {
					return index + 1;
				};
			 
			 function formatV(value,row,index) {
				 var edit='<a  href="javascript:void(0);" onclick="addPtAdmin('+row.id+')"' +
					' data-data="{id:&apos;' + row.id + '&apos;}" >' +
	                ' <i class="ace-icon fa fa-pencil midder-130"></i>设置' +
					' </a>';
	        		 return edit;
				};
			
			function formaterchk(value,row,index) {
						//alert(value);
						if (row.sysFlag == 0||row.sysFlag== '0') {
							return {disabled:true,checked:true};
						} 
					}; 	
			 $("#tableCode").bootstrapTable({
					inconSize : 'sm',
					height:300,
					url : queryUrl,
					striped : true,
					columns : [{
						field : "id",
						title : '编号',
						sortable : true,
						formatter : function(value, row, index) {
							return index + 1;
						}
					}, {
						field : "userName",
						title : '姓名',
						sortable : true
					}, {
						field : "post",
						title : '职位',
						sortable : true
					}, {
						field : "id",
						title : '操作',
						sortable : true,
						formatter : formatV
					}]
				});
 }
//=============================
	//把用户设为委员会管理员
	function addPtAdmin(id){
		layer.confirm('确定要把此用户设为管理员吗？',function(){
			 $.post("${ctxPath!}/pt/userRole/addPtAdmin",{'id':id},function(result){
				 $("#fill-main-content").html(result);
			 },"html");
			 layer.closeAll();
		});
}
	/*新增*/
	$("#newAdd").click(function(){
		
		var id=getchkedNode();//子节点cgid
		//alert(id);
		if(id!=null){
			$.cuslayer(
					{
					mode:"page",
					url:"${ctxPath!}/pt/bascode/toAddBasCode",
					height:'65%',
					width:'50%',
					data:{'id':id},
					title:'添加代码'
					}
			);
		}
	})
	/*修改*/
	$("#newUpdate").click(function(){
		var rows = $('#tableCode').bootstrapTable("getSelections");
		var newArr=[];
		$.each(rows,function(index,obj){
			if(obj.sysFlag==1){
				newArr.push(obj);
			}
		});
		if(newArr.length==0){
			layer.alert("请选择要操作的非平台数据");
			return;
		}else if(newArr.length>1){
			layer.alert("请选择一条数据进行非平台操作");
			return;
		}else{
			var row = newArr[0];
			var id= row.id;
			$.cuslayer(
					{
					mode:"page",
					url:"${ctxPath!}/pt/bascode/toEditBasCode",
					height:'65%',
					width:'50%',
					data:{'id':id},
					title:'添加代码'
					}
			);
		}
	});
	
	/*删除code信息*/
	$('#delCode').click(function(){
		var checks = $("#tableCode").bootstrapTable('getSelections');
		var newArr=[];
		if(checks.length==0){
			layer.alert("请选择要操作的数据");
			return;
		}else{
			$.each(checks,function(index,obj){
				if(obj.sysFlag==1){
					newArr.push(obj);
				}
			});
			if(newArr.length==0){
				layer.alert("请选择要操作的非平台数据");
			}else{
				layer.confirm('确定删除数据吗？',function(){
							for(var i=0;i<newArr.length;i++){
								var row = newArr[i];
								  $.post("${ctxPath!}/pt/bascode/removeBasCode",{'id':row.id},function(result){
									if(result.code==1){
										layer.msg("删除成功!",1,1);
										 $("#tableCode").bootstrapTable('refresh');
									}else{
										layer.msg("删除失败!");
									}
								},"json"); 
							} 
						});
			}
		}
	});
	  </SCRIPT>
 
 