<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title">当前委员会系统管理员</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('basMessageTable')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
				<table  id="basMessageTable" class="table table-hover "></table>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" value="${massCodes!}" id="massCodes" name="massCodes"/>

<script type="text/javascript">
$(function(){
	$("#sidebar-collapse").click(function(){
		refreshTable('basMessageTable');
	});
	$("#basMessageTable").bootstrapTable({
		inconSize : 'sm',
		url:'${ctxPath!}/pt/userRole/listUserManager',
		striped : true,
		height:300,
		columns : [{
			field : "userName",
			title : '姓名',
			sortable : true
		}, {
			field : "orgname",
			title : '所属机构',
			sortable : true
		}, {
			field : "post",
			title : '职务',
			sortable : true,
		},{
			title: '操作',
	        field: 'id',
	        formatter:function(value,row,index){
	        	var idValue="'"+value+"'";
	        	var edit='<a  href="javascript:void(0);" onclick="deleteRow('+idValue+')"' +
					'data-title="删除数据"' +
					' data-url="${ctxPath}/pt/basMessage/upBasMessage"' +
					'data-data="{id:' + row.id + '}" >' +
	                '<i class="ace-icon fa fa-remove bigger-130"></i>删除' +
					'</a>';
	        		 return edit;
	        }
			
		}]
	}); 
});

function deleteRow(id){
		id=id.replace(/\'/g, "");
		layer.confirm("你确定要删除吗？",function( ){
				 $.post("${ctxPath!}/pt/userRole/deleteById",{'id':id},function(result){
					 $("#fill-main-content").html(result);
				 },"html");
			layer.closeAll();
		});
}

</script>
