<script type="text/javascript">
	$(function() {
		$("#taskList").bootstrapTable({
			inconSize : 'sm',
			url : '${ctxPath!}/pt/task/taskList',
			height:400,
			striped : true,
			columns : [ {
				field : "id",
				title : '编号'
			}, {
				field : "taskName",
				title : '任务名称'
			}, {
				field : "taskExplain",
				title : '任务说明'
			}, {
				field : "relyTask",
				title : '依赖运行任务编号'
			}, {
				field : "taskRuneDate",
				title : '任务日期'
			}, {
				field : "taskRuneTime",
				title : '任务切换时间点'
			}, {
				field : "taskType",
				title : '执行类型',
				formatter : function(value, row, index) {
					if (value == '0') {
						return "执行类";
					} else {
						return "执行脚本";
					}
				}
			}, {
				field : "taskBody",
				title : '任务执行的类\文件'
			}, {
				field : "taskMethod",
				title : '执行方法名'
			}, {
				field : "taskRunStatus",
				title : '执行状态',
				formatter : function(value, row, index) {
					var result = "";
					if (value==undefined||value == '') {
						result = "无执行";
					} else if (value == '1') {
						result = "时间未满足";
					} else if (value == '2') {
						result = "依赖未满足";
					} else if (value == '3') {
						result = "进入队列";
					} else if (value == '4') {
						result = "正在执行 ";
					} else if (value == '5') {
						result = "执行成功";
					} else if (value == '6') {
						result = "执行失败";
					} else if (value == '7') {
						result = "重置成功";
					} else if (value == '8') {
						result = "忽略失败";
					} else if (value == '9') {
						result = "任务失败正在重做";
					}else if(value=='10'){
						result ="忽略依赖";
					}else if(value=='11'){
						result ="数据文件未到达";
					}
					return result;
				}
			}, {
				field : "taskRunTime",
				title : '执行时间',
				formatter : function(value, row, index) {
					return row.taskRunDate==undefined?"":row.taskRunDate + " " + row.taskRunTime==undefined?"":row.taskRunTime;
				}
			}, {
				field : 'taskRunStatus',
				title : '错误日志下载',
				formatter : function(value, row, index) {
					var tempHtml = "";
					if(value=='6'){
						tempHtml="<a href='${ctxPath}/pt/task/downfile?filepath="+row.taskRunLogPath+"'>下载</a>";
					}
					return tempHtml;
				}
			},{
				field : 'taskRunStatus',
				title : '操作',
				formatter : function(value, row, index) {
					var t = $("#tmpl").render(row);
					return t;
				}
			} ],
			contentType : "application/x-www-form-urlencoded",
			queryParamsType : "",
			dataType : "json",
			method : "post"
		});
	});
	function wp(){
		WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});
	}
	function taskReset(id){
		$("#changeDatediv"+id).show();
	}
	
	function dotaskReset(flag,id){
		var taskDate="";
		if(flag==1){
			taskDate=$("#taskDate"+id).val();
			$.post("${ctxPath}/pt/task/taskReset",{id:id,taskDate:taskDate},function(result){
				layer.msg(result.msg);
				if(result.code==1){
					$("#changeDatediv"+id).hide();
					$("#taskList").bootstrapTable('refresh');
				}
			},"json");
		}else{
			$("#changeDatediv"+id).hide();
		}
	}
	
	function doOper(taskRunStatus,id,taskRuneDate,type){
		var obj = {};
		var row={taskRunStatus:taskRunStatus,id:id,taskRuneDate:taskRuneDate};
		if(type==1){//任务日切
			obj["confirmMsg"] = "确认要任务日切吗？"
			obj["url"] = "${ctxPath}/pt/task/taskNextdate";
			var flag = 1;
			if(row.taskRunStatus==undefined||row.taskRunStatus==''){
				flag = 1;
			}else if(row.taskRunStatus=='5'||row.taskRunStatus=='7'){
				flag = 2;
			}
			obj["data"]={id:row.id,taskDate:row.taskRuneDate,flag:flag};
		}else if(type==2){//失败重做
			obj["confirmMsg"] = "确认要失败重做吗？"
			obj["url"] = "${ctxPath}/pt/task/taskagaindo";
			obj["data"]={id:row.id,taskDate:row.taskRuneDate};
		}else if(type==3){//重置成功
			obj["confirmMsg"] = "确认要重置成功吗？"
			obj["url"] = "${ctxPath}/pt/task/taskelideSuc";
			obj["data"]={id:row.id,taskDate:row.taskRuneDate};
		}else if(type==4){//忽略依赖
			obj["confirmMsg"] = "确认要忽略依赖吗？"
			obj["url"]  = "${ctxPath}/pt/task/taskelideRelyon";
			obj["data"]={id:row.id,taskDate:row.taskRuneDate};
		}else if(type==5){//删除当前日志
			obj["confirmMsg"] = "确认要删除当前运行日志？"
			obj["url"] = "${ctxPath}/pt/task/delTaskLog";
			obj["data"]={id:row.id,taskDate:row.taskRuneDate};
		}
	
	layer.confirm(obj.confirmMsg,function(index) {
			Angel.ajax(obj.url, obj.data, function(result) {
				layer.msg(result.msg);
				if(result.code==1){
					$("#taskList").bootstrapTable('refresh');
				}
			});
			layer.close(index);
		});
	}
</script>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title">任务列表</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2" onclick="refreshTable('tableysxm')">  <i
							class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>
			<div class="widget-body">
				<div id="list-page" class="widget-main padding-8">
				<table id="taskList"></table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/x-jsrender" id="tmpl">
		{{if taskRunStatus==undefined || taskRunStatus=="" ||taskRunStatus=="5"||taskRunStatus=="7"}}
			<div id="changeDatediv{{:id}}"  name="changeDatediv" style='display:none'>
				<input id="taskDate{{:id}}" name="taskDate" type="text" readonly="readonly" maxlength="15" class="Wdate span2"  value="{{:taskRuneDate}}" onclick="wp();"/>
				<br/>
				<input id="btnCancel" class="btn" type="button" value="确定" onclick="dotaskReset(1,'{{:id}}')"/>
				<input id="btnCancel" class="btn" type="button" value="取消" onclick="dotaskReset(2,'{{:id}}')"/>
			</div>
        	<a href="javascript:void(0)" onclick="taskReset('{{:id}}');">任务重置</a>
			<a href="javascript:void(0);" onclick="doOper({{:taskRunStatus}},'{{:id}}','{{:taskRuneDate}}',1)">任务日切</a>
		{{else taskRunStatus=="6"}}
			<a href="javascript:void(0);" onclick="doOper({{:taskRunStatus}},'{{:id}}','{{:taskRuneDate}}',2)">任务重做</a>
			<a href="javascript:void(0);" onclick="doOper({{:taskRunStatus}},'{{:id}}','{{:taskRuneDate}}',3)">重置成功</a>
		{{else taskRunStatus=="2"}}
			<a href="javascript:void(0);" onclick="doOper({{:taskRunStatus}},'{{:id}}','{{:taskRuneDate}}',4)">忽略依赖</a>
			<a href="javascript:void(0);" onclick="doOper({{:taskRunStatus}},'{{:id}}','{{:taskRuneDate}}',3)">重置成功</a>
		{{else taskRunStatus=="4"}}
			<a href="javascript:void(0);" onclick="doOper({{:taskRunStatus}},'{{:id}}','{{:taskRuneDate}}',5)">删除日志</a>
		{{/if}}
</script>